@model  ServicesManagement.Web.Models.Dashboard.IndicadoresOpModel

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>INDICADORES DE OPERACION</h5>
                <div class="ibox-tools">
                    <div class="btn-group">
                        @if (Model.op.Equals("1"))
                        {
                            <button type="button" id="btnIndCns1" name="indicadores" class="btn btn-xs btn-white active" onclick="Consulta('1')">Hoy</button>
                        }
                        else
                        {
                            <button type="button" id="btnIndCns1" name="indicadores" class="btn btn-xs btn-white" onclick="Consulta('1')">Hoy</button>
                        }
                        @if (Model.op.Equals("2"))
                        {

                            <button type="button" id="btnIndCns2" name="indicadores" class="btn btn-xs btn-white active" onclick="Consulta('2')">Mensual</button>}
                        else
                        {
                            <button type="button" id="btnIndCns2" name="indicadores" class="btn btn-xs btn-white " onclick="Consulta('2')">Mensual</button>
                        }
                        @if (Model.op.Equals("3"))
                        {


                            <button type="button" id="btnIndCns3" name="indicadores" class="btn btn-xs btn-white active" onclick="Consulta('3')">Anual</button>
                        }
                        else
                        {
                            <button type="button" id="btnIndCns3" name="indicadores" class="btn btn-xs btn-white " onclick="Consulta('3')">Anual</button>
                        }


                        <div class="input-group date" id="datetimepicker1">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input class="form-control datepicker" id="txtFecIndIni"
                                   type="text" placeholder="Fecha Inicio" value="@Model.FecIni">
                        </div>
                        <div class="input-group date" id="datetimepicker2">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input class="form-control datepicker" id="txtFecIndFin"
                                   type="text" placeholder="Fecha Fin" value="@Model.FecFin">
                        </div>


                        <select id="ddlTrans" class="form-control">
                            @foreach (var item in Model.DashboardTrans)
                            {
                                if (item.Selected)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                        <select id="ddlTipoEnvio" class="form-control">
                            @foreach (var item in Model.DashboardTipoEnvio)
                            {
                                if (item.Selected)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                        <select id="ddlTipoServicio" class="form-control">
                            @foreach (var item in Model.DashboardTipoServicio)
                            {
                                if (item.Selected)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                        <select id="ddlTipoLogistica" class="form-control">
                            @foreach (var item in Model.DashboardTipoLogistica)
                            {
                                if (item.Selected)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>

                        <button type="button" id="btnIndCns4" name="indicadores" class="btn btn-xs btn-white" onclick="Consulta('4')">Aplicar filtros</button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <h2>Mercancias Generales</h2>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos pendientes por recolectar
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.general.TotalPend </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.general.PorcPend %
                                </div>
                                @*<small>Total income</small>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="ibox ">

                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos en transito
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.general.TotalTransito </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.general.PorcTransito %
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos entregados
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.general.TotalEnt </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.general.PorcEntregadas %
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <hr>
                <h2>
                    CEDIS
                </h2>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos pendientes por recolectar
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.cedis.TotalPend </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.cedis.PorcPend %
                                </div>
                                @*<small>Total income</small>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="ibox ">

                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos en transito
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.cedis.TotalTransito </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.cedis.PorcTransito %
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos entregados
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.cedis.TotalEnt </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.cedis.PorcEntregadas %
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h2>
                    DROPSHIP VENDOR
                </h2>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos pendientes por recolectar
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.dsv.TotalPend </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.dsv.PorcPend %
                                </div>
                                @*<small>Total income</small>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="ibox ">

                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos en transito
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.dsv.TotalTransito </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.dsv.PorcTransito %
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos entregados
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.dsv.TotalEnt </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.dsv.PorcEntregadas %
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <h2>
                    DROPSHIP TIENDA
                </h2>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos pendientes por recolectar
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.dst.TotalPend </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.dst.PorcPend %
                                </div>
                                @*<small>Total income</small>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="ibox ">

                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos en transito
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.dst.TotalTransito </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.dst.PorcTransito %
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <span class="label label-info float-right">@Model.Frecuencia</span>
                                </div>
                                <h5>
                                    Envíos entregados
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"> @Model.dst.TotalEnt </h1>
                                <div class="stat-percent font-bold text-success">
                                    @Model.dst.PorcEntregadas %
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




</div>
