
@model IEnumerable<ServicesManagement.Web.Models.CarrierModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Promociones $ Envío";

}


<link href="view-source:http://webapplayers.com/inspinia_admin-v2.8/sweetalert.html">

<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h2>Promociones $ Envío</h2></div>
    <div class="col-4"></div>
</div>
<div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
    <br />
    <div class="row">
        <div class="col-12">
            <table id="tblConsulta" class="table table-striped table-bordered table-hover">
                <thead>
                    @*<thead class="bg-primary">*@
                    <tr>
                        <th>Tipo de Almacen</th>
                        <th>Proveedor</th>
                        <th>Nombre Proveedor</th>
                        <th>Almacen</th>
                        <th>Servicio Estandar</th>
                        <th>Servicio Express</th>
                        <th>Fecha de Actualizacion</th>
                        <th>Hora de Actualizacion</th>
                        <th>Usuario de Actualizacion</th>
                        <th>Activo</th>
                        <th name="accion">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Promociones $ Envío</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo de Almacén</label>
                                <select class="form-control" id="ddlAlmacen">
                                    <option selected="selected" value="0">--Tipo de Almacen--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Proveedor</label>
                                <select class="form-control" id="ddlProveedor">
                                    <option selected="selected" value="0">--Proveedor--</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Transportista</label>
                                <select class="form-control" id="ddlTransportista">
                                    <option selected="selected" value="0">--Transportista--</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo de Catalogo</label>
                                <select class="form-control" id="ddlCatalogo">
                                    <option selected="selected" value="0">--Tipo de Almacen--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Formato Tienda</label>
                                <select class="form-control" id="ddlFormatoTienda">
                                    <option selected="selected" value="0">--Proveedor--</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo de Envio</label>
                                <select class="form-control" id="ddlTipoEnvio">
                                    <option selected="selected" value="0">--Transportista--</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo de Servicio</label>
                                <select class="form-control" id="ddlTipoServicio">
                                    <option selected="selected" value="0">--Tipo de Servicio--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo Logistica</label>
                                <select class="form-control" id="ddlTipoLogistica">
                                    <option selected="selected" value="0">--Tipo Logistica--</option>

                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>C.P. Origen</label>
                                <input type="number" id="txtCpOrigen" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>C.P. Destino</label>
                                <input type="number" id="txtCpDestino" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Ciudad Origen</label>
                                <input type="text" id="txtCdOrigen" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Ciudad Destino</label>
                                <input type="text" id="txtCdDestino" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Estado Origen</label>
                                <input type="text" id="txtOrigen" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Estado Destino</label>
                                <input type="text" id="txtDestino" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Número de Material</label>
                                <input type="text" id="txtNoMaterial" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>SKU</label>
                                <input type="text" id="txtSKU" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Peso Minimo</label>
                                <input type="number" id="txtPesoMin" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Peso Maximo</label>
                                <input type="number" id="txtPesoMax" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Meses Sin Intereses</label>
                                <input type="number" id="txtMeses" class="form-control" />
                            </div>
                        </div>
                        @*<div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>SKU</label>
                                <input type="text" id="txtSKU" class="form-control" />
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Fecha inical de tarifa especial</label>
                                <input type="date" id="txtFecIniTarifa" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Hora inical de tarifa especial</label>
                                <input type="time" id="txtHoraIniTarifa" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Fecha final de tarifa especial</label>
                                <input type="date" id="txtFecFinTarifa" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Hora final de tarifa especial</label>
                                <input type="time" id="txtHoraFinTarifa" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <div class="form-group">
                                <label>Estatus</label>
                                <select class="form-control" id="id_estatus" name="id_estatus">
                                    @*<option selected="selected" value="1">--SELECCIONA--</option>*@
                                    <option selected="selected" value="1">ACTIVO</option>
                                    <option value="0">INACTIVO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" onclick="ActionUpd()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {


    <script>

        $(document).ready(function () {

            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $('#tblConsulta').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        { extend: 'excel', className: 'btn-primary' },
                        {
                            text: 'Alta',
                            action: function (e, dt, node, config) {


                                $("#modal-form").modal('show');

                            }
                            , className: 'btn-primary'
                        }
                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );

            //GetConsulta();
            IniciarComboTipoAlmacen();
            CmboTipoEnvio();
            CmboTipoServicio();
            CmboTipoLogistica();
        });

        function GetConsulta() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetZonas", " PromocionesCostoEnvio")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    debugger;
                    if (json.Success) {


                        var myTable = $('#example').DataTable();
                        myTable
                            .clear()
                            .draw();
                        for (var i = 0; i < json.resp.length; i++) {


                            myTable.row.add([
                                json.resp[i].IdZona,
                                json.resp[i].Desc_Zona,
                                json.resp[i].Created_User,
                                json.resp[i].CreateDate,
                                "",
                                json.resp[i].BitActivo,
                                "<button onclick=\"GetById(" + json.resp[i].IdZona + ")\" type=\"button\" class=\"btn btn-white btn-circle\"> <i class=\"fa fa-edit\"></i></button><button type=\"button\" onclick=\"Delete(" + json.resp[i].IdZona + ")\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-minus\"></i></button>"
                            ]).draw();
                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function ActionUpd() {
            debugger;
            if (document.getElementById("flag_edit").value == "1") {
                Edit();
            }
            else {
                Add();
            }
        }

        function Add() {
            _Desc_Zona = $("#txtDesc_Zona").val();
            _BitActivo = $("#id_estatus").val();
            if (_Desc_Zona.length == 0) {
                $("#txtDesc_Zona").focus();
                return;
            }

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("AddZonas", "Catalogo")',
                data: {
                    Desc_Zona: _Desc_Zona,
                    BitActivo: _BitActivo

                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    debugger;
                    if (json.Success) {
                        $("#txtDesc_Zona").val('');
                        GetConsulta();
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function Edit() {
            _IdZona = $("#hddId").val();
            _Desc_Zona = $("#txtDesc_Zona").val();
            _BitActivo = $("#id_estatus").val();

            if (_Desc_Zona.length == 0) {
                $("#txtDesc_Zona").focus();
                return;
            }

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("UpdZonas", "catalogo")',
                data: {
                    IdZona: _IdZona,
                    Desc_Zona: _Desc_Zona,
                    BitActivo: _BitActivo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    debugger;
                    if (json.Success) {

                        GetConsulta();

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function Delete(id) {
            if (confirm('Esta seguro que desea eliminar el registro : ' + id))
            {
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("DelZonas", "catalogo")',
                    data: {
                        IdZona: id
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            GetConsulta();
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.alert(errorThrown);
                    }
                });
            }
        }

        function GetById(id) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetZonasId", "Catalogo")',
                data: {
                    IdZona: id
                },

                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        document.getElementById("hddId").value = json.resp.IdZona;
                        document.getElementById("txtDesc_Zona").value = json.resp.Desc_Zona;
                        if (json.resp.BitActivo) {
                            document.getElementById("id_estatus").value = 1;
                        } else { document.getElementById("id_estatus").value = 0}
                        document.getElementById("flag_edit").value = 1;


                        $("#modal-form").modal('show');


                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                   alert(errorThrown);
                }
            });

        }



    </script>
    @*combos*@
<script>
    function IniciarComboTipoAlmacen() {
    $.ajax({
        async: false,
        type: "GET",
        url: '@Url.Action("IniciarComboTipoAlmacen", "Catalogo")',
        data: {

        },
        datatype: "html",
        success: function (json) {
            debugger;
            if (json.Success) {
                var sel = $("#ddlAlmacen");
                sel.empty();

                $('#ddlAlmacen').get(0).options[0] = new Option("--SELECCIONE--", "0");
                for (var i = 0; i < json.resp.length; i++) {
                    sel.append('<option value="' + json.resp[i].idOwner + '">' + json.resp[i].ownerName +  '</option>');
                }
            }
            else {
                alert(json.Message);
            }
        }
        , error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);

        }
    });
    }

    $('#ddlAlmacen').change(function () {
        _idOwner = $("#ddlAlmacen").val();
            CmboProveedores(_idOwner);
    });

    function CmboProveedores(_idOwner) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetProveedoresCmb", "Catalogo")',
                data: {
                    idOwner: _idOwner
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlProveedor");
                        sel.empty();

                        $('#ddlProveedor').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdProveedor + '">' + json.resp[i].NombreProveedor + '</option>');
                        }
                        sel.focus();
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }

    function CmboTipoEnvio() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTipoEnvio", "Catalogo")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlTipoEnvio");
                        sel.empty();

                        $('#ddlTipoEnvio').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdProveedor + '">' + json.resp[i].NombreProveedor + '</option>');
                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }

    function CmboTipoServicio() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTipoServicio", "Catalogo")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlTipoServicio");
                        sel.empty();

                        $('#ddlTipoServicio').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdTipoServicio + '">' + json.resp[i].Desc_TipoServicio + '</option>');
                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }
        function CmboTipoLogistica() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTipoLogistica", "PromocionesCostoEnvio")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlTipoLogistica");
                        sel.empty();

                        $('#ddlTipoLogistica').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdTipoLogistica + '">' + json.resp[i].TipoLogistica + '</option>');
                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }
</script>
}






