
@model IEnumerable<ServicesManagement.Web.Models.CarrierModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Promociones Costo de Envío ";

}


<link href="view-source:http://webapplayers.com/inspinia_admin-v2.8/sweetalert.html">

<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h2>Promociones Costo de Envío</h2></div>
    <div class="col-4"></div>
</div>
<div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
    <br />
    <div class="row">
        <div class="col-12">
            <table id="tblConsulta" class="table table-striped table-bordered table-hover">
                <thead>
                    @*<thead class="bg-primary">*@
                    <tr>
                        <th>Codigo Postal <br />  Origen</th>
                        <th>Codigo Postal <br />  Destino</th>
                        <th>Ciudad <br /> Origen</th>
                        <th>Ciudad <br /> Destino</th>
                        <th>Estado <br /> Origen</th>
                        <th>Estado <br /> Destino</th>
                        <th>Proveedor</th>
                        <th>Transportista</th>
                        <th>Id Categoria <br /> (SAP)</th>
                        <th>Categoria <br /> (SAP)</th>
                        <th>Id SubCategoria <br /> (SAP)</th>
                        <th>SubCategoria <br /> (SAP)</th>
                        <th>Numero de Material</th>
                        <th>EAN</th>
                        <th>Nombre SKU</th>
                        <th>Peso Mínimo</th>
                        <th>Peso Máximo</th>
                        <th>Meses sin <br /> Intereses</th>
                        <th>Compras <br /> Mayores a </th>
                        <th>Compras <br /> Menores a </th>
                        <th>Fecha inical de <br /> tarifa especial</th>
                        <th>Hora inical de <br /> tarifa especial</th>
                        <th>Fecha final de <br /> tarifa especial</th>
                        <th>Hora final de <br /> tarifa especial</th>
                        <th>Costo <br /> especial ($)</th>
                        <th>Aplica tarifa <br /> descuento (%)</th>
                        <th>Usuario de <br /> ultima actualización</th>
                        <th>Fecha de <br /> ultima actualización</th>
                        <th>Hora de <br /> ultima actualización</th>
                        <th>Activo</th>
                        <th name="accion">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


</div>
<input type="hidden" id="hddId" />
<div id="modal-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Promociones $ Envío</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo de Almacén</label>
                                <select class="form-control" id="ddlAlmacen">
                                    <option selected="selected" value="0">--Tipo de Almacen--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Proveedor</label>
                                <select class="form-control" id="ddlProveedor">
                                    <option selected="selected" value="0">--Proveedor--</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Transportista</label>
                                <select class="form-control" id="ddlTransportista">
                                    <option selected="selected" value="0">--Transportista--</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo de Catalogo</label>
                                <select class="form-control" id="ddlCatalogo">
                                    <option selected="selected" value="0">--SELECCIONE--</option>
                                    <option value="1">Super</option>
                                    <option value="2">Mercancías Generales</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Formato Tienda</label>
                                <select class="form-control" id="ddlFormatoTienda">
                                    <option selected="selected" value="0">--Proveedor--</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo de Envio</label>
                                <select class="form-control" id="ddlTipoEnvio">
                                    <option selected="selected" value="0">--Transportista--</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo de Servicio</label>
                                <select class="form-control" id="ddlTipoServicio">
                                    <option selected="selected" value="0">--Tipo de Servicio--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Tipo Logistica</label>
                                <select class="form-control" id="ddlTipoLogistica">
                                    <option selected="selected" value="0">--Tipo Logistica--</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>C.P. Origen</label>
                                <input type="number" id="txtCpOrigen" onkeypress="return event.charCode >= 48"  min="0" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>C.P. Destino</label>
                                <input type="number" id="txtCpDestino" onkeypress="return event.charCode >= 48"  min="0" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Ciudad Origen</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Ciudad Destino</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Estado Origen</label>
                                <input type="text" id="txtOrigen" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Estado Destino</label>
                                <input type="text" id="txtDestino" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Número de Material</label>
                                <input type="number" onkeypress="return event.charCode >= 48" min="0" id="txtNoMaterial" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Nombre SKU</label>
                                <input type="text" readonly id="txtSKU" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Número de EAN</label>
                                <input type="number" min="0" onkeypress="return event.charCode >= 48" id="txtCodBar" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Peso Minimo</label>
                                <input type="number" onkeypress="return event.charCode >= 48" min="0" oninput='input(this)' id="txtPesoMin" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Peso Maximo</label>
                                <input type="number" onkeypress="return event.charCode >= 48" min="0" oninput='input(this)' id="txtPesoMax" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Meses Sin Intereses</label>
                                <input type="number" onkeypress="return event.charCode >= 48" min="0" id="txtMeses" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Fecha inical de tarifa especial</label>
                                @*<input type="date" id="txtFecIniTarifa" class="form-control" />*@
                                <div class="input-group date" id="datetimepicker1">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control datepicker" id="txtFecIniTarifa" name="txtFecIniTarifa"
                                           type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Hora inical de tarifa especial</label>
                                <input type="time" id="txtHoraIniTarifa" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Fecha final de tarifa especial</label>
                                @*<input type="date" id="txtFecFinTarifa" class="form-control" />*@
                                <div class="input-group date" id="datetimepicker2">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control datepicker" id="txtFecFinTarifa" name="txtFecFinTarifa"
                                           type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Hora final de tarifa especial</label>
                                <input type="time" id="txtHoraFinTarifa" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Número de Categoria (Categoría SAP)</label>
                                <input type="text" id="txtNoCatSap" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Nombre de Categoria (Categoría SAP)</label>
                                <input type="text" id="txtNomCatSap" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Número de Subcategoria (Categoría SAP)</label>
                                <input type="text" id="txtNoSubCatSap" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Nombre de Subcategoria (Categoría SAP)</label>
                                <input type="text" id="txtNomSubCatSap" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>
                                    Costo especial ($)
                                </label>
                                <input type="number" oninput='input(this)' onkeypress="return event.charCode >= 48"  min="0" id="txtCostoEsp" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Aplica tarifa descuento  (%) </label>
                                <input type="number" oninput='input(this)' onkeypress="return event.charCode >= 48"  min="0" id="txtTarifaDesc" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>$ Compras mayor a </label>
                                <input type="number" oninput='input(this)' onkeypress="return event.charCode >= 48"  min="0" id="txtComprasMayor" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>$ Compras menor a</label>
                                <input type="number" oninput='input(this)' onkeypress="return event.charCode >= 48"  min="0" id="txtComprasMenor" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <div class="form-group">
                                <label>Estatus</label>
                                <select class="form-control" id="id_estatus" name="id_estatus">
                                    @*<option selected="selected" value="1">--SELECCIONA--</option>*@
                                    <option selected="selected" value="1">ACTIVO</option>
                                    <option value="0">INACTIVO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" onclick="Add()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {


    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });
            $('#datetimepicker3').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });
        });
        $(document).ready(function () {

            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $('#tblConsulta').DataTable(
                {
                    "scrollX": true,
                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        { extend: 'excel', className: 'btn-primary' },
                        {
                            text: 'Alta',
                            action: function (e, dt, node, config) {

                                $("#hddId").val('0');


                                IniciarControles(1);


                                $("#modal-form").modal('show');

                            }
                            , className: 'btn-primary'
                        }
                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );

            GetConsulta();
            IniciarComboTipoAlmacen();
            CmboTipoEnvio();
            CmboTipoServicio();
            CmboTipoLogistica();
            CmboTransportista();
            CmboFormatoTienda();
        });

        $('#txtNoMaterial').on('keypress', function (e) {
            debugger;
            if (e.which === 13) {

                GetArt(1);
            }
        });

        $('#txtCodBar').on('keypress', function (e) {
            debugger;
            if (e.which === 13) {

                GetArt(2);
            }
        });

        function GetArt(op) {
            _Material_MATNR = $('#txtNoMaterial').val();
            _Id_Num_CodBarra = $('#txtCodBar').val();

                 $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("GetArt", "PromocionesCostoEnvio")',
                    data: {
                        Material_MATNR: _Material_MATNR
                        , Id_Num_CodBarra: _Id_Num_CodBarra
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            $("#txtSKU").val(json.resp);
                            if (json.resp.length == 0) {
                                alert("El articulo no existe");
                                if (op == 1) { $('#txtNoMaterial').focus(); } else { $('#txtCodBar').focus(); }
                            }

                        } else {
                            alert(json.Message);
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.alert(errorThrown);
                    }
                });
        }

        function GetConsulta() {
            //var _Id_Num_UN = $("#hddId").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetPromociones", "PromocionesCostoEnvio")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    debugger;
                    if (json.Success) {


                        var myTable = $('#tblConsulta').DataTable();
                        myTable
                            .clear()
                            .draw();
                        for (var i = 0; i < json.resp.length; i++) {


                            myTable.row.add([
                                json.resp[i].PostalCodeOrig,
                                json.resp[i].PostalCodeDestino,
                                json.resp[i].CiudadOrig,
                                json.resp[i].CiudadDest,
                                json.resp[i].EdoOrig,
                                json.resp[i].EdoDest,
                                json.resp[i].SupplierName,
                                json.resp[i].NombreTransportista,
                                json.resp[i].Cve_CategSAP,
                                json.resp[i].Desc_CategSAP,
                                json.resp[i].Cve_GciaCategSAP,
                                json.resp[i].Desc_GciaCategSAP,
                                json.resp[i].Material_MATNR,
                                json.resp[i].Id_Num_CodBarra,
                                json.resp[i].Nombre_SKU,
                                json.resp[i].PesoMinimo,
                                json.resp[i].PesoMaximo,
                                json.resp[i].MesesSinIntereses,
                                json.resp[i].ComprasMayor,
                                json.resp[i].ComprasMenor,
                                json.resp[i].FechaInicioPromo,
                                json.resp[i].HoraInicioPromo,
                                json.resp[i].FechaFinPromo,
                                json.resp[i].HoraFinPromo,
                                json.resp[i].CostoEspecial,
                                json.resp[i].TarifaDesc,
                                json.resp[i].UsuarioCreacion,
                                json.resp[i].FechaUltModif,
                                json.resp[i].HoraUltModif,
                                json.resp[i].BitActivo,
                                "<button title='Editar' onclick=\"GetById(" + json.resp[i].cnscPromo + ")\" type=\"button\" class=\"btn btn-white btn-circle\"> <i class=\"fa fa-edit\"></i></button><button title='Eliminar' type=\"button\" onclick=\"Delete(" + json.resp[i].cnscPromo + ")\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-minus\"></i></button>"
                            ]).draw();
                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function ActionUpd() {
            debugger;
            if (document.getElementById("flag_edit").value == "1") {
                Edit();
            }
            else {
                Add();
            }
        }

        function Add() {
        /*   var _IdTipoCatalogo = $("#ddlTipoCatalogo").val();*/
            var _cnscPromo = $("#hddId").val();
            var _IdOwner = $("#ddlAlmacen").val();
            var _IdTipoCatalogo = $("#ddlCatalogo").val();
            var _IdSupplierWH = $("#ddlProveedor").val();
            var _SupplierName= $("#ddlProveedor :selected").text();
            var _IdTransportista = $("#ddlTransportista").val();
            var _NombreTransportista = $("#ddlTransportista :selected").text();
            var _IdFormatoTienda = $("#ddlFormatoTienda").val();
            var _IdTipoEnvio = $("#ddlTipoEnvio").val();
            var _IdTipoServicio = $("#ddlTipoServicio").val();
            var _IdTipoLogistica = $("#ddlTipoLogistica").val();

            if (_IdTipoCatalogo == "0") {
                $("#ddlCatalogo").focus();
                return;
            }
            if (_IdOwner == "0") {
                $("#ddlAlmacen").focus();
                return;
            }
            if (_IdSupplierWH == "0") {
                $("#ddlProveedor").focus();
                return;
            }
            if (_IdTransportista == "0") {
                $("#ddlTransportista").focus();
                return;
            }
            if (_IdFormatoTienda == "0") {
                $("#ddlFormatoTienda").focus();
                return;
            }
            if (_IdTipoEnvio == "0") {
                $("#ddlTipoEnvio").focus();
                return;
            }
            if (_IdTipoServicio == "0") {
                $("#ddlTipoServicio").focus();
                return;
            }
            if (_IdTipoLogistica == "0") {
                $("#ddlTipoLogistica").focus();
                return;
            }


            _BitActivo = $("#id_estatus").val();

            _PostalCodeOrig = $("#txtCpOrigen").val();
            _PostalCodeDestino = $("#txtCpDestino").val();
            _CiudadOrig = $("#txtCdOrigen").val();
            _CiudadDest = $("#txtCdDestino").val();
            _EdoOrig = $("#txtOrigen").val();
            _EdoDest = $("#txtDestino").val();
            _Cve_CategSAP = $("#txtNoCatSap").val();
            _Desc_CategSAP = $("#txtNomCatSap").val();
            _Cve_GciaCategSAP = $("#txtNoSubCatSap").val();
            _Desc_GciaCategSAP = $("#txtNomSubCatSap").val();
            _Material_MATNR = $("#txtNoMaterial").val();
            _Id_Num_CodBarra = $("#txtCodBar").val();
            _nombre_SKU = $("#txtSKU").val();
            _PesoMinimo = $("#txtPesoMin").val();
            _PesoMaximo = $("#txtPesoMax").val();
            _MesesSinIntereses = $("#txtMeses").val();
            _ComprasMayor = $("#txtComprasMayor").val();
            _ComprasMenor = $("#txtComprasMenor").val();
            _FechaInicioPromo = $("#txtFecIniTarifa").val();
            _HoraInicioPromo = $("#txtHoraIniTarifa").val();
            _FechaFinPromo = $("#txtFecFinTarifa").val();
            _HoraFinPromo = $("#txtHoraFinTarifa").val();
            _CostoEspecial = $("#txtCostoEsp").val();
            _TarifaDesc = $("#txtTarifaDesc").val();


            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("AddPromociones", "PromocionesCostoEnvio")',
                data: {
                    cnscPromo: _cnscPromo
                    ,IdTipoCatalogo: _IdTipoCatalogo
                    , IdOwner: _IdOwner
                    , IdFormatoTienda: _IdFormatoTienda
                    , PostalCodeOrig: _PostalCodeOrig
                    , PostalCodeDestino: _PostalCodeDestino
                    , CiudadOrig: _CiudadOrig
                    , CiudadDest: _CiudadDest
                    , EdoOrig: _EdoOrig
                    , EdoDest: _EdoDest
                    , IdSupplierWH: _IdSupplierWH
                    , SupplierName: _SupplierName
                    , IdTransportista: _IdTransportista
                    , NombreTransportista: _NombreTransportista
                    , IdTipoEnvio: _IdTipoEnvio
                    , IdTipoServicio: _IdTipoServicio
                    , Cve_CategSAP: _Cve_CategSAP
                    , Desc_CategSAP: _Desc_CategSAP
                    , Cve_GciaCategSAP: _Cve_GciaCategSAP
                    , Desc_GciaCategSAP: _Desc_GciaCategSAP
                    , Material_MATNR: _Material_MATNR
                    , Id_Num_CodBarra: _Id_Num_CodBarra
                    , nombre_SKU: _nombre_SKU
                    , PesoMinimo: _PesoMinimo
                    , PesoMaximo: _PesoMaximo
                    , IdTipoLogistica: _IdTipoLogistica
                    , MesesSinIntereses: _MesesSinIntereses
                    , ComprasMayor: _ComprasMayor
                    , ComprasMenor: _ComprasMenor
                    , FechaInicioPromo: _FechaInicioPromo
                    , HoraInicioPromo: _HoraInicioPromo
                    , FechaFinPromo: _FechaFinPromo
                    , HoraFinPromo: _HoraFinPromo
                    , CostoEspecial: _CostoEspecial
                    , TarifaDesc: _TarifaDesc

                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    debugger;
                    if (json.Success) {

                        //GetConsulta();
                        location.reload();
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function Edit() {
            _IdZona = $("#hddId").val();
            _Desc_Zona = $("#txtDesc_Zona").val();
            _BitActivo = $("#id_estatus").val();

            if (_Desc_Zona.length == 0) {
                $("#txtDesc_Zona").focus();
                return;
            }

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("UpdZonas", "catalogo")',
                data: {
                    IdZona: _IdZona,
                    Desc_Zona: _Desc_Zona,
                    BitActivo: _BitActivo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    debugger;
                    if (json.Success) {

                        GetConsulta();

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function Delete(id) {
            if (confirm('Esta seguro que desea eliminar el registro : ' + id))
            {
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("DelPromociones", "PromocionesCostoEnvio")',
                    data: {
                        cnscPromo: id
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            GetConsulta();
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.alert(errorThrown);
                    }
                });
            }
        }

        function GetById(id) {
            $("#hddId").val(id);
            IniciarControles(0);
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetPromocionesId", "PromocionesCostoEnvio")',
                data: {
                    Id: id
                },

                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        document.getElementById("hddId").value = json.resp.cnscPromo;


                        $("#ddlCatalogo").val(json.resp.IdTipoCatalogo);

                        $("#ddlAlmacen").val(json.resp.IdOwner);
                        CmboProveedores(json.resp.IdOwner);
                        $("#ddlProveedor").val(json.resp.IdSupplierWH);
                        $("#ddlTransportista").val(json.resp.IdTransportista);
                        $("#ddlFormatoTienda").val(json.resp.IdFormatoTienda);
                        $("#ddlTipoEnvio").val(json.resp.IdTipoEnvio);
                        $("#ddlTipoServicio").val(json.resp.IdTipoServicio);
                        $("#ddlTipoLogistica").val(json.resp.IdTipoLogistica);



                        $("#txtCpOrigen").val(json.resp.PostalCodeOrig);
                        $("#txtCpDestino").val(json.resp.PostalCodeDestino);
                        $("#txtCdOrigen").val(json.resp.CiudadOrig);
                        $("#txtCdDestino").val(json.resp.CiudadDest);
                        $("#txtOrigen").val(json.resp.EdoOrig);
                        $("#txtDestino").val(json.resp.EdoDest);
                        $("#txtNoCatSap").val(json.resp.Cve_CategSAP);
                        $("#txtNomCatSap").val(json.resp.Desc_CategSAP);
                        $("#txtNoSubCatSap").val(json.resp.Cve_GciaCategSAP);
                        $("#txtNomSubCatSap").val(json.resp.Desc_GciaCategSAP);
                        $("#txtNoMaterial").val(json.resp.Material_MATNR);
                        $("#txtCodBar").val(json.resp.Id_Num_CodBarra);
                        $("#txtSKU").val(json.resp.Nombre_SKU);
                        $("#txtPesoMin").val(json.resp.PesoMinimo);
                        $("#txtPesoMax").val(json.resp.PesoMaximo);
                        $("#txtMeses").val(json.resp.MesesSinIntereses);
                        $("#txtComprasMayor").val(json.resp.ComprasMayor);
                        $("#txtComprasMenor").val(json.resp.ComprasMenor);


                        $("#txtFecIniTarifa").val(json.resp.FechaInicioPromo);
                        $("#txtHoraIniTarifa").val(json.resp.HoraInicioPromo);
                        $("#txtFecFinTarifa").val(json.resp.FechaFinPromo);
                        $("#txtHoraFinTarifa").val(json.resp.HoraFinPromo);
                        $("#txtCostoEsp").val(json.resp.CostoEspecial);
                        $("#txtTarifaDesc").val(json.resp.TarifaDesc);




                        if (json.resp.BitActivo) {
                            document.getElementById("id_estatus").value = 1;
                        } else { document.getElementById("id_estatus").value = 0}



                        $("#modal-form").modal('show');


                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                   alert(errorThrown);
                }
            });

        }


        function IniciarControles(op) {




            $("#ddlAlmacen").val('0');
            $("#ddlCatalogo").val('0');
            $("#ddlProveedor").val('0');
            $("#ddlTransportista").val('0');
            $("#ddlTipoEnvio").val('0');
            $("#ddlTipoServicio").val('0');
            $("#ddlTipoLogistica").val('0');
            $("#ddlFormatoTienda").val('0');


            $("#txtCpOrigen").val('');
            $("#txtCpDestino").val('');
            $("#txtCdOrigen").val('');
            $("#txtCdDestino").val('');
            $("#txtOrigen").val('');
            $("#txtDestino").val('');
            $("#txtNoCatSap").val('');
            $("#txtNomCatSap").val('');
            $("#txtNoSubCatSap").val('');
            $("#txtNomSubCatSap").val('');
            $("#txtNoMaterial").val('');
            $("#txtCodBar").val('');
            $("#txtSKU").val('');
            $("#txtPesoMin").val('');
            $("#txtPesoMax").val('');
            $("#txtMeses").val('');
            $("#txtComprasMayor").val('');
            $("#txtComprasMenor").val('');
            $("#txtFecIniTarifa").val('');
            $("#txtHoraIniTarifa").val('');
            $("#txtFecFinTarifa").val('');
            $("#txtHoraFinTarifa").val('');
            $("#txtCostoEsp").val('');
            $("#txtTarifaDesc").val('');

            if (op == 1) {

                $("#ddlAlmacen").prop("disabled", false);
                $("#ddlCatalogo").prop("disabled", false);
                $("#ddlProveedor").prop("disabled", false);
                $("#ddlTransportista").prop("disabled", false);
                $("#ddlTipoEnvio").prop("disabled", false);
                $("#ddlTipoServicio").prop("disabled", false);
                $("#ddlTipoLogistica").prop("disabled", false);
                $("#ddlFormatoTienda").prop("disabled", false);


                $("#txtCpOrigen").prop("readonly", false);
                $("#txtCpDestino").prop("readonly", false);
                $("#txtCdOrigen").prop("readonly", false);
                $("#txtCdDestino").prop("readonly", false);
                $("#txtOrigen").prop("readonly", false);
                $("#txtDestino").prop("readonly", false);
                $("#txtNoCatSap").prop("readonly", false);
                $("#txtNomCatSap").prop("readonly", false);
                $("#txtNoSubCatSap").prop("readonly", false);
                $("#txtNomSubCatSap").prop("readonly", false);
                $("#txtNoMaterial").prop("readonly", false);
                $("#txtCodBar").prop("readonly", false);
                $("#txtSKU").prop("readonly", true);
                $("#txtPesoMin").prop("readonly", false);
                $("#txtPesoMax").prop("readonly", false);
                $("#txtMeses").prop("readonly", false);
                $("#txtComprasMayor").prop("readonly", false);
                $("#txtComprasMenor").prop("readonly", false);
                $("#txtFecIniTarifa").prop("readonly", false);
                $("#txtHoraIniTarifa").prop("readonly", false);
                $("#txtCostoEsp").prop("readonly", false);
                $("#txtTarifaDesc").prop("readonly", false);
            } else {

                $("#ddlAlmacen").prop("disabled", true);
                $("#ddlCatalogo").prop("disabled", true);
                $("#ddlProveedor").prop("disabled", true);
                $("#ddlTransportista").prop("disabled", true);
                $("#ddlTipoEnvio").prop("disabled", true);
                $("#ddlTipoServicio").prop("disabled", true);
                $("#ddlTipoLogistica").prop("disabled", true);
                $("#ddlFormatoTienda").prop("disabled", true);

                $("#txtCpOrigen").prop("readonly", true);
                $("#txtCpDestino").prop("readonly", true);
                $("#txtCdOrigen").prop("readonly", true);
                $("#txtCdDestino").prop("readonly", true);
                $("#txtOrigen").prop("readonly", true);
                $("#txtDestino").prop("readonly", true);
                $("#txtNoCatSap").prop("readonly", true);
                $("#txtNomCatSap").prop("readonly", true);
                $("#txtNoSubCatSap").prop("readonly", true);
                $("#txtNomSubCatSap").prop("readonly", true);
                $("#txtNoMaterial").prop("readonly", true);
                $("#txtCodBar").prop("readonly", true);
                $("#txtSKU").prop("readonly", true);
                $("#txtPesoMin").prop("readonly", true);
                $("#txtPesoMax").prop("readonly", true);
                $("#txtMeses").prop("readonly", true);
                $("#txtComprasMayor").prop("readonly", true);
                $("#txtComprasMenor").prop("readonly", true);
                $("#txtFecIniTarifa").prop("readonly", true);
                $("#txtHoraIniTarifa").prop("readonly", true);
                $("#txtCostoEsp").prop("readonly", true);
                $("#txtTarifaDesc").prop("readonly", true);
            }
        }
    </script>
    @*combos*@
    <script>

        var delayTimer;
        function input(ele) {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function () {
                ele.value = parseFloat(ele.value).toFixed(2).toString();
            }, 1100);
        }
    function IniciarComboTipoAlmacen() {
    $.ajax({
        async: false,
        type: "GET",
        url: '@Url.Action("IniciarComboTipoAlmacen", "Catalogo")',
        data: {

        },
        datatype: "html",
        success: function (json) {
            debugger;
            if (json.Success) {
                var sel = $("#ddlAlmacen");
                sel.empty();

                $('#ddlAlmacen').get(0).options[0] = new Option("--SELECCIONE--", "0");
                for (var i = 0; i < json.resp.length; i++) {
                    sel.append('<option value="' + json.resp[i].idOwner + '">' + json.resp[i].ownerName +  '</option>');
                }
            }
            else {
                alert(json.Message);
            }
        }
        , error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);

        }
    });
    }

    $('#ddlAlmacen').change(function () {
        _idOwner = $("#ddlAlmacen").val();
            CmboProveedores(_idOwner);
    });

    function CmboProveedores(_idOwner) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetProveedoresCmb", "Catalogo")',
                data: {
                    idOwner: _idOwner
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlProveedor");
                        sel.empty();

                        $('#ddlProveedor').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdProveedor + '">' + json.resp[i].NombreProveedor + '</option>');
                        }
                        sel.focus();
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }

    function CmboTipoEnvio() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTipoEnvio", "Catalogo")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlTipoEnvio");
                        sel.empty();

                        $('#ddlTipoEnvio').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdTipoEnvio + '">' + json.resp[i].Desc_TipoEnvio + '</option>');
                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }

    function CmboTipoServicio() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTipoServicio", "Catalogo")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlTipoServicio");
                        sel.empty();

                        $('#ddlTipoServicio').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdTipoServicio + '">' + json.resp[i].Desc_TipoServicio + '</option>');
                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }
    function CmboTipoLogistica() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTipoLogistica", "PromocionesCostoEnvio")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlTipoLogistica");
                        sel.empty();

                        $('#ddlTipoLogistica').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdTipoLogistica + '">' + json.resp[i].TipoLogistica + '</option>');
                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    function CmboTransportista() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListTransportista", "Catalogo")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlTransportista");
                        sel.empty();

                        $('#ddlTransportista').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdTransportista + '">' + json.resp[i].Nombre + '</option>');
                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    function CmboFormatoTienda() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetFormatoTenda", "PromocionesCostoEnvio")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        var sel = $("#ddlFormatoTienda");
                        sel.empty();

                        $('#ddlFormatoTienda').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdTipoFormato + '">' + json.resp[i].Desc_TipoFormato + '</option>');
                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    </script>
}






