
@{ ViewBag.Title = "Tipo de vehiculos tiendas"; }



<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .red {
        background-color: red !important;
    }
</style>


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>Tipo de vehiculos tiendas</h2></div>
        <div class="col-4"></div>

    </div>


    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">

        @*<h1><a href="#" class="btn btn-primary alert-custom">Bootbox Dialog &nbsp;<i class="glyphicon glyphicon-hand-left"></i></a></h1>*@


        <br />

        <div class="row">
            <div class="col-12">
                <table id="example" class="table table-striped dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tipo Vehiculo</th>
                            <th>Usuario de Actualización</th>
                            <th>Fecha de Actualización</th>
                            <th>Hora de Actualización</th>
                            <th>Activo</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ if (Session["lista"] != null)
                            {

                                var myDataSet = Session["lista"] as System.Data.DataSet;
                                foreach (System.Data.DataRow r in myDataSet.Tables[0].Rows)
                                {
                                                <tr>
                                                    <td>
                                                        @r["Id_TipoVehiculo"]
                                                    </td>
                                                    <td>
                                                        @r["Descipcion"]
                                                    </td>
                                                    <td>
                                                        @r["Modified_User"]
                                                    </td>
                                                    <td>
                                                        @r["Fec_Movto"]
                                                    </td>
                                                    <td>
                                                        @r["TimeMovto"]
                                                    </td>
               
                                                    @if (r["Estatus"].ToString() == "1")
                                                    {
                                                        <td>Activo</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Inactivo</td>
                                                    }
                                                    <td>
                                                        <button title="Editar" type="button" onclick="GetById(@r["Id_TipoVehiculo"])" class="btn btn-white btn-circle"> <i class="fa fa-edit"></i></button>
                                                        <button title="Eliminar" type="button" onclick="Delete(@r["Id_TipoVehiculo"])" class="btn btn-white btn-circle"> <i class="fa fa-minus"></i></button>
                                                    </td>
                                                </tr>

                                }

                            } }



                    </tbody>

                </table>
            </div>
        </div>

    </div>
    <div id="modal-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">Alta de Tipo de Vehiculo</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form id="frmCreateServicios">

                        <div class="row">

                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Tipo de Vehiculo</label>

                                    <input type="text" placeholder="Tipo de Vehiculo" id="txtTipoVehiculo" class="form-control" />

                                </div>

                            </div>


                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <div class="form-group">
                                    <label>Estatus</label>
                                    <select class="form-control" id="id_estatus" name="id_estatus">
                                        @*<option selected="selected" value="1">--SELECCIONA--</option>*@
                                        <option selected="selected" value="1">ACTIVO</option>
                                        <option value="0">INACTIVO</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Comentarios</span>
                                    </div>
                                    <textarea id="txtComentario" class="form-control" aria-label="With textarea"></textarea>
                                </div>

                            </div>
                        </div>


                    </form>

                </div>


                <div class="modal-footer">


                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

                    <button type="button" onclick="Add()" class="btn btn-primary">Guardar</button>

                </div>


            </div>
        </div>
    </div>

    <input id="hddId" name="hddId" value="0" style="visibility:hidden" />
}

@section scripts {


    <link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/plugins/datatables/datatables.js"></script>

    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>


    <script>


        function Delete(id) {
            if (confirm('Esta seguro que desea eliminar el registro : ' + id))
            {
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("DelTipoVehiculo", "tms")',
                    data: {
                        Id_TipoVehiculo: id
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            location.reload();
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.alert(errorThrown);
                    }
                });
            }
        }

        function Add() {
//int Id_TipoVehiculo,string Descripcion, string Comentarios, bool Estatus
            _Id_TipoVehiculo = $("#hddId").val();
            _Comentarios = $("#txtComentario").val();
            _Descripcion = $("#txtTipoVehiculo").val();
            _Estatus = $("#id_estatus").val();

            if (_Descripcion.length == 0) {
                $("#txtTipoVehiculo").focus();
                return;
            }
            debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("SaveTipoVehiculo", "TMS")',
                data: {
                    Id_TipoVehiculo: _Id_TipoVehiculo,
                    Descripcion: _Descripcion,
                    Comentarios: _Comentarios,
                    Estatus: (_Estatus == "1") ? true : false
                },
                datatype: "html",
                success: function (json) {
                    //debugger;
                    if (json.Success) {
                        location.reload();
                        //alert("Alta con exito");


                        //$('#modal-form').modal('show');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

        }

        function GetById(id) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTipoVehiculoByID", "Tms")',
                data: {
                    Id_TipoVehiculo: id
                },

                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        debugger;
                        document.getElementById("hddId").value = json.resp.Id_TipoVehiculo;
                        document.getElementById("txtComentario").value = json.resp.Comentarios;
                        document.getElementById("txtTipoVehiculo").value = json.resp.Descipcion;
                        if (json.resp.Estatus="1") {
                            document.getElementById("id_estatus").value = 1;
                        } else { document.getElementById("id_estatus").value = 0}



                        $("#modal-form").modal('show');


                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                   alert(errorThrown);
                }
            });

        }

        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        })


        $(document).ready(function () {


            $('#example').DataTable(
                {

                    language:
                        {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"

                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                            },
                            "buttons": {
                                "print": "Imprimir",
                                "pageLength": 'Mostrar %d Registros'

                            }
                        },
                    dom: 'Bfrtip',
                    lengthMenu: [
                                    [10, 25, 50, -1],
                                     ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                            { extend: 'pageLength', className: 'btn-primary' },
                            { extend: 'excel', className: 'btn-primary' },
                            {
                                text: 'Alta',
                                action: function (e, dt, node, config) {

                                    document.getElementById("txtTipoVehiculo").value = '';
                                    document.getElementById("txtComentario").value = '';
                                    document.getElementById("id_estatus").value = "1";

                                    //bootbox.alert("HOLA");
                                    $("hddId").val("0")
                                    $("#modal-form").modal('show');

                                }
                                , className: 'btn-primary'
                            }
                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
                );
        });

        /* Bootbox Dialog box with custom Value */
        $('.alert-custom').click(function () {
            bootbox.dialog({
                title: "This is a form in a modal.",
                message: '<div class="row">  ' +
                '<div class="col-md-12"> ' +
                '<form class="form-horizontal"> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="name">Name</label> ' +
                '<div class="col-md-4"> ' +
                '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
                '<span class="help-block">Here goes your name</span> </div> ' +
                '</div> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
                '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
                'Really awesome </label> ' +
                '</div><div class="radio"> <label for="awesomeness-1"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
                '</div> ' +
                '</div> </div>' +
                '</form> </div>  </div>',
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function () {
                            var name = $('#name').val();
                            var answer = $("input[name='awesomeness']:checked").val()
                            $('.Example').show().html("Hello " + name + ". You've chosen <b>" + answer + "</b").fadeOut(5000);
                        }
                    }
                }
            }
                    );
        })
    </script>

}