
@{
    ViewBag.Title = "Cat_Servicio";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>Alta de Servicio</h2></div>
        <div class="col-4"></div>

    </div>


    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">

        @*<h1><a href="#" class="btn btn-primary alert-custom">Bootbox Dialog &nbsp;<i class="glyphicon glyphicon-hand-left"></i></a></h1>*@


        <br />

        <div class="row">
            <div class="col-12">
                <table id="example" class="table table-striped dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Id Operador</th>
                            <th>Operador</th>
                            <th>Id Vehiculo</th>
                            <th>Vehiculo</th>
                            <th>Guia</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>




                        @*<tr>
                                <td>Camioneta</td>
                                <td>SKKEI-99</td>
                                <td>4 Cil.</td>
                                <td>FEJJDU-01</td>
                                <td>Mexico. CD mex.</td>
                                <td>24</td>

                                <td>
                                    <button class="btn btn-warning btn-circle" type="button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <button class="btn btn-danger btn-circle" type="button">
                                        <i class="fa fa-eraser"></i>
                                    </button>

                                </td>
                            </tr>
                            <tr>
                                <td>Camioneta</td>
                                <td>SKKEI-99</td>
                                <td>4 Cil.</td>
                                <td>FEJJDU-01</td>
                                <td>Mexico. CD mex.</td>
                                <td>24</td>

                                <td>
                                    <button class="btn btn-warning btn-circle" type="button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <button class="btn btn-danger btn-circle" type="button">
                                        <i class="fa fa-eraser"></i>
                                    </button>

                                </td>
                            </tr>*@

                    </tbody>
                    @*<tfoot>
                            <tr>
                                <th>Tipo Vehiculo</th>
                                <th>Placas</th>
                                <th>Motor</th>
                                <th># Seguro</th>
                                <th>Ubicacion</th>
                                <th>Tienda</th>

                                <th>Action</th>
                            </tr>
                        </tfoot>*@
                </table>
            </div>
        </div>

    </div>


    <div id="modal-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">Modal title</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form id="frmCreateServicios">

                        <div class="row">

                            <div class="col col-xs-8 col-md-6">

                                <div class="form-group">

                                    <label>Operador</label>
                                    <select class="form-control" id="id_operador" name="id_operador">
                                        <option selected="selected" value="1">--SELECCIONA--</option>

                                        @{

                                            if (Session["listaV"] != null)
                                            {

                                                foreach (ServicesManagement.Web.Controllers.VehiculoModel v in (List<ServicesManagement.Web.Controllers.VehiculoModel>)(Session["listaV"]))
                                                {
                                                    <option value="@v.Id_Vehiculo">@v.Descripcion</option>

                                                }

                                            }

                                        }

                                    </select>

                                </div>

                            </div>

                            <div class="col col-xs-8 col-md-6">

                                <div class="form-group">

                                    <label>Vehiculo</label>

                                    <select class="form-control" id="id_vehiculo" name="id_vehiculo" onchange="leaveChange(this)">
                                        <option selected="selected" value="1">--SELECCIONA--</option>

                                        @{

                                            if (Session["listaO"] != null)
                                            {

                                                foreach (ServicesManagement.Web.Controllers.OperadorModel v in (List<ServicesManagement.Web.Controllers.OperadorModel>)(Session["listaO"]))
                                                {
                                                    <option value="@v.Id_Transportista">@v.Nombre</option>

                                                }

                                            }

                                        }

                                    </select>
                                </div>

                            </div>
                        </div>


                        <div class="row">

                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Matricula</label>

                                    <input disabled type="text" placeholder="Matricula" id="in_matricula" name="in_matricula" class="form-control" />

                                </div>

                            </div>
                            <div class="col-4"></div>

                            <div class="col col-xs-4 col-md-4">

                                <div class="form-group">

                                    <label>Guia</label>

                                    <input type="text" placeholder="Guia" id="in_guia" name="in_guia" class="form-control" />


                                </div>

                            </div>
                        </div>


                        @*<div class="row">
                                <div class="col-12">

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Comentarios</span>
                                        </div>
                                        <textarea class="form-control" aria-label="With textarea"></textarea>
                                    </div>

                                </div>
                            </div>*@
                        @*<div class="row">

                                <div class="col col-xs-8 col-md-4">

                                    <div class="form-group">

                                        <label>Tienda</label>

                                        <select class="form-control" id="Id_TipoFolio" name="Id_TipoFolio">
                                            <option selected="selected" value="1">--Tienda--</option>
                                            <option value="1">24-CUMBRES</option>

                                        </select>
                                    </div>

                                </div>


                            </div>*@

                    </form>

                </div>


                <div class="modal-footer">


                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

                    <button type="button" onclick="AddSurtidores()" class="btn btn-primary">Guardar</button>

                </div>


            </div>
        </div>
    </div>}


@section scripts {


    <link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/plugins/datatables/datatables.js"></script>

    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>


    <script>

        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        })


        $(document).ready(function () {

           /* GetTmsUNs();*/

            $('#example').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        { extend: 'excel', className: 'btn-primary' },
                        {
                            text: 'Alta',
                            action: function (e, dt, node, config) {

                                //bootbox.alert("HOLA");
                                $("#modal-form").modal('show');

                            }
                            , className: 'btn-primary'
                        }
                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );


        });

        /* Bootbox Dialog box with custom Value */
        $('.alert-custom').click(function () {
            bootbox.dialog({
                title: "This is a form in a modal.",
                message: '<div class="row">  ' +
                    '<div class="col-md-12"> ' +
                    '<form class="form-horizontal"> ' +
                    '<div class="form-group"> ' +
                    '<label class="col-md-4 control-label" for="name">Name</label> ' +
                    '<div class="col-md-4"> ' +
                    '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
                    '<span class="help-block">Here goes your name</span> </div> ' +
                    '</div> ' +
                    '<div class="form-group"> ' +
                    '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
                    '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
                    '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
                    'Really awesome </label> ' +
                    '</div><div class="radio"> <label for="awesomeness-1"> ' +
                    '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
                    '</div> ' +
                    '</div> </div>' +
                    '</form> </div>  </div>',
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function () {
                            var name = $('#name').val();
                            var answer = $("input[name='awesomeness']:checked").val()
                            $('.Example').show().html("Hello " + name + ". You've chosen <b>" + answer + "</b").fadeOut(5000);
                        }
                    }
                }
            }
            );
        });

        function GetTmsUNs() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetUnidadesNegocios", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);
                    if (json.Success) {
                        $("#tbUnidadNegocio tbody tr").remove();
                        //var tr;
                        //debugger;
                        //Append each row to html table
                        for (var i = 0; i < json.json.length; i++) {
                            tr = $('<tr/>');
                            //tr.append("<td class='row1'>" + json.json[i].Id_Num_Orden + "</td>");
                            tr.append("<td>" + json.json[i].Id_Num_UN + "</td>");
                            tr.append("<td>" + json.json[i].Centros + "</td>");
                            tr.append("<td>" + json.json[i].Latitud + "</td>");
                            tr.append("<td>" + json.json[i].Longitud + "</td>");
                            tr.append("<td>" + json.json[i].CodigosPostales + "</td>");
                            //tr.append("<td><button type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button' class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >")
                            tr.append("<td><button onclick='EditSurtidores(" + json.json[i].Id_Carrier + ")' type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button'  onclick='DeleteSurtidores(" + json.json[i].Id_Carrier + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >");
                            $('#tbUnidadNegocio').append(tr);
                            //console.log(json.json[i]);
                        }
                        //console.log('se redibujó');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }


        function leaveChange(control) {

            //var msg = control.value == "100" ? "Having a Baby!!" : "Common message";
            //alert(msg);


             $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetOperadorById", "TMS")',
                data: {
                    Id: control.value
                },

                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        document.getElementById("in_matricula").value = json.json.Matricula;
                        

                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });


        }

    </script>

}
