
@{
    ViewBag.Title = "Registro de gasto distribucion Tienda";
}


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>Registro de gasto distribucion Tienda</h2></div>
        <div class="col-4"></div>

    </div>


    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">

        @*<h1><a href="#" class="btn btn-primary alert-custom">Bootbox Dialog &nbsp;<i class="glyphicon glyphicon-hand-left"></i></a></h1>*@


        <br />

        <div class="row">
            <div class="col-12">
                <table id="example" class="table table-striped dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tipo Vehiculo</th>
                            <th>Descripcion</th>
                            <th>Placas</th>
                            <th>Motor</th>
                            <th>Usuario de Actualización</th>
                            <th>Fecha de Actualización</th>
                            <th>Hora de Actualización</th>
                            <th>Activo</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </div>
        </div>

    </div>

    <div id="modal-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">Modal Title</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form id="frmCreateServicios">

                        <div class="row">

                            <div class="col col-xs-8 col-md-4">

                                @*<div class="form-group">

                                        <label>Tipo de Vehiculo</label>

                                        <select class="form-control" id="Id_TipoFolio" name="Id_TipoFolio">
                                            <option selected="selected" value="1">--Tipo Vehiculo--</option>

                                        </select>
                                    </div>*@
                                <div class="form-group">

                                    <label>Descripcion</label>

                                    <input type="text" placeholder="Descripcion" id="in_desc" name="in_desc" class="form-control" />

                                </div>

                            </div>
                            <div class="col-4"></div>
                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Placas</label>

                                    <input type="text" placeholder="Placas" id="in_placas" name="in_placas" class="form-control" />

                                </div>

                            </div>
                        </div>


                        <div class="row">

                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Motor</label>

                                    <input type="text" placeholder="Motor" id="in_motor" name="in_motor" class="form-control" />

                                </div>

                            </div>
                            <div class="col-4"></div>

                            <div class="form-group">

                                <label>Estatus</label>

                                <select class="form-control" id="id_estatus" name="id_estatus">
                                    @*<option selected="selected" value="1">--SELECCIONA--</option>*@
                                    <option selected="selected" value="1">ACTIVO</option>
                                    <option value="2">INACTIVO</option>
                                </select>

                            </div>
                        </div>



                        @*<div class="row">
                                <div class="col-12">

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Comentarios</span>
                                        </div>
                                        <textarea class="form-control" aria-label="With textarea"></textarea>
                                    </div>

                                </div>
                            </div>*@
                        @*<div class="row">

                                <div class="col col-xs-8 col-md-4">

                                    <div class="form-group">

                                        <label>Tienda</label>

                                        <select class="form-control" id="Id_TipoFolio" name="Id_TipoFolio">
                                            <option selected="selected" value="1">--Tienda--</option>
                                            <option value="1">24-CUMBRES</option>

                                        </select>
                                    </div>

                                </div>


                            </div>*@

                    </form>

                </div>


                <div class="modal-footer">


                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

                    <button type="button" onclick="ActionUpd()" class="btn btn-primary">Guardar</button>

                </div>


            </div>
        </div>
    </div>




    <div id="modal-formEdit2" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 id="asd" class="modal-title"> Edición Registro de gasto distribucion Tienda</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form id="frmCreateServicios">

                        <div class="row">

                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">
                                    <label>Tipo de gasto</label>
                                    <select class="form-control" id="idtipogastoedit" disabled name="tipogasto">
                                        <option selected="selected" value="0">--Gasto--</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-4">
                                <div class="form-group">

                                    <label>Tipo de Vehículo</label>

                                    <input type="text" placeholder="Tipo de Vehículo" id="in_tipovehiculoedit" disabled name="in_desc" class="form-control" />
                                    <input type="hidden" placeholder="Tipo de Vehículo" id="id_tipovehiculoedit" disabled name="in_desc" class="form-control" />
                                    <input type="hidden" placeholder="Tipo de Vehículo" id="id_consecutivoedit" disabled name="in_desc" class="form-control" />

                                </div>

                            </div>
                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Placas</label>

                                    <input type="text" placeholder="Placas" id="in_placasedit" disabled name="in_placas" class="form-control" />

                                </div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Dinero</label>

                                    <input min="1" max="99999999999999" step="0.1" type="number" placeholder="" id="in_dineroedit" name="in_desc" class="form-control" />

                                </div>

                                @*<div class="form-group">

                                        <label>Gasolina</label>

                                        <input type="text" placeholder="" id="idGasolina" name="in_descgasolina" class="form-control" />
                                    onchange="ValidateKm()"
                                                                 onchange="ValidateMoney()"

                                    </div>*@


                            </div>
                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Kilometraje</label>

                                    <input min="1" max="99999999999999" step="1" type="number" placeholder="" id="idKilometrajeedit" name="in_desc" class="form-control" />
                                </div>

                            </div>
                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Fecha</label>

                                    <input type="date" placeholder="Fecha" id="in_fechaedit" name="in_desc" class="form-control" />

                                </div>

                            </div>
                        </div>


                        <div class="row">

                            @*aqui va el grid*@

                            <div class="col-12" style="overflow-x:auto;">
                                <table id="exampleedit" class="table table-striped dataTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            @*<th type="hidden">Id consecutivo</th>*@
                                            <th>Id Gasto</th>
                                            <th>Id Vehiculo</th>
                                            <th>Fecha Gasto</th>
                                            <th>Kilometraje</th>
                                            <th>Cantidad de Gasto</th>

                                            <th>Fecha de Creacion</th>
                                            <th>Hora de Creacion</th>
                                            <th>Fecha de modificacion</th>
                                            <th>Hora de modificacion</th>

                                            <th>Activo</th>
                                            @*<th>Accion</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </form>

                </div>


                <div class="modal-footer">


                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

                    <button type="button" onclick="validaredit()" class="btn btn-primary">Guardar</button>

                </div>


            </div>
        </div>
    </div>


    <div id="modal-formAlta" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 id="asd" class="modal-title">Registro de gasto distribucion Tienda</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form id="frmCreateServicios">

                        <div class="row">

                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">
                                    <label>Tipo de gasto</label>
                                    <select class="form-control" id="idtipogastoalta"  name="tipogasto">
                                        <option selected="selected" value="0">--Gasto--</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-4">
                                <div class="form-group">

                                    <label>Tipo de Vehículo</label>

                                    <input type="text" placeholder="Tipo de Vehículo" id="in_tipovehiculo3" disabled name="in_desc" class="form-control" />
                                    <input type="hidden" placeholder="Tipo de Vehículo" id="id_tipovehiculo3" disabled name="in_desc" class="form-control" />

                                </div>

                            </div>
                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Placas</label>

                                    <input type="text" placeholder="Placas" id="in_placas3" disabled name="in_placas" class="form-control" />

                                </div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Dinero</label>

                                    <input min="1" max="99999999999999" step="0.1" type="number" placeholder="" id="in_dinero3" name="in_desc" class="form-control" />

                                </div>

                                @*<div class="form-group">

                                        <label>Gasolina</label>

                                        <input type="text" placeholder="" id="idGasolina" name="in_descgasolina" class="form-control" />
                                    onchange="ValidateKm()"
                                                                 onchange="ValidateMoney()"

                                    </div>*@


                            </div>
                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Kilometraje</label>

                                    <input min="1" max="99999999999999" step="1" type="number" placeholder="" id="idKilometraje3" name="in_desc" class="form-control" />
                                </div>

                            </div>
                            <div class="col col-xs-8 col-md-4">

                                <div class="form-group">

                                    <label>Fecha</label>

                                    <input type="date" placeholder="Fecha" id="in_fecha3" name="in_desc" class="form-control" />

                                </div>

                            </div>
                        </div>


                        <div class="row">

                            @*aqui va el grid*@

                            <div class="col-12" style="overflow-x:auto;">
                                <table id="example3" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            @*<th>Id consecutivo</th>*@
                                            <th>Id Gasto</th>
                                            <th>Id Vehiculo</th>
                                            <th>Fecha Gasto</th>
                                            <th>Kilometraje</th>
                                            <th>Cantidad de Gasto</th>
                                            <th>Fecha de Creacion</th>
                                            <th>Hora de Creacion</th>
                                            <th>Fecha de modificacion</th>
                                            <th>Hora de modificacion</th>
                                            <th>Activo</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </form>

                </div>


                <div class="modal-footer">


                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

                    <button type="button" onclick="validaralta()" class="btn btn-primary">Guardar</button>

                </div>


            </div>
        </div>
    </div>

    <input id="Id_Vehiculo" name="Id_Vehiculo" value="0" style="visibility:hidden" />
    <input id="flag_edit" name="flag_edit" value="0" style="visibility:hidden" />
}


<style>
    .modal {
        overflow: auto !important;
    }
</style>
@section scripts {


    <link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/plugins/datatables/datatables.js"></script>

    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>


    <script>

        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        })

        $(document).ready(function () {

            $('#example thead tr').clone(true).appendTo('#example thead');
            $('#example thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $('#example').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        { extend: 'excel', className: 'btn-primary' }
                        //{
                        //    /*text: 'Alta',*/
                        //    action: function (e, dt, node, config) {

                        //        //bootbox.alert("HOLA");
                        //        /*$("#modal-form").modal('show');*/
                        //        $("#modal-form2").modal('show');

                        //    }
                        //    , className: 'btn-primary'
                        //}
                    ]
                }

            );

            GetTmsUNs();



            table2 = $('#example2').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' }
                        /*{ extend: 'excel', className: 'btn-primary' }*/
                        //{
                        //    /*text: 'Alta',*/
                        //    action: function (e, dt, node, config) {

                        //        //bootbox.alert("HOLA");
                        //        /*$("#modal-form").modal('show');*/
                        //        $("#modal-form2").modal('show');

                        //    }
                        //    , className: 'btn-primary'
                        //}
                    ]
                });



            table3 = $('#example3').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        /*{ extend: 'excel', className: 'btn-primary' }*/
                        //{
                        //    /*text: 'Alta',*/
                        //    action: function (e, dt, node, config) {

                        //        //bootbox.alert("HOLA");
                        //        /*$("#modal-form").modal('show');*/
                        //        $("#modal-form2").modal('show');

                        //    }
                        //    , className: 'btn-primary'
                        //}
                    ]
                }

            );

            tableedit = $('#exampleedit').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        /*{ extend: 'excel', className: 'btn-primary' }*/
                        //{
                        //    /*text: 'Alta',*/
                        //    action: function (e, dt, node, config) {

                        //        //bootbox.alert("HOLA");
                        //        /*$("#modal-form").modal('show');*/
                        //        $("#modal-form2").modal('show');

                        //    }
                        //    , className: 'btn-primary'
                        //}
                    ]
                }

            );


        });

        /* Bootbox Dialog box with custom Value */
        $('.alert-custom').click(function () {
            bootbox.dialog({
                title: "This is a form in a modal.",
                message: '<div class="row">  ' +
                    '<div class="col-md-12"> ' +
                    '<form class="form-horizontal"> ' +
                    '<div class="form-group"> ' +
                    '<label class="col-md-4 control-label" for="name">Name</label> ' +
                    '<div class="col-md-4"> ' +
                    '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
                    '<span class="help-block">Here goes your name</span> </div> ' +
                    '</div> ' +
                    '<div class="form-group"> ' +
                    '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
                    '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
                    '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
                    'Really awesome </label> ' +
                    '</div><div class="radio"> <label for="awesomeness-1"> ' +
                    '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
                    '</div> ' +
                    '</div> </div>' +
                    '</form> </div>  </div>',
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function () {
                            var name = $('#name').val();
                            var answer = $("input[name='awesomeness']:checked").val()
                            $('.Example').show().html("Hello " + name + ". You've chosen <b>" + answer + "</b").fadeOut(5000);
                        }
                    }
                }
            }
            );
        });

        function GetTmsUNs() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetVehiculos", "TMS")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {
                        /*$("#tbUnidadNegocio tbody tr").remove();*/
                        //var tr;
                        //debugger;
                        //Append each row to html table

                        var myTable = $('#example').DataTable();

                        for (var i = 0; i < json.json.length; i++) {


                            myTable.row.add([

                                json.json[i].Id_Vehiculo,
                                json.json[i].TipoVehiculo,
                                json.json[i].Descripcion,
                                json.json[i].Placas,
                                json.json[i].Motor,
                                json.json[i].created_user,
                                "",
                                "",
                                //Faltan habilitar estas columnas desde el API
                                //json.json[i].FechaUltModif,
                                //json.json[i].TimeUltModif,
                                //Faltan habilitar estas columnas desde el API
                                json.json[i].Estatus,
                            "<button title='Alta' type=\"button\" onclick=\"ModalAlta(" + json.json[i].Id_Vehiculo + ")\" class=\"btn btn-primary btn-circle\"> <i class=\"fa fa-plus\"></i></button>"
                            ]).draw();

                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function ActionUpd() {
            if (document.getElementById("flag_edit").value == "1") {
                EditSurtidores();
            }
            else {
                AddSurtidores();
            }
        }

        function AddSurtidores() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("InsVehiculo", "TMS")',
                data: {
                    descripcion: document.getElementById("in_desc").value,
                    motor: document.getElementById("in_motor").value,
                    placas: document.getElementById("in_placas").value
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var table = $('#example').DataTable();

                        table.clear().draw();
                        table.destroy();

                        $("#modal-form").modal('hide');

                        var myTable = $('#example').DataTable();

                        for (var i = 0; i < json.json.length; i++) {

                            myTable.row.add([

                                json.json[i].Id_Vehiculo,
                                "Camioneta",
                                json.json[i].Descripcion,
                                json.json[i].Placas,
                                json.json[i].Motor,
                                json.json[i].Estatus,
                                "<button onclick=\"getVehiculo(" + json.json[i].Id_Vehiculo + ")\" type=\"button\" class=\"btn btn-white btn-circle\"> <i class=\"fa fa-edit\"></i></button><button type=\"button\" onclick=\"DeleteSurtidores(" + json.json[i].Id_Vehiculo +")\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-minus\"></i></button>"
                            ]).draw();

                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function EditSurtidores() {

            var e = document.getElementById("id_estatus");
            var strUser = e.value;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("EditVehiculo", "TMS")',
                data: {
                    Id: document.getElementById("Id_Vehiculo").value,
                    descripcion: document.getElementById("in_desc").value,
                    motor: document.getElementById("in_motor").value,
                    placas: document.getElementById("in_placas").value,
                    estatus : strUser
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var table = $('#example').DataTable();

                        table.clear().draw();
                        table.destroy();

                        $("#modal-form").modal('hide');

                        var myTable = $('#example').DataTable();

                        for (var i = 0; i < json.json.length; i++) {

                            myTable.row.add([

                                json.json[i].Id_Vehiculo,
                                "Camioneta",
                                json.json[i].Descripcion,
                                json.json[i].Placas,
                                json.json[i].Motor,
                                json.json[i].Estatus,
                                "<button onclick=\"getVehiculo(" + json.json[i].Id_Vehiculo + ")\" type=\"button\" class=\"btn btn-white btn-circle\"> <i class=\"fa fa-edit\"></i></button><button type=\"button\" onclick=\"AltaGastosVehiculos(" + json.json[i].Id_Vehiculo + ")\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-minus\"></i></button>"
                            ]).draw();

                        }

                        document.getElementById("flag_edit").value = 0;

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function DeleteSurtidores(id) {
            if (confirm('Esta seguro que desea eliminar el vehiculo : ' + id))
            {
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("DeleteVehiculo", "TMS")',
                    data: {
                        Id: id
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            var table = $('#example').DataTable();

                            table.clear().draw();
                            table.destroy();

                            $("#modal-form").modal('hide');

                            var myTable = $('#example').DataTable();

                            for (var i = 0; i < json.json.length; i++) {

                                myTable.row.add([

                                    json.json[i].Id_Vehiculo,
                                    "Camioneta",
                                    json.json[i].Descripcion,
                                    json.json[i].Placas,
                                    json.json[i].Motor,
                                    json.json[i].Estatus,
                                    "<button onclick=\"getVehiculo(" + json.json[i].Id_Vehiculo + ")\" type=\"button\" class=\"btn btn-white btn-circle\"> <i class=\"fa fa-edit\"></i></button><button type=\"button\" onclick=\"DeleteSurtidores(" + json.json[i].Id_Vehiculo + ")\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-minus\"></i></button>"
                                ]).draw();

                            }
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.alert(errorThrown);
                    }
                });
            }
        }

        function Llenargastos() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastos", "TMS")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var dynamicSelect = document.getElementById("idtipogasto");
                        dynamicSelect.innerText = null;
                        for (var i = 0; i < json.resp.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.resp[i].IdGasto;
                            newOption.textContent = json.resp[i].Desc_Gasto;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function Llenargastosalta() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastos", "TMS")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var dynamicSelect = document.getElementById("idtipogastoalta");
                        dynamicSelect.innerText = null;
                        for (var i = 0; i < json.resp.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.resp[i].IdGasto;
                            newOption.textContent = json.resp[i].Desc_Gasto;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

        }

        function Llenargastosedit() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastos", "TMS")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var dynamicSelect = document.getElementById("idtipogastoedit");
                        dynamicSelect.innerText = null;
                        for (var i = 0; i < json.resp.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.resp[i].IdGasto;
                            newOption.textContent = json.resp[i].Desc_Gasto;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

        }

        $('#modal-formEdit2').on('hidden.bs.modal', function () {
            $("body").css({
                overflow: 'auto',
                height: 'auto'
            });
        })

        function ModalEdit2(Id_Vehiculo, IdConsecutivo) {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            document.getElementById("id_consecutivoedit").value = IdConsecutivo;
            $("#modal-formAlta").modal('hide');
            $("#modal-formEdit2").modal('show');
            $("body").css({
                overflow: 'hidden',
                height: '100%'
            });
            /*$("#modal-formEdit2").modal('show');*/

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastosVehiculo", "TMS")',
                data: {
                    Id_Vehiculo: Id_Vehiculo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var table = $('#exampleedit').DataTable();

                        table.clear().draw();
                        table.destroy();

                        //$("#modal-form").modal('hide');

                        var myTable = $('#exampleedit').DataTable();

                        for (var i = 0; i < json.resp.length; i++) {

                            myTable.row.add([

                                //json.resp[i].IdConsecutivo,
                                json.resp[i].IdGasto,
                                json.resp[i].Id_Vehiculo,
                                json.resp[i].FecGasto,
                                json.resp[i].Kilometraje,
                                json.resp[i].CantidadGasto,
                                json.resp[i].CreateDate,
                                json.resp[i].CreateTime,
                                json.resp[i].FecMovto,
                                json.resp[i].TimeMovto,
                                json.resp[i].activo,

                            ]).draw();


                        }

                        /*Llenargastosalta();*/
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastosVehiculobyID", "TMS")',
                data: {
                    IdConsecutivo: IdConsecutivo
                },

                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        Llenargastosedit();

                        console.log(json)
                        let fecha = getFecha(json.resp[0].FecGasto);
                        //document.getElementById("in_tipovehiculoedit").value = json.resp[0].TipoVehiculo;
                        //document.getElementById("id_tipovehiculoedit").value = json.resp[0].Id_Vehiculo;
                        document.getElementById("in_dineroedit").value = json.resp[0].CantidadGasto;
                        document.getElementById("idKilometrajeedit").value = json.resp[0].Kilometraje;
                        document.getElementById("idtipogastoedit").value = json.resp[0].IdGasto;
                        /*document.getElementById("in_placasedit").value = json.resp[0].Placas;*/
                        $("#in_fechaedit").val(fecha);


                        document.getElementById("id_estatus").value = 1;
                        document.getElementById("flag_edit").value = 1;

                        /*limpiarcamposModalAlta()*/


                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

                        $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetVehiculoById", "TMS")',
                data: {
                    Id: Id_Vehiculo
                },

                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        document.getElementById("in_tipovehiculoedit").value = json.json.TipoVehiculo;
                        document.getElementById("id_tipovehiculoedit").value = json.json.Id_Vehiculo;
                        //document.getElementById("in_desc").value = json.json.Descripcion;
                        document.getElementById("idtipogastoalta").value = json.json.IdGasto;
                        document.getElementById("in_placasedit").value = json.json.Placas;

                        document.getElementById("id_estatus").value = 1;
                        document.getElementById("flag_edit").value = 1;

                        limpiarcamposModalAlta()


                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

                        @*$.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastosVehiculobyID", "TMS")',
                data: {
                    Id_Vehiculo: Id_Vehiculo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    debugger;
                    if (json.Success) {


                        Llenargastosedit();

                        let fecha = getFecha(json.resp.FecGasto);

                        document.getElementById("in_dineroedit").value = json.resp.CantidadGasto;
                        document.getElementById("idKilometrajeedit").value = json.resp.Kilometraje;
                        document.getElementById("idtipogastoedit").value = json.resp.IdGasto;
                        //document.getElementById("in_motor").value = json.json.Motor;
                        //document.getElementById("in_fechaedit").value = json.resp[0].CreateDate;

                        $("#in_fechaedit").val(fecha);

                        /*Llenargastosalta();*/
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });*@

        }

        function getFecha(sFecha) {
            let fecha = sFecha.substring(0, 10).split('/');
            return fecha[2] + "-" + fecha[1] + "-" + fecha[0];
        }

        function ModalAlta(Id_Vehiculo) {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $("#modal-formAlta").modal('show');

     $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastosVehiculo", "TMS")',
                data: {
                    Id_Vehiculo: Id_Vehiculo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var table = $('#example3').DataTable();

                        table.clear().draw();
                        table.destroy();

                        //$("#modal-form").modal('hide');

                        var myTable = $('#example3').DataTable();

                        for (var i = 0; i < json.resp.length; i++) {

                            myTable.row.add([

                                /*json.resp[i].IdConsecutivo,*/
                                json.resp[i].IdGasto,
                                json.resp[i].Id_Vehiculo,
                                json.resp[i].FecGasto,
                                json.resp[i].Kilometraje,
                                json.resp[i].CantidadGasto,
                                json.resp[i].CreateDate,
                                json.resp[i].CreateTime,
                                json.resp[i].FecMovto,
                                json.resp[i].TimeMovto,
                                json.resp[i].activo,
                                "<button title='Editar' onclick=\"ModalEdit2(" + json.resp[i].Id_Vehiculo + "," + json.resp[i].IdConsecutivo + ")\" type=\"button\" class=\"btn btn-white btn-circle\"> <i class=\"fa fa-edit\"></i></button><button title='Eliminar' onclick=\"DeleteGastos2(" + "'" + json.resp[i].FecGasto + "'" + "," + json.resp[i].IdConsecutivo + "," + json.resp[i].Kilometraje + "," + json.resp[i].CantidadGasto + ")\" type=\"button\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-minus\"></i></button>"
                            ]).draw();


                        }

                        Llenargastosalta();
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetVehiculoById", "TMS")',
                data: {
                    Id: Id_Vehiculo
                },

                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        document.getElementById("in_tipovehiculo3").value = json.json.TipoVehiculo;
                        document.getElementById("id_tipovehiculo3").value = json.json.Id_Vehiculo;
                        //document.getElementById("in_desc").value = json.json.Descripcion;
                        document.getElementById("idtipogastoalta").value = json.json.IdGasto;
                        document.getElementById("in_placas3").value = json.json.Placas;

                        document.getElementById("id_estatus").value = 1;
                        document.getElementById("flag_edit").value = 1;

                        limpiarcamposModalAlta()


                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });



        }

        function AddGastos() {

           /* validaralta();*/

                //var _Id_Num_UN = $("#hddTda").val();
                //debugger;
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("AddGastoVehiculo", "TMS")',
                    data: {

                        IdGasto: document.getElementById("idtipogastoalta").value,
                        Id_Vehiculo: document.getElementById("id_tipovehiculo3").value,
                        CantidadGasto: document.getElementById("in_dinero3").value,
                        Kilometraje: document.getElementById("idKilometraje3").value,
                        FecGasto: document.getElementById("in_fecha3").value
                        /*created_user: document.getElementById("in_placas").value*/
                        /*created_user: "T_pedrocg"*/

                    },
                    datatype: "html",
                    success: function (json) {
                        console.log(json);

                        if (json.Success) {

                            var table = $('#example3').DataTable();

                            table.clear().draw();
                            table.destroy();


                            Id_Vehiculo = document.getElementById("id_tipovehiculo3").value;
                            //$("#modal-formAlta").modal('hide');
                            //ModalAlta(Id_Vehiculo);

                            limpiarcamposModalAlta();

                            $.ajax({
                                async: false,
                                type: "GET",
                                url: '@Url.Action("ListGastosVehiculo", "TMS")',
                                data: {
                                    Id_Vehiculo: Id_Vehiculo
                                },
                                datatype: "html",
                                success: function (json) {
                                    console.log(json);

                                    if (json.Success) {

                                        var table = $('#example3').DataTable();

                                        table.clear().draw();
                                        table.destroy();

                                        //$("#modal-form").modal('hide');

                                        var myTable = $('#example3').DataTable();

                                        for (var i = 0; i < json.resp.length; i++) {

                                            myTable.row.add([

                                                /*json.resp[i].IdConsecutivo,*/
                                                json.resp[i].IdGasto,
                                                json.resp[i].Id_Vehiculo,
                                                json.resp[i].FecGasto,
                                                json.resp[i].Kilometraje,
                                                json.resp[i].CantidadGasto,
                                                json.resp[i].CreateDate,
                                                json.resp[i].CreateTime,
                                                json.resp[i].FecMovto,
                                                json.resp[i].TimeMovto,
                                                json.resp[i].activo,
                                                "<button title='Editar' onclick=\"ModalEdit2(" + json.resp[i].Id_Vehiculo + "," + json.resp[i].IdConsecutivo + ")\" type=\"button\" class=\"btn btn-white btn-circle\"> <i class=\"fa fa-edit\"></i></button><button title='Eliminar' onclick=\"DeleteGastos2(" + "'" + json.resp[i].FecGasto + "'" + "," + json.resp[i].IdConsecutivo + "," + json.resp[i].Kilometraje + "," + json.resp[i].CantidadGasto + ")\" type=\"button\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-minus\"></i></button>"
                                            ]).draw();


                                        }

                                        Llenargastosalta();
                                    }
                                }
                                , error: function (jqXHR, textStatus, errorThrown) {
                                    bootbox.alert(errorThrown);
                                }
                            });
                        }
                        else {
                            limpiarcamposModalAlta();
                            $("#modal-formAlta").modal('hide');
                            ModalAlta(Id_Vehiculo)
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.alert(errorThrown);
                    }
                });
            

        }

        function EditGastos() {

            /*validaredit();*/

            //var e = document.getElementById("id_estatus");
            //var strUser = e.value;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("EditGastoVehiculo", "TMS")',
                data: {

                    IdGasto: document.getElementById("idtipogastoedit").value,
                    Id_Vehiculo: document.getElementById("id_tipovehiculoedit").value,
                    CantidadGasto: document.getElementById("in_dineroedit").value,
                    Kilometraje: document.getElementById("idKilometrajeedit").value,
                    FecGasto: document.getElementById("in_fechaedit").value,
                    IdConsecutivo: document.getElementById("id_consecutivoedit").value
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);






                    if (json.Success) {

                        //var table = $('#example').DataTable();

                        //table.clear().draw();
                        //table.destroy();

                        //$("#modal-form").modal('hide');

                        var table = $('#exampleedit').DataTable();

                        table.clear().draw();
                        table.destroy();
                        Id_Vehiculo = document.getElementById("id_tipovehiculoedit").value;

       $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastosVehiculo", "TMS")',
                data: {
                    Id_Vehiculo: Id_Vehiculo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var table = $('#exampleedit').DataTable();

                        table.clear().draw();
                        table.destroy();

                        //$("#modal-form").modal('hide');

                        var myTable = $('#exampleedit').DataTable();

                        for (var i = 0; i < json.resp.length; i++) {

                            myTable.row.add([

                                /*json.resp[i].IdConsecutivo,*/
                                json.resp[i].IdGasto,
                                json.resp[i].Id_Vehiculo,
                                json.resp[i].FecGasto,
                                json.resp[i].Kilometraje,
                                json.resp[i].CantidadGasto,
                                json.resp[i].CreateDate,
                                json.resp[i].CreateTime,
                                json.resp[i].FecMovto,
                                json.resp[i].TimeMovto,
                                json.resp[i].activo

                            ]).draw();


                        }

                        Llenargastosalta();
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function DeleteGastos(FecGasto, IdConsecutivo, Kilometraje, CantidadGasto) {

            //var e = document.getElementById("id_estatus");
            //var strUser = e.value;

             $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("EditGastoVehiculo", "TMS")',
                data: {

                    CantidadGasto: CantidadGasto,
                    Kilometraje: Kilometraje,
                    FecGasto: FecGasto,
                    IdConsecutivo: IdConsecutivo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        //var table = $('#example').DataTable();

                        //table.clear().draw();
                        //table.destroy();

                        //$("#modal-form").modal('hide');

                        var table = $('#example3').DataTable();

                        table.clear().draw();
                        table.destroy();
                        Id_Vehiculo = document.getElementById("id_tipovehiculoedit").value;

       $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastosVehiculo", "TMS")',
                data: {
                    Id_Vehiculo: Id_Vehiculo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var table = $('#example3').DataTable();

                        table.clear().draw();
                        table.destroy();

                        //$("#modal-form").modal('hide');

                        var myTable = $('#example3').DataTable();

                        for (var i = 0; i < json.resp.length; i++) {

                            myTable.row.add([

                                /*json.resp[i].IdConsecutivo,*/
                                json.resp[i].IdGasto,
                                json.resp[i].Id_Vehiculo,
                                json.resp[i].FecGasto,
                                json.resp[i].Kilometraje,
                                json.resp[i].CantidadGasto,
                                json.resp[i].CreateDate,
                                json.resp[i].CreateTime,
                                json.resp[i].FecMovto,
                                json.resp[i].TimeMovto,
                                json.resp[i].activo

                            ]).draw();


                        }

                        Llenargastosalta();
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function DeleteGastos2(FecGasto, IdConsecutivo, Kilometraje, CantidadGasto) {

            //var e = document.getElementById("id_estatus");
            //var strUser = e.value;

             $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("DeleteGastoVehiculo2", "TMS")',
                data: {

                    CantidadGasto: CantidadGasto,
                    Kilometraje: Kilometraje,
                    FecGasto: FecGasto,
                    IdConsecutivo: IdConsecutivo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        //var table = $('#example').DataTable();

                        //table.clear().draw();
                        //table.destroy();

                        //$("#modal-form").modal('hide');
                    if (json.Success) {

                        var table = $('#example3').DataTable();

                        table.clear().draw();
                        table.destroy();


                        Id_Vehiculo = document.getElementById("id_tipovehiculo3").value;
                        //$("#modal-formAlta").modal('hide');
                        //ModalAlta(Id_Vehiculo);

                        limpiarcamposModalAlta();

                          $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListGastosVehiculo", "TMS")',
                data: {
                    Id_Vehiculo: Id_Vehiculo
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    if (json.Success) {

                        var table = $('#example3').DataTable();

                        table.clear().draw();
                        table.destroy();

                        //$("#modal-form").modal('hide');

                        var myTable = $('#example3').DataTable();

                        for (var i = 0; i < json.resp.length; i++) {

                            myTable.row.add([

                                /*json.resp[i].IdConsecutivo,*/
                                json.resp[i].IdGasto,
                                json.resp[i].Id_Vehiculo,
                                json.resp[i].FecGasto,
                                json.resp[i].Kilometraje,
                                json.resp[i].CantidadGasto,
                                json.resp[i].CreateDate,
                                json.resp[i].CreateTime,
                                json.resp[i].FecMovto,
                                json.resp[i].TimeMovto,
                                json.resp[i].activo,
                                "<button title='Editar' onclick=\"ModalEdit2(" + json.resp[i].Id_Vehiculo + "," + json.resp[i].IdConsecutivo + ")\" type=\"button\" class=\"btn btn-white btn-circle\"> <i class=\"fa fa-edit\"></i></button><button title='Eliminar' onclick=\"DeleteGastos2(" + "'" + json.resp[i].FecGasto + "'" + "," + json.resp[i].IdConsecutivo + "," + json.resp[i].Kilometraje + "," + json.resp[i].CantidadGasto + ")\" type=\"button\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-minus\"></i></button>"
                            ]).draw();


                        }

                        Llenargastosalta();
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
                    }
                    else {
                        limpiarcamposModalAlta();
                        $("#modal-formAlta").modal('hide');
                        ModalAlta(Id_Vehiculo)
                    }



                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function ValidateMoney() {
            var amount = document.getElementById("in_dinero3").value;
            console.log(amount);
            //d+ permite caracteres enteros
            //si hay un caracter que no es dígito entonces evalua lo que está en paréntesis (?) significa opcional
            var patron = /^(\d+(.{1}\d{2})?)$/;
            if (!patron.test(amount)) {
                window.alert('cantidad ingresada incorrectamente');
                /*document.getElementById("in_dinero3").value = "";*/
                document.getElementById('in_dinero3').focus();
                return false;
            }
            else
                return true;
        }

        function ValidateKm() {
            var amount = document.getElementById("idKilometraje3").value;
            console.log(amount);
            //d+ permite caracteres enteros
            //si hay un caracter que no es dígito entonces evalua lo que está en paréntesis (?) significa opcional
            var patron = /^(\d+(.{1}\d{2})?)$/;
            if (!patron.test(amount)) {
                window.alert('cantidad ingresada incorrectamente');
                /*document.getElementById("idKilometraje3").value = "";*/
                document.getElementById('idKilometraje3').focus();
                return false;
            }
            else
                return true;
        }

        function limpiarcamposModalAlta() {
            document.getElementById("in_dinero3").value = "";
            document.getElementById("idKilometraje3").value = "";
            document.getElementById("in_fecha3").value = "";
        }

        function validaralta() {
            //obteniendo el valor que se puso en campo text del formulario
            CantidadGasto = document.getElementById("in_dinero3").value;
            Kilometraje = document.getElementById("idKilometraje3").value;
            FecGasto = document.getElementById("in_fecha3").value;
            tipogasto = document.getElementById("idtipogastoalta").value;
            //la condición

            if (tipogasto.length == 0) {
                document.getElementById("idtipogastoalta").focus();
                window.alert('campos vacios');
                return false;
            }
            if (CantidadGasto.length == 0) {
                document.getElementById("in_dinero3").focus();
                window.alert('campos vacios');
                return false;
            }
            if (Kilometraje.length == 0) {
                document.getElementById("idKilometraje3").focus();
                window.alert('campos vacios');
                return false;
            }
            if (FecGasto.length == 0) {
                document.getElementById("in_fecha3").focus();
                window.alert('campos vacios');
                document.getElementById("in_fecha3").focus();
                return false;
            }
            
            else {
                AddGastos();
            }
        }

        function validaredit() {
            //obteniendo el valor que se puso en campo text del formulario
            CantidadGasto = document.getElementById("in_dineroedit").value;
            Kilometraje = document.getElementById("idKilometrajeedit").value;
            FecGasto = document.getElementById("in_fechaedit").value;
           
            //la condición
            if (CantidadGasto.length == 0) {
                document.getElementById("in_dineroedit").focus();
                window.alert('campos vacios');
                return false;
            }
            if (Kilometraje.length == 0) {
                document.getElementById("idKilometrajeedit").focus();
                window.alert('campos vacios');
                return false;
            }
            if (FecGasto.length == 0) {
                document.getElementById("in_fechaedit").focus();
                window.alert('campos vacios');
                document.getElementById("in_fechaedit").focus();
                return false;
            }

            else {
                EditGastos();
            }
        }

    </script>

}