
@{
    ViewBag.Title = "Atributos de Transportistas";
}



<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .red {
        background-color: red !important;
    }
</style>


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>Atributos de Transportistas</h2></div>
        <div class="col-4"></div>

    </div>


    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">

        @*<h1><a href="#" class="btn btn-primary alert-custom">Bootbox Dialog &nbsp;<i class="glyphicon glyphicon-hand-left"></i></a></h1>*@


        <br />

        <div class="row">
            <div class="col-12">
                <table id="tblConsulta" class="table table-striped dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id Transportista</th>
                            <th>Nombre de Transportista</th>
                            <th>Tarifa Fija</th>
                            <th>Prioridad</th>
                            <th>Nivel de Servicio</th>
                            <th>Factor Division<br /> Peso Voluntario </th>
                            <th>Tipo de Logistica</th>
                            <th>Limite de Paqueteria</th>
                            <th>Vida Guias</th>

                            @*<th>Paqueteria</th>
                            <th>Big Ticket</th>
                            <th>Servicio Estandar</th>
                            <th>Servicio Express</th>*@
                            <th>Usuario de Actualizacion</th>
                            <th>Fecha de Actualizacion</th>
                            <th>Hora de Actualizacion</th>

                            <th>Activo</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    @*<tfoot>
                            <tr>
                                <th>Id Transportista</th>
                                <th>Tarifa Fija</th>
                                <th>Prioridad</th>
                                <th>Nivel de Servicio</th>
                                <th>Factor Division<br /> Peso Voluntario </th>
                                <th>Paqueteria</th>
                                <th>Big Ticket</th>
                                <th>Servicio Estandar</th>
                                <th>Servicio Express</th>
                                <th>Usuario Creacion</th>
                                <th>Fecha Cracion</th>
                                <th>Hora Creacion</th>
                                <th>Activo</th>

                                <th>Action</th>
                            </tr>
                        </tfoot>*@
                </table>
            </div>
        </div>

    </div>


    <div id="frmAltaTrans" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">Alta de Transportistas</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="frmCreateServicios">
                        <div class="row">
                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Id Transportista</label>
                                    <input type="text" placeholder="Id Transportista" id="ProveedorLista" name="ProveedorLista" class="form-control" />
                                    @*<select class="form-control" id="ProveedorLista" name="ProveedorLista">
            <option selected="selected" value="0">--Transportista--</option>



        </select>*@
                                </div>
                            </div>
                            <div class="col col-xs-8 col-md-8">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" placeholder="Nombre" id="in_nombre" name="in_nombre" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Nivel de Servicio</label>
                                    <input type="text" placeholder="Nivel de Servicio" id="NivelServicio" name="NivelServicio" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Factor Division Peso Voluntario</label>
                                    <input type="text" placeholder="Factor Division Peso Voluntario" id="FactorVoluntario" name="FactorVoluntario" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Prioridad</label>
                                    <input type="text" placeholder="Prioridad" id="Prioridad" name="Prioridad" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-8 col-md-4">
                                @*
                                            <div class="form-group">
                    <label>Tarifa Fija</label>
                    <div class="input-group">
                        <div id="radioBtn" class="btn-group">
                            <a class="btn btn-primary btn-sm active" data-toggle="TarifaFija" data-title="Y">SI</a>
                            <a class="btn btn-primary btn-sm notActive" data-toggle="TarifaFija" data-title="N">NO</a>
                        </div>
                        <input type="hidden" name="TarifaFija" id="TarifaFija">
                    </div>
                </div>*@
                            </div>
                            <div class="col col-xs-8 col-md-4">
                                @*<div class="form-group">
                    <label>Tarifa Fija</label>
                    <input type="text" placeholder="Costo Tarifa Fija" id="CostoTarifaFija" name="CostoTarifaFija" class="form-control" />

                </div>*@

                            </div>
                            <div class="col col-xs-8 col-md-4">

                                @*<div class="form-group">

                    <label>Porc. Adic. Paquete</label>

                    <input type="text" placeholder="Porc. Adic. Paquete" id="PorcAdicPaquete" name="PorcAdicPaquete" class="form-control" />

                </div>*@

                            </div>
                        </div>


                        <div class="row">


                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Tipo Logistica</label>
                                    <select class="form-control" id="tipoLogistica" name="tipoLogistica">
                                        <option selected="selected" value="0">--Selecciona--</option>


                                        @{ if (Session["cmbTL"] != null)
                                            {
                                                var myDataSet = Session["cmbTL"] as System.Data.DataSet;
                                                foreach (System.Data.DataRow r in myDataSet.Tables[0].Rows)
                                                {
                                                    <option value="@r["IdTipoLogistica"]">@r["TipoLogistica"]</option>

                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Limite de paqueteria</label>
                                    <input type="text" placeholder="Limite de paqueteria" id="in_limite" name="in_limite" class="form-control" />
                                </div>
                            </div>

                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Vida de Guias</label>
                                    <input type="text" placeholder="Vida de Guias" id="in_vida" name="in_vida" class="form-control" />
                                </div>
                            </div>

                        </div>
                        
                        <div class="row">
                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Tarifa Fija</label>
                                    <div class="input-group">
                                        <div id="radioBtn" class="btn-group">
                                            <a class="btn btn-primary btn-sm active" data-toggle="TarifaFija" data-title="Y">SI</a>
                                            <a class="btn btn-primary btn-sm notActive" data-toggle="TarifaFija" data-title="N">NO</a>
                                        </div>
                                        <input type="hidden" name="TarifaFija" id="TarifaFija">
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xs-8 col-md-3">

                                <div class="form-group">

                                    <label>Estatus</label>

                                    <div class="input-group">
                                        <div id="radioBtn" class="btn-group">
                                            <a class="btn btn-primary btn-sm active" data-toggle="Paqueteria" data-title="Y">SI</a>
                                            <a class="btn btn-primary btn-sm notActive" data-toggle="Paqueteria" data-title="N">NO</a>
                                        </div>
                                        <input type="hidden" name="Paqueteria" id="Paqueteria">
                                    </div>

                                </div>

                            </div>


                        </div>


                        @*<div class="row">
            <div class="col col-xs-8 col-md-3">

                <div class="form-group">

                    <label>Paqueteria</label>

                    <div class="input-group">
                        <div id="radioBtn" class="btn-group">
                            <a class="btn btn-primary btn-sm active" data-toggle="Paqueteria" data-title="Y">SI</a>
                            <a class="btn btn-primary btn-sm notActive" data-toggle="Paqueteria" data-title="N">NO</a>
                        </div>
                        <input type="hidden" name="Paqueteria" id="Paqueteria">
                    </div>

                </div>

            </div>
            <div class="col col-xs-8 col-md-3">

                <div class="form-group">

                    <label>Big Ticket</label>

                    <div class="input-group">
                        <div id="radioBtn" class="btn-group">
                            <a class="btn btn-primary btn-sm active" data-toggle="BigTicket" data-title="Y">SI</a>
                            <a class="btn btn-primary btn-sm notActive" data-toggle="BigTicket" data-title="N">NO</a>
                        </div>
                        <input type="hidden" name="BigTicket" id="BigTicket">
                    </div>

                </div>

            </div>
            <div class="col col-xs-8 col-md-3">

                <div class="form-group">

                    <label>Servicio Estandar</label>

                    <div class="input-group">
                        <div id="radioBtn" class="btn-group">
                            <a class="btn btn-primary btn-sm active" data-toggle="ServicioEstandar" data-title="Y">SI</a>
                            <a class="btn btn-primary btn-sm notActive" data-toggle="ServicioEstandar" data-title="N">NO</a>
                        </div>
                        <input type="hidden" name="ServicioEstandar" id="ServicioEstandar">
                    </div>

                </div>

            </div>
            <div class="col col-xs-8 col-md-3">

                <div class="form-group">

                    <label>Servicio Express</label>

                    <div class="input-group">
                        <div id="radioBtn" class="btn-group">
                            <a class="btn btn-primary btn-sm active" data-toggle="ServicioExpress" data-title="Y">SI</a>
                            <a class="btn btn-primary btn-sm notActive" data-toggle="ServicioExpress" data-title="N">NO</a>
                        </div>
                        <input type="hidden" name="ServicioExpress" id="ServicioExpress">
                    </div>

                </div>

            </div>

        </div>*@
                    </form>

                </div>


                <div class="modal-footer">


                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

                    <button type="button" onclick="AddSurtidores()" class="btn btn-primary">Guardar</button>

                </div>


            </div>
        </div>
    </div>


}

@section scripts {


    <link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/plugins/datatables/datatables.js"></script>

    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>


    <script>

        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        })


        $(document).ready(function () {

            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table =$('#tblConsulta').DataTable(
                {

                    language:
                        {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"

                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                            },
                            "buttons": {
                                "print": "Imprimir",
                                "pageLength": 'Mostrar %d Registros'

                            }
                        },
                    dom: 'Bfrtip',
                    lengthMenu: [
                                    [10, 25, 50, -1],
                                     ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                            { extend: 'pageLength', className: 'btn-primary' },
                            { extend: 'excel', className: 'btn-primary' },
                            {
                                text: 'Alta',
                                action: function (e, dt, node, config) {
                                    //var e = document.getElementById("ProveedorLista");
                                    //e.disabled = false;

                                    //document.getElementById("TarifaFija").value = "SI";
                                    ///*document.getElementById("CostoTarifaFija").value = '';*/
                                    //document.getElementById("NivelServicio").value = '';
                                    ////document.getElementById("FactorVoluntario").value = '';
                                    ////document.getElementById("PorcAdicPaquete").value = '';
                                    //document.getElementById("Prioridad").value = '';
                                    //document.getElementById("Paqueteria").value = "SI";
                                    //document.getElementById("BigTicket").value = "SI";
                                    //document.getElementById("ServicioEstandar").value = "SI";
                                    //document.getElementById("ServicioExpress").value = "SI";

                                    $("#frmAltaTrans").modal('show');

                                }
                                , className: 'btn-primary'
                            }
                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );

            GetTrans();
            GetCommonProveedor();
        });

        function GetCommonProveedor() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetCommonProveedores", "Catalogo")',
                data: {
                    IdAlmacen: null
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        //console.log(json);
                        //var dynamicSelect = document.getElementById("ProveedorLista");
                        //dynamicSelect.innerText = null;
                        //console.log(dynamicSelect);
                        //for (var i = 0; i < json.json.length; i++) {
                        //    var newOption = document.createElement("option");
                        //    newOption.value = json.json[i].NumProveedor;
                        //    newOption.textContent = json.json[i].NombreProveedor;//item.whateverProperty

                        //    dynamicSelect.appendChild(newOption);
                        //}
                        //console.log(dynamicSelect);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function EditSurtidores(IdTransportista) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTransportistas", "TMS")',
                data: {
                    IdTransportista: parseInt(IdTransportista)
                },
                datatype: "html",
                success: function (json) {
                    //debugger;
                    if (json.Success)
                    {
                        console.log(json);
                        for (var i = 0; i < json.json.length; i++) {
                            //document.getElementById("IdTransportista").value = json.json[i].IdTransportista;
                            //document.getElementById("RazonSocial").value = json.json[i].RazonSocial;
                            var e = document.getElementById("ProveedorLista");
                            /*e.value = json.json[i].IdTransportista;*/
                            /*e.disabled = true;*/

                            //var valTarifaFija = (json.json[i].TarifaFija == true) ? "Y" : "N";
                            //document.getElementById("CostoTarifaFija").value = json.json[i].CostoTarifaFija;
                            //document.getElementById("NivelServicio").value = json.json[i].NivelServicio;
                            //document.getElementById("FactorVoluntario").value = json.json[i].FactorVoluntario;
                            //document.getElementById("PorcAdicPaquete").value = json.json[i].PorcAdicPaquete;
                            //document.getElementById("Prioridad").value = json.json[i].Prioridad;
                            //var valPaqueteria = (json.json[i].Paqueteria == true) ? "Y" : "N";
                            //var valBigTicket = (json.json[i].BigTicket == true) ? "Y" : "N";
                            //var valServicioEstandar = (json.json[i].ServicioEstandar == true) ? "Y" : "N";
                            //var valServicioExpress = (json.json[i].ServicioExpress == true) ? "Y" : "N";

                            //IdTransportista { get; set; }//int
                            //public string Nombre { get; set; }
                            //public bool TarifaFija { get; set; }
                            //public string CostoTarifaFija { get; set; }
                            //public string Prioridad { get; set; }
                            //public string NivelServicio { get; set; }
                            //public string FactorPaqueteria { get; set; }
                            //public string LimitePaqueteria { get; set; }
                            //public string PorcAdicPaquete { get; set; }
                            //public string DiasVigenciaGuias { get; set; }
                            //public string UsuarioCreacion { get; set; }
                            //public string FechaUltModif { get; set; }
                            //public string UsuarioUltModif { get; set; }
                            //public string BitActivo { get; set; }
                            //public string IdTipoLogistica { get; set; }
                            //public string FechaCreacion { get; set; }
                            //public string TipoLogistica

                            document.getElementById("ProveedorLista").value = json.json[i].IdTransportista;
                            document.getElementById("NivelServicio").value = json.json[i].NivelServicio;
                            document.getElementById("FactorVoluntario").value = json.json[i].FactorPaqueteria;
                            document.getElementById("Prioridad").value = json.json[i].Prioridad;
                            document.getElementById("tipoLogistica").value = json.json[i].IdTipoLogistica;
                            document.getElementById("in_limite").value = json.json[i].LimitePaqueteria;
                            document.getElementById("in_vida").value = json.json[i].DiasVigenciaGuias;
                            document.getElementById("TarifaFija").value = "SI";//json.json[i].ServicioExpress;
                            document.getElementById("Paqueteria").value = json.json[i].BitActivo;
                            document.getElementById("in_nombre").value = json.json[i].Nombre



                        }

                        //$('a[data-toggle="TarifaFija"][data-title="' + valTarifaFija + '"]').click();
                        //$('a[data-toggle="Paqueteria"][data-title="' + valPaqueteria + '"]').click();
                        //$('a[data-toggle="BigTicket"][data-title="' + valBigTicket + '"]').click();
                        //$('a[data-toggle="ServicioEstandar"][data-title="' + valServicioEstandar + '"]').click();
                        //$('a[data-toggle="ServicioExpress"][data-title="' + valServicioExpress + '"]').click();

                        $("#frmAltaTrans").modal('show');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function AddSurtidores() {







            var _ProveedorLista = parseInt(document.getElementById("ProveedorLista").value);
            var _NivelServicio = parseInt(document.getElementById("NivelServicio").value);
            var _FactorVoluntario = parseInt(document.getElementById("FactorVoluntario").value);
            var _Prioridad = parseInt(document.getElementById("Prioridad").value);
            var _tipoLogistica = parseInt(document.getElementById("tipoLogistica").value);
            var _in_limite = parseInt(document.getElementById("in_limite").value);
            var _in_vida = parseInt(document.getElementById("in_vida").value);
            var _TarifaFija = parseInt(document.getElementById("TarifaFija").value);
            var _Estatus = parseInt(document.getElementById("Paqueteria").value);
            var _in_nombre = document.getElementById("in_nombre").value;

            //var _IdTransportista = parseInt(document.getElementById("ProveedorLista").value);
            //var _TarifaFija = parseFloat(document.getElementById("CostoTarifaFija").value);
            //var _CostoTarifaFija = parseFloat(document.getElementById("CostoTarifaFija").value);
            //var _Prioridad = parseFloat(document.getElementById("Prioridad").value);
            //var _NivelServicio = parseFloat(document.getElementById("NivelServicio").value);
            //var _FactorPaqueteria = parseFloat(document.getElementById("FactorVoluntario").value);
            //var _PorcAdicPaquete = parseFloat(document.getElementById("PorcAdicPaquete").value);
            var _IdTipoAlmacen = 1;
            var _Paqueteria = true;
            var _BigTicket = true;
            var _ServicioEstandar = true;
            var _ServicioExpress = true;
            var _UsuarioCreacion = "sysAdmin";

            //var _IdTransportista = parseInt(document.getElementById("ProveedorLista").value);
            //var _RazonSocial = document.getElementById("RazonSocial").value;
            //var _TarifaFija = document.getElementById("TarifaFija").value;
            //var _CostoTarifaFija = parseFloat(document.getElementById("CostoTarifaFija").value);
            //var _NivelServicio = parseFloat(document.getElementById("NivelServicio").value);
            //var _FactorVoluntario = parseFloat(document.getElementById("FactorVoluntario").value);
            //var _PorcAdicPaquete = parseFloat(document.getElementById("PorcAdicPaquete").value);
            //var _Prioridad = parseInt(document.getElementById("Prioridad").value);
            //var _Paqueteria = document.getElementById("Paqueteria").value;
            //var _BigTicket = document.getElementById("BigTicket").value;
            //var _ServicioEstandar = document.getElementById("ServicioEstandar").value;
            //var _ServicioExpress = document.getElementById("ServicioExpress").value;
            debugger;
            $.ajax({
                async: false,
                type: "POST",
                //url: '@Url.Action("AddTransportistas", "Catalogo")',
                url: '@Url.Action("InsTransportista", "TMS")',
                data: {
                    //IdTransportista: _IdTransportista,
                    //RazonSocial: _RazonSocial,
                    //TarifaFija: (_TarifaFija == "Y") ? true : false,
                    //CostoTarifaFija: _CostoTarifaFija,
                    //Prioridad: _Prioridad,
                    //NivelServicio: _NivelServicio,
                    //FactorPaqueteria: _FactorVoluntario,
                    //PorcAdicPaquete: _PorcAdicPaquete,
                    //IdTipoAlmacen: 4,
                    //Paqueteria: (_Paqueteria == "Y") ? true : false,
                    //BigTicket: (_BigTicket == "Y") ? true : false,
                    //ServicioEstandar: (_ServicioEstandar == "Y") ? true : false,
                    //ServicioExpress: (_ServicioExpress == "Y") ? true : false,
                    //UsuarioCreacion: "ADMIN"

                    //IdTransportista : _IdTransportista,
                    //TarifaFija : _TarifaFija,
                    //CostoTarifaFija : _CostoTarifaFija,
                    //Prioridad : _Prioridad,
                    //NivelServicio : _NivelServicio,
                    //FactorPaqueteria:_FactorPaqueteria,
                    //PorcAdicPaquete : _PorcAdicPaquete,
                    //IdTipoAlmacen : _IdTipoAlmacen,
                    //Paqueteria : _Paqueteria,
                    //BigTicket : _BigTicket,
                    //ServicioEstandar : _ServicioEstandar,
                    //ServicioExpress : _ServicioExpress,
                    //UsuarioCreacion: _UsuarioCreacion

                    //var _ProveedorLista = parseInt(document.getElementById("ProveedorLista").value);
                    //var _NivelServicio = parseInt(document.getElementById("NivelServicio").value);
                    //var _FactorVoluntario = parseInt(document.getElementById("FactorVoluntario").value);
                    //var _Prioridad = parseInt(document.getElementById("Prioridad").value);
                    //var _tipoLogistica = parseInt(document.getElementById("tipoLogistica").value);
                    //var _in_limite = parseInt(document.getElementById("in_limite").value);
                    //var _in_vida = parseInt(document.getElementById("in_vida").value);
                    //var _TarifaFija = parseInt(document.getElementById("TarifaFija").value);
                    //var _Estatus = parseInt(document.getElementById("Paqueteria").value);
                    //var _in_nombre = document.getElementById("in_nombre").value;

                    IdTransportista : _ProveedorLista,
                    Nombre: _in_nombre,
                    TarifaFija: _TarifaFija,
                    CostoTarifaFija: 0,
                    Prioridad: _Prioridad,
                    NivelServicio: _NivelServicio,
                    FactorPaqueteria: _FactorVoluntario,
                    LimitePaqueteria: _in_limite,
                    PorcAdicPaquete: 0,
                    DiasVigenciaGuias: _in_vida,
                    IdTipoLogistica: _tipoLogistica,
                    Estatus: _Estatus

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        location.reload();
                    }
                    else { bootbox.alert(json.Message);}
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        //<th>Id Transportista</th>
        //<th>Tarifa Fija</th>
        //<th>Prioridad</th>
        //<th>Nivel de Servicio</th>
        //<th>Factor Division<br /> Peso Voluntario </th>
        //<th>Paqueteria</th>
        //<th>Big Ticket</th>
        //<th>Servicio Estandar</th>
        //<th>Servicio Express</th>
        function GetTrans() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTransportistas", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {



                        var table1 = $('#tblConsulta').DataTable();
                        table1.clear().draw();
                        table1.destroy();

                        var table = $('#tblConsulta').DataTable(
                            {

                                language:
                                {
                                    "sProcessing": "Procesando...",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "Buscar:",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"

                                    },
                                    "oAria": {
                                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                                    },
                                    "buttons": {
                                        "print": "Imprimir",
                                        "pageLength": 'Mostrar %d Registros'

                                    }
                                },
                                dom: 'Bfrtip',
                                lengthMenu: [
                                    [10, 25, 50, -1],
                                    ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                                ],
                                buttons: [
                                    { extend: 'pageLength', className: 'btn-primary' },
                                    { extend: 'excel', className: 'btn-primary' },
                                    {
                                        text: 'Alta',
                                        action: function (e, dt, node, config) {
                                            var e = document.getElementById("ProveedorLista");
                                            //e.disabled = false;

                                            //document.getElementById("TarifaFija").value = "SI";
                                            //document.getElementById("CostoTarifaFija").value = '';
                                            //document.getElementById("NivelServicio").value = '';
                                            ////document.getElementById("FactorVoluntario").value = '';
                                            ////document.getElementById("PorcAdicPaquete").value = '';
                                            //document.getElementById("Prioridad").value = '';
                                            //document.getElementById("Paqueteria").value = "SI";
                                            //document.getElementById("BigTicket").value = "SI";
                                            //document.getElementById("ServicioEstandar").value = "SI";
                                            //document.getElementById("ServicioExpress").value = "SI";

                                            $("#frmAltaTrans").modal('show');

                                        }
                                        , className: 'btn-primary'
                                    }
                                ]
                                //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                //    if (aData[1] == "SETC") {
                                //        $('td', nRow).css('background-color', '#B6BF00');
                                //    } else if (aData[2] == "4") {
                                //        $('td', nRow).css('background-color', 'Orange');
                                //    }
                                //}
                            }
                        );
                        //$("#tblConsulta tbody tr").remove();

                        //Append each row to html table
                        console.log(json);
                        for (var i = 0; i < json.json.length; i++) {
                            //tr = $('<tr/>');
                            ////tr.append("<td class='row1'>" + json.json[i].Id_Num_Orden + "</td>");
                            //tr.append("<td>" + json.json[i].IdTransportista + "</td>");
                            ////tr.append("<td>" + json.json[i].RazonSocial + "</td>");
                            //if (json.json[i].TarifaFija == true)
                            //{
                            //    tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            //}
                            //else
                            //{
                            //    tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            //}

                            //tr.append("<td>" + json.json[i].Prioridad + "</td>");
                            //tr.append("<td>" + json.json[i].NivelServicio + "</td>");
                            //tr.append("<td>" + json.json[i].FactorPaqueteria + "</td>");
                            //if (json.json[i].Paqueteria == true)
                            //{
                            //    tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            //}
                            //else
                            //{
                            //    tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            //}
                            //if (json.json[i].BigTicket == true)
                            //{
                            //    tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            //}
                            //else
                            //{
                            //    tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            //}
                            //if (json.json[i].ServicioEstandar == true)
                            //{
                            //    tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            //}
                            //else
                            //{
                            //    tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            //}
                            //if (json.json[i].ServicioExpress == true)
                            //{
                            //    tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            //}
                            //else
                            //{
                            //    tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            //}
                            ////tr.append("<td><button type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button' class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >")
                            //tr.append("<td><button onclick='EditSurtidores(" + json.json[i].IdTransportista + ")' type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button'  onclick='DeleteSurtidores(" + json.json[i].Id_Carrier + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >")
                            //$('#tblConsulta').append(tr);

                            var TarifaFija_st = "";
                            var Paqueteria_st = "";
                            var BigTicket_st = "";
                            var ServicioEstandar_st = "";
                            var ServicioExpress_st = "";


                            if (json.json[i].TarifaFija == true) {
                                TarifaFija_st = "<input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked>";
                            }
                            else {
                                TarifaFija_st = "<input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\">";
                            }


                            if (json.json[i].Paqueteria == true) {
                                Paqueteria_st = "<input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked>";
                            }
                            else {
                                Paqueteria_st = "<input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\">";
                            }
                            if (json.json[i].BigTicket == true) {
                                BigTicket_st = "<input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked>";
                            }
                            else {
                                BigTicket_st = "<input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\">";
                            }
                            if (json.json[i].ServicioEstandar == true) {
                                ServicioEstandar_st = "<input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked>";
                            }
                            else {
                                ServicioEstandar_st = "<input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\">";
                            }
                            if (json.json[i].ServicioExpress == true) {
                                ServicioExpress_st = "<input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked>";
                            }
                            else {
                                ServicioExpress_st = "<input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\">";
                            }





                            table.row.add([

                                json.json[i].IdTransportista,
                                json.json[i].RazonSocial,
                                TarifaFija_st,
                                json.json[i].Prioridad,
                                json.json[i].NivelServicio,
                                json.json[i].FactorPaqueteria,

                                json.json[i].TipoLogistica,
                                json.json[i].LimitePaqueteria,
                                json.json[i].DiasVigenciaGuias,

                                //Paqueteria_st,
                                //BigTicket_st,
                                //ServicioEstandar_st,
                                //ServicioExpress_st,

                                json.json[i].UsuarioUltModif,
                                json.json[i].FechaUltModif,
                                json.json[i].HoraUltModif,
                                json.json[i].BitActivo,

                                "<button title=\"Editar\" onclick='EditSurtidores(" + json.json[i].IdTransportista + ")' type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button>"
                                //<button title=\"Eliminar\" type='button'  onclick='DeleteSurtidores(" + json.json[i].Id_Carrier + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button>
                            ]).draw();


                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        /* Bootbox Dialog box with custom Value */
        $('.alert-custom').click(function () {
            bootbox.dialog({
                title: "This is a form in a modal.",
                message: '<div class="row">  ' +
                '<div class="col-md-12"> ' +
                '<form class="form-horizontal"> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="name">Name</label> ' +
                '<div class="col-md-4"> ' +
                '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
                '<span class="help-block">Here goes your name</span> </div> ' +
                '</div> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
                '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
                'Really awesome </label> ' +
                '</div><div class="radio"> <label for="awesomeness-1"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
                '</div> ' +
                '</div> </div>' +
                '</form> </div>  </div>',
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function () {
                            var name = $('#name').val();
                            var answer = $("input[name='awesomeness']:checked").val()
                            $('.Example').show().html("Hello " + name + ". You've chosen <b>" + answer + "</b").fadeOut(5000);
                        }
                    }
                }
            }
                    );
        })
    </script>

}