
@model IEnumerable<ServicesManagement.Web.Models.CarrierModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Atributos de Almacenes";

}

<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .red {
        background-color: red !important;
    }
</style>

<link href="view-source:http://webapplayers.com/inspinia_admin-v2.8/sweetalert.html">

<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h2>Atributos de Almacenes</h2></div>
    <div class="col-4"></div>
</div>
<div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
    <br />
    <div class="row">
        <div class="col-12">
            <table id="tblConsulta" class="table table-striped table-bordered table-hover">
                <thead>
                    @*<thead class="bg-primary">*@
                    <tr>
                        <th>Tipo de Almacen</th>
                        <th>Proveedor</th>
                        <th>Nombre Proveedor</th>
                        <th>Almacen</th>
                        <th>Tiempo de Surtido</th>
                        <th>Servicio Estandar</th>
                        <th>Servicio Express</th>
                        <th>Tipo Logistica</th>
                        <th>Fecha de Actualizacion</th>
                        <th>Hora de Actualizacion</th>
                        <th>Usuario de Actualizacion</th>
                        <th>Activo</th>
                        <th name="accion">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<input id="flag_edit" name="flag_edit" value="0" style="visibility:hidden" />

@Html.Partial("Almacenes/Create")


@section scripts {

    <script src="~/Content/Inspinia/plugins/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/Inspinia/Styles/sweetalert/sweetalert.css" rel="stylesheet">

    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

    <script type="text/javascript">
             $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        });

        $('#ProveedorLista').change(function () {
            _IdProveedor = $("#ProveedorLista").val();
            _idOwner = $("#lstIdAlmacen").val();
                   CmboAlmacenes(_IdProveedor, _idOwner);
        });

        $('#lstIdAlmacen').change(function () {
            _idOwner = $("#lstIdAlmacen").val();
            CmboProveedores(_idOwner);
        });

        function CmboProveedores(_idOwner) {

             $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("GetProveedoresCmb", "Catalogo")',
                    data: {
                        idOwner: _idOwner
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success)
                        {
                            var sel = $("#ProveedorLista");
                            sel.empty();

                            $('#ProveedorLista').get(0).options[0] = new Option("--SELECCIONE--", "0");
                            for (var i = 0; i < json.resp.length; i++) {
                                sel.append('<option value="' + json.resp[i].IdProveedor + '">' + json.resp[i].NombreProveedor + '</option>');
                            }
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                    }
                });
        }

        function CmboAlmacenes(_IdProveedor, _idOwner) {
            
                                 $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("GetSuppliersWarehousest", "Catalogo")',
                    data: {
                        IdProv: _IdProveedor,
                        idOwner: _idOwner
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success)
                        {

                            var sel = $("#AlmacenLista");
                            sel.empty();

                            $('#AlmacenLista').get(0).options[0] = new Option("--SELECCIONE--", "0");
                            for (var i = 0; i < json.json.length; i++) {
                                sel.append('<option value="' + json.json[i].IdAlmacen + '">' + json.json[i].NombreAlmacen + '</option>');
                            }
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                    }
                });
        }

        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $('#tblConsulta').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        { extend: 'excel', className: 'btn-primary' },
                        {
                            text: 'Alta',
                            action: function (e, dt, node, config) {
                                document.getElementById("flag_edit").value = 0
                                $('#AlmacenLista').attr('disabled', false);
                                $('#lstIdAlmacen').attr('disabled', false);
                                $('#ProveedorLista').attr('disabled', false);
                                $('#ProveedorLista').val("0");
                                $('#lstIdAlmacen').val("0");
                                $('#AlmacenLista').val("0");

                                iniciaTblLogistica(0, 0, 0, 0);
                                $("#modal-CreateAlmacen").modal('show');

                            }
                            , className: 'btn-primary'
                        }
                    ]
                    , "scrollX": true
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );
            GetAlmacenes();
            GetCommonAlmacen();
            IniciarComboTipoAlmacen();
        });

        String.prototype.format = function () {
            var literal = this;

            for (var i = 0; i < arguments.length; i++) {
                var regex = new RegExp('{' + i + '}', 'g');
                literal = literal.replace(regex, arguments[i]);
            }

            return literal;
        };

        function ActionUpd() {
            
            //if (document.getElementById("flag_edit").value == "1") {
            //    saveEditSurtidor();
            //}
            //else {
            //    AddSurtidores();
            //}
            AddSurtidores();
        }

        function IniciarComboTipoAlmacen() {
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("IniciarComboTipoAlmacen", "Catalogo")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    
                    if (json.Success) {
                        var sel = $("#lstIdAlmacen");
                        sel.empty();

                        $('#lstIdAlmacen').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].idOwner + '">' + json.resp[i].ownerName +  '</option>');
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);

                }
            });
        }

        function GetCommonAlmacen() {
            //var _Id_Num_UN = $("#hddTda").val();
            //
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetCommonAlmacenes", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        console.log(json);
                        var dynamicSelect = document.getElementById("AlmacenLista");
                        console.log(dynamicSelect);
                        for (var i = 0; i < json.json.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.json[i].NumAlmacen;
                            newOption.textContent = json.json[i].NombreAlmacen;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                        console.log(dynamicSelect);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function GetAlmacenes() {
            //var _Id_Num_UN = $("#hddTda").val();
            

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetAlmacenes", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    
                    if (json.Success) {
                        var myTable = $('#tblConsulta').DataTable();
                        myTable
                            .clear()
                            .draw();
                        for (var i = 0; i < json.resp.length; i++) {

                            ch1 = '';
                            ch2 = '';

                            if (json.resp[i].ServicioEstandar) {
                                ch1 = 'checked';
                            }

                            if (json.resp[i].ServicioExpress) {
                                ch2= 'checked';
                            } 

                            myTable.row.add([
                                json.resp[i].OwnerName,
                                json.resp[i].idSupplierWH,
                                json.resp[i].SupplierName,
                                json.resp[i].SupplierWHName,
                                json.resp[i].TiempoSurtido,
                                "<input type='checkbox' class='editor-active\' onclick='return false;' " + ch1+">",
                                "<input type='checkbox' class='editor-active\' onclick='return false;' " + ch2 + ">",
                                json.resp[i].TipoLogistica,
                                json.resp[i].FechaUltModif,
                                json.resp[i].HoraUltModif,
                                json.resp[i].UsuarioUltModif,
                                json.resp[i].BitActivo,
                             
                                "<button title='Editar' onclick=\"GetById(" + json.resp[i].idOwner + "," + json.resp[i].idSupplierWH + "," + json.resp[i].idSupplierWHCode + ")\" type=\"button\" class=\"btn btn-white btn-circle\"> <i class=\"fa fa-edit\"></i></button><button title='Eliminar' type=\"button\" onclick=\"Delete(" + json.resp[i].idOwner + "," + json.resp[i].idSupplierWH + "," + json.resp[i].idSupplierWHCode + ")\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-minus\"></i></button>"
                            ]).draw();
                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                   alert(errorThrown);
                }
            });
        }

        function AddSurtidores() {

            var e = document.getElementById("AlmacenLista");
            var _idSupplierWHCode = parseInt(e.options[e.selectedIndex].value);
            var e = document.getElementById("ProveedorLista");
            var _idSupplierWH = parseInt(e.options[e.selectedIndex].value);

            
            var _ServicioEstandar = document.getElementById("ServicioEstandar").value;
            var _ServicioExpress = document.getElementById("ServicioExpress").value;
            var _idOwner = $("#lstIdAlmacen").val();
            var _TiempoSurtido = $("#txtTiempoSurtido").val();
            var _BitActivo = $("#id_estatus").val();

            if (_idOwner == "0") {
                $("#lstIdAlmacen").focus();
                return;
            }

            if (_idSupplierWH == "0") {
                $("#ProveedorLista").focus();
                return;
            }

            if (_idSupplierWHCode == "0" || _idSupplierWHCode == "") {
                if (_idOwner == "1")
                    _idSupplierWHCode = 1
                else {
                    $("#AlmacenLista").focus();
                    return;
                }
            }

            if (_TiempoSurtido.length == 0) {
                $("#txtTiempoSurtido").focus();
                return;
            }

            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("AddAlmacenes", "Catalogo")',
                data: {
                    idSupplierWH: _idSupplierWH,
                    idSupplierWHCode: _idSupplierWHCode,
                    idOwner: _idOwner,
                    ServicioEstandar: (_ServicioEstandar == "Y") ? true : false,
                    ServicioExpress: (_ServicioExpress == "Y") ? true : false,
                    TiempoSurtido: _TiempoSurtido,
                    BitActivo: (_BitActivo == "1") ? true : false
                },
                datatype: "html",
                success: function (json)
                {
                    if (json.Success) {
                        AddLogistica(_idSupplierWH, _idSupplierWHCode, _idOwner);
                        location.reload();
                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown)
                {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function GetById(_idOwner, _idSupplierWH, _idSupplierWHCode) {
            //idOwner, int idSupplierWH, int idSupplierWHCode

            $('#AlmacenLista').attr('disabled', true);
            $('#lstIdAlmacen').attr('disabled', true);
            $('#ProveedorLista').attr('disabled', true);
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetAlmacenesById", "Catalogo")',
                data: {
                    idOwner: _idOwner,
                    idSupplierWH: _idSupplierWH,
                    idSupplierWHCode: _idSupplierWHCode
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                            var valServicioEstandar = (json.resp.ServicioEstandar == true) ? "Y" : "N";
                            var valServicioExpress = (json.resp.ServicioExpress == true) ? "Y" : "N";

                        CmboProveedores(json.resp.idOwner);
                        $("#ProveedorLista").val(json.resp.idSupplierWH);

                        CmboAlmacenes(json.resp.idSupplierWH, json.resp.idOwner);
                        $("#AlmacenLista").val(json.resp.idSupplierWHCode);
                        $("#lstIdAlmacen").val(json.resp.idOwner);
                        $('a[data-toggle="ServicioEstandar"][data-title="' + valServicioEstandar + '"]').click();
                        $('a[data-toggle="ServicioExpress"][data-title="' + valServicioExpress + '"]').click();

                        if (json.resp.BitActivo) {
                            document.getElementById("id_estatus").value = 1;
                        } else { document.getElementById("id_estatus").value = 0 }
                        document.getElementById("flag_edit").value = 1;

                        iniciaTblLogistica(1, _idSupplierWH, _idSupplierWHCode, _idOwner);
                  
                        $("#txtTiempoSurtido").val(json.resp.TiempoSurtido);


                        $("#modal-CreateAlmacen").modal('show');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function Delete(_idOwner, _idSupplierWH, _idSupplierWHCode) {
            //idOwner, int idSupplierWH, int idSupplierWHCode
            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("DelAlmacenes", "Catalogo")',
                data: {
                    idOwner: _idOwner,
                    idSupplierWH: _idSupplierWH,
                    idSupplierWHCode: _idSupplierWHCode
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        location.reload();
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function DeleteSurtidores(id) {
            if (confirm('Esta seguro que desea eliminar el Transportista : ' + id)) {
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("DeleteTransportistas", "Catalogo")',
                    data: {
                        num: id
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            location.reload();
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.alert(errorThrown);
                    }
                });
            }
        }

        function saveEditSurtidor() {
            var e = document.getElementById("AlmacenLista");
            var _idSupplierWHCode = parseInt(e.options[e.selectedIndex].value);
            var e = document.getElementById("ProveedorLista");
            var _idSupplierWH = parseInt(e.options[e.selectedIndex].value);


            var _ServicioEstandar = document.getElementById("ServicioEstandar").value;
            var _ServicioExpress = document.getElementById("ServicioExpress").value;
            var _idOwner = $("#lstIdAlmacen").val();
            var _TiempoSurtido = 1;
            var _BitActivo = $("#id_estatus").val();


            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("UpdAlmacenes", "Catalogo")',
                data: {
                    idSupplierWH: _idSupplierWH,
                    idSupplierWHCode: _idSupplierWHCode,
                    idOwner: _idOwner,
                    ServicioEstandar: (_ServicioEstandar == "Y") ? true : false,
                    ServicioExpress: (_ServicioExpress == "Y") ? true : false,
                    TiempoSurtido: _TiempoSurtido,
                    BitActivo: (_BitActivo == "1") ? true : false
                },
                datatype: "html",
                success: function (json)
                {
                    if (json.Success) {
                        location.reload();
                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown)
                {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function iniciaTblLogistica(_op, _idSupplierWH, _idSupplierWHCode, _idOwner) {

            //int op, int idSupplierWH, int idSupplierWHCode
                 $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTipoLogisticaAlm", "Catalogo")',
                data: {
                    idSupplierWH: _idSupplierWH,
                    idSupplierWHCode: _idSupplierWHCode,
                    op: _op,
                    idOwner: _idOwner
                },
                datatype: "html",
                success: function (json)
                {
                    if (json.Success) {
                        $("#tblLogistica tbody").empty();

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');
                            //tr.append("<td class='row1'>" + json.json[i].Id_Num_Orden + "</td>");

                            tr.append("<td>" + json.resp[i].TipoLogistica + "</td>");

                            if (json.resp[i].IsChecked) {
                                tr.append("<td><input checked type='checkbox' id='chLog-" + json.resp[i].IdTipoLogistica + "' value='" + json.resp[i].IdTipoLogistica + "'/></td>");
                            } else {
                                tr.append("<td><input type='checkbox' id='chLog-" + json.resp[i].IdTipoLogistica + "' value='" + json.resp[i].IdTipoLogistica + "'/></td>");
                            }
                            $('#tblLogistica').append(tr);
                        }
                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown)
                {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function AddLogistica(_idSupplierWH, _idSupplierWHCode, _idOwner) {
            
            var logistica = new Array();
            $("#tblLogistica TBODY TR").each(function () {
                var row = $(this);
                var item = {};
                
                item.IsChecked = row.find("TD input:checkbox").eq(0).is(':checked');
                item.IdTipoLogistica = row.find("TD input:checkbox").eq(0).prop('value');
                item.idSupplierWH = _idSupplierWH;
                item.idSupplierWHCode = _idSupplierWHCode;
                item.idOwner = _idOwner;
                //var isChecked = $('#tableData tbody tr:eq(' + row + ') input:checkbox').is(':checked');
                //var checkBoxValue = $('#tableData tbody tr:eq(' + row + ') input:checkbox').prop('value');
                logistica.push(item);
            });

             $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("AddLogisticaAlm", "Catalogo")',
                 data: JSON.stringify(logistica),
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                success: function (json)
                {
                    if (json.Success) {
                        //location.reload();
                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown)
                {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function LimpiaModal() {
            $("#nameT").val("");
            $("#Id_Num_Un").val("");
            $("#ddlEstatus").val("1");
        }


    </script>

}






