<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a class="navbar-minimalize"><i class="fa fa-bars"></i> </a>
                    <span>
                        <img alt="image" class="img-circle logo" src="@Url.Content("~/Content/images/theme/logo.png")" />
                    </span>
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">Soriana</strong>
                        </span>
                        <span class="text-muted text-xs block">TMS</span>
                    </span>
                </div>
                <div class="logo-element">
                    <span>
                        <img alt="image" class="img-circle logo" style="height: 35px; width: 45px" src="@Url.Content("~/Content/images/theme/Soriana_logo.png")" />
                    </span>
                </div>
            </li>

            @{
                //string userName = ViewBag.Login != null ? ViewBag.Login.Username : "";
                var rol = Session["UserRol"] != null ? (ServicesManagement.Web.Controllers.UserRolModel)Session["UserRol"] : new ServicesManagement.Web.Controllers.UserRolModel();
            }
            @{

                if (rol.idRol != null)
                {
                    var ds = ServicesManagement.Web.DALConfig.MenusRol_sUP(int.Parse(rol.idRol));
                    System.Data.DataRow[] result = ds.Tables[0].Select("padreId = 0 ", "posicion ASC");
                    foreach (System.Data.DataRow row in result)
                    {

                        <li>
                            @if (row["controller"].ToString().Length != 0 || row["action"].ToString().Length != 0)
                            {
                                <a href="@Url.Action(row["action"].ToString(), row["controller"].ToString())"><i class="@row["icono"]"></i> <span class="nav-label">@row["descripcionCorta"]</span><span class="fa arrow"></span></a>
                            }
                            else
                            {
                                <a href="#"><i class="@row["icono"]"></i> <span class="nav-label">@row["descripcionCorta"]</span><span class="fa arrow"></span></a>
                            }

                            @{
                                System.Data.DataRow[] result2 = ds.Tables[0].Select("padreId =" + @row["menuId"].ToString());
                                //dt.AsEnumerable().Where( dr => dr.Field<int>( "ID" ) == 1 );
                            }

                            <ul class="nav nav-second-level collapse" aria-expanded="false">
                                @foreach (System.Data.DataRow r in result2)
                                {
                                    <li><a href="@Url.Action(r["action"].ToString(), r["controller"].ToString())">@r["descripcionCorta"]</a></li>
                                }
                            </ul>
                        </li>
                    }

                }
                else
                {

                    Response.Redirect("~/Security/Login");

                }

            }
            @*<li>
                    <a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">Ordenes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" aria-expanded="false">
                        <li><a href="@Url.Action("MenuOrdenes","Ordenes")">Surtido de Ordenes</a></li>
                        <li><a href="@Url.Action("OrdenSeleccionada","Ordenes")">Listado Ordenes</a></li>
                            <li><a href="@Url.Action("OrdenDetalle","Ordenes")">Orden</a></li>
                            <li><a href="@Url.Action("Servidores","Catalogo")">Traspaso</a></li>
                            <li><a href="@Url.Action("Servidores","Catalogo")">Etiquetas</a></li>
                            <li><a href="@Url.Action("Servidores","Catalogo")">Reportes</a></li>

                        <li><a href="@Url.Action("Logs","Catalogo")">Logs</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-tools"></i> <span class="nav-label">Catalogo</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" aria-expanded="false">
                        <li><a href="@Url.Action("Surtidores","Catalogo")">Surtidores</a></li>
                        <li><a href="@Url.Action("Transportistas","Catalogo")">Transportistas</a></li>
                        <li><a href="@Url.Action("Pasillos","Catalogo")">Pasillos</a></li>
                        <li><a href="@Url.Action("PassCan","Catalogo")">Password para Cancelar</a></li>
                    </ul>
                </li>*@
        </ul>

    </div>
</nav>