
@{
    ViewBag.Title = "Surtido de Ordenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h2>Seleccionar la unidad de negocio.</h2></div>
    <div class="col-4"></div>
</div>

@*<a href="@Url.Action("ConsultaDetalle","Ordenes")">
    <div class="dd-handle">
        <span class="float-right"> Call Center </span>
        <span class="label label-success"><i class="fa fa-car"></i></span> 2 - SAN ISIDRO (Saltillo, Coah.).
    </div>
</a>*@

<div class="row">

        
        <div class="col-4"></div>
        <div class="col-4">
            <ol class="dd-list" style="">
                
                @{

                    if (Session["listaUN"] != null)
                    {
                        System.Data.DataSet ds = (System.Data.DataSet)Session["listaUN"];
                        var dt = ds.Tables[0];


                        int index = 0;
                        foreach (System.Data.DataRow p in dt.Rows)
                        {
                            <li class="dd-item" data-id="2">
                                <a href="@Url.Action("SeleccionTda","Ordenes", new { un = @p[0].ToString() ,desc_un = @p[1].ToString()})">
                                    <div class="dd-handle">
                                        <span class="float-right"> Call Center </span>
                                        <span class="label label-success"><i class="fa fa-car"></i></span> @p[1].ToString()
                                    </div>
                                </a>
                            </li>

                        }


                    }
                }



                @*<li class="dd-item" data-id="2">
                    <a href="@Url.Action("OrdenSeleccionada","Ordenes")">
                        <div class="dd-handle">
                            <span class="float-right"> Call Center </span>
                            <span class="label label-success"><i class="fa fa-car"></i></span> 2 - SAN ISIDRO (Saltillo, Coah.).
                        </div>
                    </a>
                </li>



                <li class="dd-item" data-id="2">
                    <div class="dd-handle">
                        <span class="float-right"> Call Center </span>
                        <span class="label label-success"><i class="fa fa-car"></i></span> 24 - Cumbres (Mty, N.L.).
                    </div>
                </li>*@
            </ol>
        </div>
        <div class="col-4"></div>


</div>

@*@Html.Partial("Servicios/Create")*@

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
          

        });
    </script>
}
