
@{
    ViewBag.Title = "Orden";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<link href="~/Content/Inspinia/Styles/clockpicker/clockpicker.css" rel="stylesheet" />

    <!-- Color picker -->
    <script src="http://webapplayers.com/inspinia_admin-v2.9.4/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

    <!-- Clock picker -->
    <script src="http://webapplayers.com/inspinia_admin-v2.9.4/js/plugins/clockpicker/clockpicker.js"></script>*@

<link href="~/Content/plugins/clockpicker/dist/bootstrap-clockpicker.min.css" rel="stylesheet" />


<div class="top-navigation pace-running pace-running pace-running pace-running">


    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><h2>Recepcion de Guía del transportista</h2> </div>
        <div class="col-sm-4"></div>
    </div>


    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align:center">Para ver la guia hacer click aqui.</div>
        <div class="col-sm-4"></div>
    </div>



    @{
        if (Session["OrderSelected"] != null)
        {
            System.Data.DataSet ds = (System.Data.DataSet)Session["OrderSelected"];
            var dt = ds.Tables[0];


            int index = 0;
            foreach (System.Data.DataRow p in dt.Rows)
            {

                @*<div class="row">
                        <div class="col-sm-3"><h2>Orden: @p["OrderNo"]</h2></div>
                        <div class="col-sm-5"><h2>Fecha Arribo: @p["DeliveryDate"]</h2> </div>
                        <div class="col-sm-4"><H2>Surtidor: @p["ShipperName"]</H2></div>
                    </div>*@

                <input id="OrderNo" name="OrderNo" value="@p["OrderNo"]" style="visibility:hidden" />
                <input id="UeNo" name="UeNo" value="@p["UeNo"]" style="visibility:hidden" />
                <input id="StoreNum" name="StoreNum" value="@p["StoreNum"]" style="visibility:hidden" />
                <input id="OrderStatus" name="OrderStatus" value="@p["StatusUe"]" style="visibility:hidden" />
                <input id="ShipperName" name="ShipperName" value="@p["ShipperName"]" style="visibility:hidden" />


                <div class="row">

                    <div class="col-lg-4">
                        <div class="ibox-content">
                            <div class="feed-activity-list">

                                <div class="feed-element">
                                    <div>
                                        <i class="fa fa-bus payment-icon-big text-success"></i>
                                        <h4>Guia</h4>
                                        <h4 class="text-navy">@p["OrderNo"]</h4>
                                        <p>
                                            <span><strong>Chofer:</strong> @p["ShipperName"]</span><br>
                                            <span><strong>Fecha Asignacion:</strong> @p["DeliveryDate"]</span>
                                        </p>
                                        @*<span>Orden:</span>*@
                                        <h4>Orden</h4>
                                        <h4 class="text-navy">@p["DeliveryType"]</h4>
                                        <h4>Entrega</h4>
                                        <h4 class="text-navy">@p["DeliveryType"]</h4>
                                    </div>
                                </div>

                                <div class="feed-element">
                                    <div>
                                        <i class="fa fa-user payment-icon-big text-warning"></i>
                                        <h4>Nombre del Cliente:</h4>
                                        <h4 class="text-navy">@p["CustomerName"]</h4>
                                        <address>
                                            <strong>Direccion:</strong><br>
                                            @p["Address1"]<br>
                                            @p["Address2"], @p["PostalCode"]<br>
                                            <abbr title="Phone">T:</abbr> @p["Phone"]
                                        </address>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>


                    <div class="col-lg-6">
                        <div class="row">

                            <div class="payment-card">

                                <div class="col-md-12">

                                    <form role="form" id="payment-form">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="col-md-8">
                                                    <fieldset>
                                                        <legend>
                                                            ¿La orden se entregó?
                                                        </legend>
                                                        <div class="form-check abc-radio abc-radio-info form-check-inline">
                                                            <input type="radio" checked="" value="S" id="optionsRadios1" name="optionsRadios"> Si
                                                        </div>
                                                        <div class="form-check abc-radio form-check-inline">
                                                            <input type="radio" value="N" id="optionsRadios2" name="optionsRadios"> No
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Nombre e Identificación</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre e Identificacion" required="">
                                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>


                                                        @*<label class="col-sm-3 col-form-label">Nombre e Identificación:</label>*@

                                                        @*<div class="col-sm-9"><input type="text" id="nombre" name="nombre" placeholder="Nombre e Identificación" class="form-control"></div>
                                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>*@


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7 col-md-7">
                                                <div class="form-group">
                                                    <label>ENTREGA</label>
                                                    <div class="input-group date" id="RepFechaFolioDate">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input class="form-control datepicker" id="fechaE" name="fechaE"
                                                               placeholder="Del" type="text" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 col-md-5" style="padding-top: 25px;">
                                                <div class="form-group">

                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        <input type="text" class="form-control" id="timeD" value="09:30">
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                    @*<div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                                            <input type="text" class="form-control" value="13:14">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>*@
                                                </div>
                                            </div>
                                            @*<div class="col-5 col-md-5 float-right">
                                                    <div class="form-group">
                                                        <div class="input-group clockpicker" data-autoclose="true">
                                                            <input type="text" class="form-control" value="09:30">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-clock-o"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>


                                        <div class="row">
                                            <div class="col-12">
                                                <div class="col-md-12">
                                                    <fieldset>
                                                        <legend>
                                                            NOTA:: Si no se registra la fecha REAL de entrega,la orden no se cerrará.
                                                        </legend>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>COMENTARIOS</label>
                                                    <input type="text" class="form-control" id="comentarios" name="comentarios" placeholder="COMENTARIOS">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-primary" type="button" onclick="FinalizaEmbarque2()">FINALIZAR!</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            }
        }

    }



</div>


@*@section Styles {

        @Styles.Render("~/plugins/dataPickerStyles")
    }*@
@section scripts {

    <!-- Data picker -->
    @*<script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>*@
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/slimScroll")


    <script src="~/Content/plugins/clockpicker/dist/bootstrap-clockpicker.min.js"></script>

    @*<link href="~/Content/plugins/bootstrap-datetime/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <script src="~/Content/Inspinia/plugins/datapicker/bootstrap-datepicker.js"></script>*@

    @*<link href="~/Content/plugins/bootstrap-datetime/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <script src="~/Content/plugins/bootstrap-datetime/js/bootstrap-datetimepicker.min.js"></script>*@


    <link href="~/Content/Inspinia/Styles/datapicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/Inspinia/plugins/datapicker/bootstrap-datepicker.js"></script>

    <script type="text/javascript">

        //$.datepicker.regional['es'] = {
        //    closeText: 'Cerrar',
        //    prevText: '< Ant',
        //    nextText: 'Sig >',
        //    currentText: 'Hoy',
        //    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        //    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        //    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        //    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        //    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        //    weekHeader: 'Sm',
        //    dateFormat: 'dd/mm/yy',
        //    firstDay: 1,
        //    isRTL: false,
        //    showMonthAfterYear: false,
        //    yearSuffix: ''
        //};
        //$.datepicker.setDefaults($.datepicker.regional['es']);

        $('.input-group.date').datepicker({
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: 'mm/d/yyyy',
            //language: 'es',
            //format: 'HH:mm'
        })


        $('.clockpicker').clockpicker({

            donetext: 'Done'
        })
	        .find('input').change(function () {
	            console.log(this.value);
	        });

        $(document).ready(function () {
            //GetSuetidores();
            //$('.clockpicker').clockpicker();



            var values = [];

            $(".cbx").click(function () {
                values = [];
                $(".cbx").each(function () {
                    if ($(this).is(":checked"))
                        values.push($(this).val());
                });

                document.getElementById("Orders").value = values;
                //alert(values);
            });

            window.setInterval(function () {
                var date = new Date();
                //alert(date.getMinutes());
                if ((date.getMinutes() % 5) == 0) {

                    location.reload();
                }
            }, 60000);

        });


        function consulta() {

            debugger;

        }

        function onchangeDropTrans(el) {

            debugger;
            var id_categoria = $(el).attr('id');

            if (confirm('Seguro que desea signar el transportista a los pedidos seleccionados?')) {
                //$('#ConfirmMessageResponse').val('Yes');


                FinalizaEmbarque(id_categoria);


            } else {
                //$('#ConfirmMessageResponse').val('No');
                return false;
            }


        }


        function FinalizaEmbarque2() {

            var radioValue = $("input[name='optionsRadios']:checked").val();
            if (radioValue) {
                //alert("Your are a - " + radioValue);



                var listaO = document.getElementById("OrderNo").value;

                $.ajax({
                    async: false,
                    type: "POST",
                    url: '@Url.Action("FinalizarEntrega", "Ordenes")',
                    data: {
                        OrderNo: listaO,
                        trans: document.getElementById("ShipperName").value,
                        ide: document.getElementById("nombre").value,
                        fechaD: document.getElementById("fechaE").value,
                        comments: document.getElementById("comentarios").value,
                        flagE: radioValue,
                        timeD: document.getElementById("timeD").value

                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {

                            //location.reload();

                            window.location.href = '@Url.Content("~/ordenes/OrdenSeleccionada")';
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);

                    }
                });

            }

        }


        function FinalizaEmbarque() {

            debugger;



            var listaO = document.getElementById("Orders").value;

            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("FinalizarTransportista", "Ordenes")',
                data: {
                    OrderNo: listaO,
                    trans: tran
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        //location.reload();

                        return false;
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);

                }
            });

        }



        function ShowFilter() {
            $("#filter").collapse('toggle');
        };
    </script>
}







