
@{
    ViewBag.Title = "CostosFijos";
}


<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .red {
        background-color: red !important;
    }

    #table-scroll {
        height: 600px;
        overflow: auto;
        margin-top: 20px;
    }

    .modalPdfContainer {
        width: 100%;
        height: calc(100vh);
    }
</style>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2> Costos fijos por Rango al cliente</h2></div>
        <div class="col-4"></div>
    </div>


    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
        <br />

        @*<table id="tblConsulta" class="table table-striped dataTable" style="width:100%">*@
        <div class="row" id="dualListInvs" style="margin-left: 1%;margin-right: 1%;overflow-x: scroll;">
            <div class="row" id="gridInvs">
                <br />
                <div class="col-12">

                    <table id="tblConsulta" class="table table-striped table-bordered table-hover" style="overflow: scroll;width: 100%">
                        <thead>
                            <tr>
                                <th>IdTransportista</th>
                                <th>NombreTransportista</th>
                                <th>IdZona</th>
                                <th>Desc_Zona</th>
                                <th>PesoInicio</th>
                                <th>PesoFin</th>
                                <th>CostoFijo</th>
                                <th>CreatedDate</th>
                                <th>CreatedTime</th>
                                <th>Estatus</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @{


                                if (Session["grid"] != null)
                                {
                                    var myDataSet = Session["grid"] as List<ServicesManagement.Web.Controllers.AtributosModels>;
                                    foreach (ServicesManagement.Web.Controllers.AtributosModels r in myDataSet)
                                    {
                                        <tr>
                                            <td>@r.Id_AtributosSYE</td>
                                            <td>@r.Id_CategoriaArt</td>
                                            <td>@r.Id_CategoriaArt</td>
                                            <td>@r.Precio_Fact</td>
                                            <td>@r.Seguro_Trans</td>
                                            <td>@r.Porc_VS_Costo_Fact</td>
                                            <td>@r.Porc_adic_por_empaque</td>
                                            <td>@r.Usuario</td>
                                            <td>@r.Fec_Movto</td>
                                            <td>@r.Time_Movto</td>
                                            <td>@r.BitActivo</td>
                                            <td>
                                                <button type="button" onclick="SelectItem('@r.Id_AtributosSYE','@r.Id_AtributosSYE')" class="btn btn-white btn-circle"> <i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>

                                    }
                                }
                            }


                        </tbody>

                    </table>

                </div>
            </div>
        </div>


        <div id="frmAltaTrans" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Alta de Atributos de Srguro y Empaque</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="frmCreateServicios">

                            <div class="row">
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select class="form-control" id="ProveedorLista" name="ProveedorLista">
                                            <option selected="selected" value="0">--Seleccionar--</option>
                                            @{ if (Session["listaCatSap"] != null)
                                                {
                                                    var myDataSet = Session["listaCatSap"] as System.Data.DataSet;
                                                    foreach (System.Data.DataRow r in myDataSet.Tables[0].Rows)
                                                    {
                                                        <option value="@r["Cve_CategSAP"]">@r["Desc_CategSAP"]</option>

                                                    }
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="col col-xs-8 col-md-4">

                                </div>
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Precio Fact.</label>
                                        <input type="text" placeholder="Precio Fact." id="in_precio" name="in_precio" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Seguro</label>
                                        <input type="text" placeholder="Seguro" id="in_seguro" name="in_seguro" class="form-control" />
                                    </div>
                                </div>
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Porc. vs Costo Fact.</label>
                                        <input type="text" placeholder="" id="in_porc" name="in_porc" class="form-control" />
                                    </div>
                                </div>
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Porc. Adic. Por Empaque</label>
                                        <input type="text" placeholder="" id="in_adic" name="in_adic" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Estatus</label>
                                        <select class="form-control" id="in_estatus" name="in_estatus">
                                            <option selected="selected" value="0">Activo</option>
                                            <option value="1">Inactivo</option>

                                        </select>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" onclick="AddSurtidores()" class="btn btn-primary">Guardar</button>
                    </div>

                </div>
            </div>
        </div>

        <div id="buscaOrden" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Lista de Ordenes</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <table id="Table_Inv" class="table table-striped table-bordered table-hover" style="overflow: scroll">
                            <thead>
                                <tr>
                                    <th>OrderNo</th>
                                    <th>UeNo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{

                                    if (Session["lisOrdenes"] != null)
                                    {

                                        var myDataSet = Session["lisOrdenes"] as System.Data.DataSet;
                                        foreach (System.Data.DataRow r in myDataSet.Tables[0].Rows)
                                        {
                                            <tr>
                                                <td>
                                                    @r["OrderNo"]
                                                </td>
                                                <td>
                                                    @r["UeNo"]
                                                </td>
                                                <td>
                                                    <button type="button" onclick="SelectOrder('@r["OrderNo"]','@r["UeNo"]')" class="btn btn-warning btn-circle"> <i class="fa fa-minus"></i></button>
                                                </td>
                                            </tr>

                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" onclick="AddSurtidores()" class="btn btn-primary">Guardar</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade bd-example-modal-lg" id="myProduccion" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="height:650px">
                    <div class="modal-header">
                        <h5 class="modal-title">Reporte de Consulta de Asignacion de Dueño de Pasillo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="550px" id="frameReporte" src="" frameborder="0" allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade bd-example-modal-lg" id="dlgReporteador" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleReporteador">Mostrando el reporte</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="position:inherit">
                            <div class="lockPdf"></div>
                            <embed class="modalPdfContainer" src="data:application/pdf;base64,'" type="application/pdf" id="objPDF" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <input id="filename" name="filename" value="0" style="visibility:hidden" />

        <input id="flagStatus" name="flagStatus" value="" style="visibility:hidden" />

    </div>
}



@section scripts {

    <link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/plugins/datatables/datatables.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

    <script>
        function changeSrcEmbed(element, src) {
            var id = element.id;
            element.src = src;
            var embedOld = document.getElementById(id);
            var parent = embedOld.parentElement;
            var newElement = element;
            document.getElementById(id).remove();
            //parent.append(newElement);
            parent.appendChild(newElement);

        }

        function SelectItem(item, itemId) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetAtributosSYE", "Catalogo")',
                data: {
                    Id_AtributosSYE: item
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        debugger;
                        document.getElementById("flagStatus").value = json.Id;

                        document.getElementById("ProveedorLista").value = json.cat;
                        document.getElementById("in_precio").value = json.pre;
                        document.getElementById("in_seguro").value = json.seg;
                        document.getElementById("in_porc").value = json.porc;
                        document.getElementById("in_adic").value = json.adic;
                        document.getElementById("in_estatus").value = json.e;

                        //Id = o_id,
                        //    cat = o_cat,
                        //    pre = o_pre,
                        //    seg = o_seg,
                        //    porc = o_porc,
                        //    adic = o_adic,
                        //    e = o_est.ToLower().Equals("false") ? 1 : 0
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
             });

            $("#frmAltaTrans").modal('show');
        }



        function btnOrdenes() {

            $("#buscaOrden").modal('show');

        }


        $(document).ready(function () {


            $('#tblConsulta').DataTable(
                {

                    language:
                        {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"

                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                            },
                            "buttons": {
                                "print": "Imprimir",
                                "pageLength": 'Mostrar %d Registros'

                            }
                        },
                    dom: 'Bfrtip',
                    lengthMenu: [
                                    [10, 25, 50, -1],
                                     ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                            { extend: 'pageLength', className: 'btn-primary' },
                            { extend: 'excel', className: 'btn-primary' },
                            {
                                text: 'Alta',
                                action: function (e, dt, node, config) {
                                    //var e = document.getElementById("ProveedorLista");
                                    //e.disabled = false;

                                    //document.getElementById("TarifaFija").value = "SI";
                                    //document.getElementById("cp_origen").value = '';
                                    //document.getElementById("cp_destino").value = '';
                                    //document.getElementById("in_ancho").value = '';
                                    //document.getElementById("in_alto").value = '';
                                    //document.getElementById("in_peso").value = '';
                                    //document.getElementById("in_largo").value = '';
                                    document.getElementById("flagStatus").value = "0";
                                    $("#frmAltaTrans").modal('show');

                                }
                                , className: 'btn-primary'
                            }
                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );
        });

        function GetCommonProveedor() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetCommonProveedores", "Catalogo")',
                data: {
                    IdAlmacen: null
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        console.log(json);
                        var dynamicSelect = document.getElementById("ProveedorLista");
                        dynamicSelect.innerText = null;
                        console.log(dynamicSelect);
                        for (var i = 0; i < json.json.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.json[i].NumProveedor;
                            newOption.textContent = json.json[i].NombreProveedor;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                        console.log(dynamicSelect);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function EditSurtidores(IdTransportista) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTransportistas", "Catalogo")',
                data: {
                    IdTransportista: parseInt(IdTransportista)
                },
                datatype: "html",
                success: function (json) {
                    //debugger;
                    if (json.Success) {
                        console.log(json);
                        for (var i = 0; i < json.json.length; i++) {
                            //document.getElementById("IdTransportista").value = json.json[i].IdTransportista;
                            //document.getElementById("RazonSocial").value = json.json[i].RazonSocial;
                            var e = document.getElementById("ProveedorLista");
                            e.value = json.json[i].IdTransportista;
                            e.disabled = true;

                            var valTarifaFija = (json.json[i].TarifaFija == true) ? "Y" : "N";
                            document.getElementById("CostoTarifaFija").value = json.json[i].CostoTarifaFija;
                            document.getElementById("NivelServicio").value = json.json[i].NivelServicio;
                            document.getElementById("FactorVoluntario").value = json.json[i].FactorVoluntario;
                            document.getElementById("PorcAdicPaquete").value = json.json[i].PorcAdicPaquete;
                            document.getElementById("Prioridad").value = json.json[i].Prioridad;
                            var valPaqueteria = (json.json[i].Paqueteria == true) ? "Y" : "N";
                            var valBigTicket = (json.json[i].BigTicket == true) ? "Y" : "N";
                            var valServicioEstandar = (json.json[i].ServicioEstandar == true) ? "Y" : "N";
                            var valServicioExpress = (json.json[i].ServicioExpress == true) ? "Y" : "N";
                        }

                        $('a[data-toggle="TarifaFija"][data-title="' + valTarifaFija + '"]').click();
                        $('a[data-toggle="Paqueteria"][data-title="' + valPaqueteria + '"]').click();
                        $('a[data-toggle="BigTicket"][data-title="' + valBigTicket + '"]').click();
                        $('a[data-toggle="ServicioEstandar"][data-title="' + valServicioEstandar + '"]').click();
                        $('a[data-toggle="ServicioExpress"][data-title="' + valServicioExpress + '"]').click();

                        $("#frmAltaTrans").modal('show');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function AddSurtidores() {


            debugger;
            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("InsAtributosSYE", "Catalogo")',
                data: {
                    Id_AtributosSYE: document.getElementById("flagStatus").value
                    , Id_CategoriaArt: document.getElementById("ProveedorLista").value
                    , Precio_Fact: document.getElementById("in_precio").value
                    , Seguro_Trans: document.getElementById("in_seguro").value
                    , Porc_VS_Costo_Fact: document.getElementById("in_porc").value
                    , Porc_adic_por_empaque: document.getElementById("in_adic").value
                    , Estatus: document.getElementById("in_estatus").value
                },
                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        debugger;
                        //alert(json.json.cotizacion.TipoServicio[0].DescripcionServicio);

                        //var table1 = $('#tblConsulta').DataTable();
                        //table1.clear().draw();
                        //table1.destroy();


                        //var table = $('#tblConsulta').DataTable(
                        //    {

                        //        language:
                        //        {
                        //            "sProcessing": "Procesando...",
                        //            "sLengthMenu": "Mostrar _MENU_ registros",
                        //            "sZeroRecords": "No se encontraron resultados",
                        //            "sEmptyTable": "Ningún dato disponible en esta tabla",
                        //            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        //            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        //            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        //            "sInfoPostFix": "",
                        //            "sSearch": "Buscar:",
                        //            "sUrl": "",
                        //            "sInfoThousands": ",",
                        //            "sLoadingRecords": "Cargando...",
                        //            "oPaginate": {
                        //                "sFirst": "Primero",
                        //                "sLast": "Último",
                        //                "sNext": "Siguiente",
                        //                "sPrevious": "Anterior"

                        //            },
                        //            "oAria": {
                        //                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        //                "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        //            },
                        //            "buttons": {
                        //                "print": "Imprimir",
                        //                "pageLength": 'Mostrar %d Registros'

                        //            }
                        //        },
                        //        dom: 'Bfrtip',
                        //        lengthMenu: [
                        //            [10, 25, 50, -1],
                        //            ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                        //        ],
                        //        buttons: [
                        //            { extend: 'pageLength', className: 'btn-primary' },
                        //            { extend: 'excel', className: 'btn-primary' },
                        //            {
                        //                text: 'Cotizacion',
                        //                action: function (e, dt, node, config) {
                        //                    //var e = document.getElementById("ProveedorLista");
                        //                    //e.disabled = false;

                        //                    document.getElementById("TarifaFija").value = "SI";
                        //                    document.getElementById("cp_origen").value = '';
                        //                    document.getElementById("cp_destino").value = '';
                        //                    document.getElementById("in_ancho").value = '';
                        //                    document.getElementById("in_alto").value = '';
                        //                    document.getElementById("in_peso").value = '';
                        //                    document.getElementById("in_largo").value = '';

                        //                    $("#frmAltaTrans").modal('show');

                        //                }
                        //                , className: 'btn-primary'
                        //            },
                        //            {
                        //                text: 'Guardar Cotizacion',
                        //                action: function (e, dt, node, config) {
                        //                    saveCotizacion()
                        //                }
                        //                , className: 'btn-primary'
                        //            }

                        //        ]
                        //        //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        //        //    if (aData[1] == "SETC") {
                        //        //        $('td', nRow).css('background-color', '#B6BF00');
                        //        //    } else if (aData[2] == "4") {
                        //        //        $('td', nRow).css('background-color', 'Orange');
                        //        //    }
                        //        //}
                        //    }
                        //);

                        ////table.clear().draw();
                        ////table.destroy();

                        //for (var i = 0; i < json.json.cotizacion.TipoServicio.length; i++) {


                        //    table.row.add([
                        //        json.json.cotizacion.TipoServicio[i].DescripcionServicio,
                        //        json.json.cotizacion.TipoServicio[i].TipoEnvioRes,
                        //        json.json.cotizacion.TipoServicio[i].AplicaCotizacion,
                        //        json.json.cotizacion.TipoServicio[i].TarifaBase,
                        //        json.json.cotizacion.TipoServicio[i].CCTarifaBase,
                        //        json.json.cotizacion.TipoServicio[i].CargosExtra,
                        //        json.json.cotizacion.TipoServicio[i].SobrePeso,
                        //        json.json.cotizacion.TipoServicio[i].CCSobrePeso,
                        //        json.json.cotizacion.TipoServicio[i].CostoTotal,
                        //        json.json.cotizacion.TipoServicio[i].Peso,
                        //        json.json.cotizacion.TipoServicio[i].AplicaServicio
                        //        /*, "<input id=\"radio_TS\" name=\"tipoS\" type=\"radio\" onchange=\"setTS('" + json.json.cotizacion.TipoServicio[i].DescripcionServicio + "')\"  value=\"" + json.json.cotizacion.TipoServicio[i].DescripcionServicio + "\">"*/
                        //        /*, "<button type=\"button\" onclick=\"DeleteSurtidores(undefined)\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-pencil\"></i></button>"*/
                        //        , "<button type=\"button\" onclick=\"GeneraGuia(" + json.json.cotizacion.TipoServicio[i].DescripcionServicio+")\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-pencil\"></i></button>"

                        //    ]).draw();

                        //}


                        $("#frmAltaTrans").modal('hide');

                        location.reload();

                    } else { alert(json.Message);}
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function GeneraGuia(desc) {

             $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GeneraGuia", "TMS")',
                data: {
                    UeNo: document.getElementById("UeNo").value,
                    OrderNo: document.getElementById("NoOrder").value,
                    tipoServicio: desc, //document.getElementById("flagStatus").value,
                    paqueteria: "1"

                },
                datatype: "html",
                success: function (json) {
                    //debugger;
                    if (json.Success) {

                        alert("Cotizacion Guardada con exito");


                        @*$('#frameReporte').attr('src', '@Url.Action("DownLoad", "IntegridadAnaquel")?filename=' + data.Object.ruta);

                        $('#myProduccion').modal('show');*@


                        var element = document.getElementById('objPDF');
                        changeSrcEmbed(element, 'data:application/pdf;base64,' + json.pdf);//+ '#toolbar=0&navpanes=0&scrollbar=0');
                        $('#dlgReporteador').modal('show');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function DisplayError(xhr) {

            if (xhr.responseText == "Solicitud incorrecta") {
                var msg = JSON.parse(xhr.statusText);
                bootbox.alert("<h4>" + msg + "</h4>");
            }
            else {
                var msg = JSON.parse(xhr.responseText);
                bootbox.alert("<h4>" + msg.Message + "</h4>");
            }
        }

        /* Bootbox Dialog box with custom Value */
        $('.alert-custom').click(function () {
            bootbox.dialog({
                title: "This is a form in a modal.",
                message: '<div class="row">  ' +
                '<div class="col-md-12"> ' +
                '<form class="form-horizontal"> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="name">Name</label> ' +
                '<div class="col-md-4"> ' +
                '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
                '<span class="help-block">Here goes your name</span> </div> ' +
                '</div> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
                '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
                'Really awesome </label> ' +
                '</div><div class="radio"> <label for="awesomeness-1"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
                '</div> ' +
                '</div> </div>' +
                '</form> </div>  </div>',
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function () {
                            var name = $('#name').val();
                            var answer = $("input[name='awesomeness']:checked").val()
                            $('.Example').show().html("Hello " + name + ". You've chosen <b>" + answer + "</b").fadeOut(5000);
                        }
                    }
                }
            }
                    );
        })
    </script>
}


