
@{
    ViewBag.Title = "Peso de Transportista";
}



<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .red {
        background-color: red !important;
    }
</style>


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>Peso de Transportista</h2></div>
        <div class="col-4"></div>

    </div>


    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">

        @*<h1><a href="#" class="btn btn-primary alert-custom">Bootbox Dialog &nbsp;<i class="glyphicon glyphicon-hand-left"></i></a></h1>*@


        <br />

        <div class="row">
            <div class="col-12">
                <table id="tblConsulta" class="table table-striped dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id Transportista</th>
                            <th>Transportista</th>
                            <th>Peso</th>


                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id Transportista</th>
                            <th>Transportista</th>
                            <th>Peso</th>


                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>


    <div id="frmAltaTrans" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">Alta de Peso Transportistas</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="frmCreateServicios">
                        <div class="row">
                            <input type="hidden" id="hddId_paqueteria" />
                            <div class="col col-xs-8 col-md-12">
                                <div class="form-group">
                                    <label>Transportista</label>
                                    <select class="form-control" id="ProveedorLista" name="ProveedorLista">
                                        <option selected="selected" value="0">--Transportista--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Peso</label>
                                    <input type="text" onchange="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'"  placeholder="0.00" min="0" value="0" step="0.01" title="Peso" id="txtPeso" name="txtPeso" pattern="^\d+(?:\.\d{1,2})?$" class="form-control" />
                                </div>
                            </div>
                            @*<div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Factor Division Peso Voluntario</label>
                                    <input type="text" placeholder="Factor Division Peso Voluntario" id="FactorVoluntario" name="FactorVoluntario" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-xs-8 col-md-4">
                                <div class="form-group">
                                    <label>Prioridad</label>
                                    <input type="text" placeholder="Prioridad" id="Prioridad" name="Prioridad" class="form-control" />
                                </div>
                            </div>*@
                        </div>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" onclick="AddSurtidores()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>


}

@section scripts {


    <link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/plugins/datatables/datatables.js"></script>

    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>


    <script>

        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        })


        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table =  $('#tblConsulta').DataTable(
                {

                    language:
                        {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"

                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                            },
                            "buttons": {
                                "print": "Imprimir",
                                "pageLength": 'Mostrar %d Registros'

                            }
                        },
                    dom: 'Bfrtip',
                    lengthMenu: [
                                    [10, 25, 50, -1],
                                     ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                            { extend: 'pageLength', className: 'btn-primary' },
                            { extend: 'excel', className: 'btn-primary' },
                            {
                                text: 'Alta',
                                action: function (e, dt, node, config) {
                                    $("#hddId_paqueteria").val("0");
                                    document.getElementById("txtPeso").value = "0.00";


                                    $("#frmAltaTrans").modal('show');

                                }
                                , className: 'btn-primary'
                            }
                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );

            GetPaqueterias();
            GetCommonProveedor();
        });

        function GetCommonProveedor() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListTransportista", "Catalogo")',
                data: {
                    IdAlmacen: null
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        console.log(json);
                        var dynamicSelect = document.getElementById("ProveedorLista");
                        dynamicSelect.innerText = null;
                        console.log(dynamicSelect);
                        for (var i = 0; i < json.resp.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.resp[i].IdTransportista;
                            newOption.textContent = json.resp[i].Nombre;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                        console.log(dynamicSelect);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function EditSurtidores(Id_paqueteria) {
            $("#hddId_paqueteria").val(Id_paqueteria);
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetPaqueteriasId", "Catalogo")',
                data: {
                    Id_paqueteria: Id_paqueteria
                },
                datatype: "html",
                success: function (json) {
                    //debugger;
                    if (json.Success)
                    {
                        console.log(json);
                        for (var i = 0; i < json.resp.length; i++) {


                            debugger;
                            $("#txtPeso").val(json.resp[i].Peso);
                            $("#ProveedorLista").val(json.resp[i].Id_Proveedor);

                        }


                        $("#frmAltaTrans").modal('show');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function DeleteSurtidores(Id_paqueteria) {
 
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("DelPaqueteria", "Catalogo")',
                data: {
                    Id_paqueteria: Id_paqueteria
                },
                datatype: "html",
                success: function (json) {
                    //debugger;
                    if (json.Success)
                    {
                        location.reload();
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function AddSurtidores() {

            var _peso = $("#txtPeso").val();
            var _Id_Proveedor = $("#ProveedorLista").val();
            var _Id_paqueteria = $("#hddId_paqueteria").val();
            //if (!isNaN(_peso)) {
            //    $("#txtPeso").val('0.00');
            //    $("#txtPeso").focus();
            //    return;
            //}
            debugger;
            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("AddPeso", "Catalogo")',
                data: {
                    Id_Proveedor: _Id_Proveedor,
                    peso: _peso,
                    Id_paqueteria: _Id_paqueteria
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        location.reload();
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        //<th>Id Transportista</th>
        //<th>Tarifa Fija</th>
        //<th>Prioridad</th>
        //<th>Nivel de Servicio</th>
        //<th>Factor Division<br /> Peso Voluntario </th>
        //<th>Paqueteria</th>
        //<th>Big Ticket</th>
        //<th>Servicio Estandar</th>
        //<th>Servicio Express</th>
        function GetPaqueterias() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetPaqueterias", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        //$("#tblConsulta tbody tr").remove();
                        //var tr;
                        //debugger;
                        //Append each row to html table
                        console.log(json);

                        var table1 = $('#tblConsulta').DataTable();
                        table1.clear().draw();
                        table1.destroy();


                        var table  = $('#tblConsulta').DataTable(
                            {

                                language:
                                {
                                    "sProcessing": "Procesando...",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "Buscar:",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"

                                    },
                                    "oAria": {
                                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                                    },
                                    "buttons": {
                                        "print": "Imprimir",
                                        "pageLength": 'Mostrar %d Registros'

                                    }
                                },
                                dom: 'Bfrtip',
                                lengthMenu: [
                                    [10, 25, 50, -1],
                                    ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                                ],
                                buttons: [
                                    { extend: 'pageLength', className: 'btn-primary' },
                                    { extend: 'excel', className: 'btn-primary' },
                                    {
                                        text: 'Alta',
                                        action: function (e, dt, node, config) {
                                            $("#hddId_paqueteria").val("0");
                                            document.getElementById("txtPeso").value = "0.00";


                                            $("#frmAltaTrans").modal('show');

                                        }
                                        , className: 'btn-primary'
                                    }
                                ]
                                //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                //    if (aData[1] == "SETC") {
                                //        $('td', nRow).css('background-color', '#B6BF00');
                                //    } else if (aData[2] == "4") {
                                //        $('td', nRow).css('background-color', 'Orange');
                                //    }
                                //}
                            }
                        );

                        for (var i = 0; i < json.resp.length; i++) {
                            //tr = $('<tr/>');



                            //tr.append("<td>" + json.resp[i].Id_Proveedor + "</td>");
                            //tr.append("<td>" + json.resp[i].Nombre + "</td>");
                            //tr.append("<td>" + json.resp[i].Peso + "</td>");
                            //tr.append("<td><button onclick='EditSurtidores(" + json.resp[i].Id_paqueteria + ")' type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button'  onclick='DeleteSurtidores(" + json.resp[i].Id_paqueteria + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >")
                            //$('#tblConsulta').append(tr);


                            table.row.add([

                                json.resp[i].Id_Proveedor,
                                json.resp[i].Nombre,
                                json.resp[i].Peso,
                                "<button onclick='EditSurtidores(" + json.resp[i].Id_paqueteria + ")' type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button'  onclick='DeleteSurtidores(" + json.resp[i].Id_paqueteria + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button>"
                                
                            ]).draw();

                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        /* Bootbox Dialog box with custom Value */
        $('.alert-custom').click(function () {
            bootbox.dialog({
                title: "This is a form in a modal.",
                message: '<div class="row">  ' +
                '<div class="col-md-12"> ' +
                '<form class="form-horizontal"> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="name">Name</label> ' +
                '<div class="col-md-4"> ' +
                '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
                '<span class="help-block">Here goes your name</span> </div> ' +
                '</div> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
                '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
                'Really awesome </label> ' +
                '</div><div class="radio"> <label for="awesomeness-1"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
                '</div> ' +
                '</div> </div>' +
                '</form> </div>  </div>',
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function () {
                            var name = $('#name').val();
                            var answer = $("input[name='awesomeness']:checked").val()
                            $('.Example').show().html("Hello " + name + ". You've chosen <b>" + answer + "</b").fadeOut(5000);
                        }
                    }
                }
            }
                    );
        })
    </script>

}