
@{
    ViewBag.Title = "Tipo de Entregas";
}

<style>
    .hidden-search {
        display: none !important;
    }


    li[data-parent].closed {
        display: none !important;
    }

    li[data-parent].open:not(.hidden-search) {
        display: block !important;
    }

    .vsb-menu {
        cursor: pointer;
        z-index: 1000;
        display: block;
        visibility: hidden;
        position: absolute; /*Don't change*/
        border: 1px solid #B2B2B2;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        border-radius: 4px;
        font-size: 11px;
        width:450px
    }

    .vsb-js-search-zone {
        position: absolute; /*Don't change*/
        z-index: 1001;
        width: 80%;
        min-height: 1.8em;
        padding: 2px;
        background-color: #fff;
    }

        .vsb-js-search-zone input {
            border: 1px solid grey;
            margin-left: 2px;
            width: 96%;
            border-radius: 4px;
            height: 25px !important;
        }

    .vsb-main {
        position: relative; /*Don't change*/
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        width:100%;
    }

    .vsb-menu li:hover {
        background: linear-gradient(#f5f5f5, #e8e8e8);
    }

    .vsb-menu ul {
        user-select: none;
        list-style: none;
        white-space: nowrap;
        margin: 0px;
        margin-top: 4px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
        color: black;
        cursor: pointer;
        overflow: scroll;
    }

    li.disabled {
        cursor: not-allowed;
        opacity: 0.3;
        background-color: #999;
    }

    li.overflow {
        cursor: not-allowed;
        opacity: 0.3;
        background-color: #999;
    }

    li.short {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .vsb-main button {
        min-width: 120px;
        border-radius: 0;
        width: 100%;
        text-align: left;
        z-index: 1;
        color: yellow;
        background:red !important;
        border: 1px solid #999 !important;
        line-height: 20px;
        font-size: 14px;
        padding: 6px 12px;
    }

        .vsb-main button.disabled {
            cursor: not-allowed;
            opacity: 0.65;
        }

    .vsb-main .title {
        margin-right: 6px;
        user-select: none;
    }

    .vsb-main li:hover {
        background: linear-gradient(#f5f5f5, #e8e8e8);
    }

    .vsb-main ul {
        white-space: nowrap;
      
    }

    .vsb-menu li {
        font-size: 14px;
        background-color: #fff;
        min-height: 1.4em;
        padding: 0.2em 2em 0.2em 1em;
    }

        .vsb-menu li.grouped-option b {
            display: inline-block;
            font-size: 15px;
            margin-left: 10px;
            transform: translate(-18px);
        }

        .vsb-menu li.grouped-option.open span {
            display: inline-block;
            font-size: inherit;
            margin-top: -2px;
            height: 8px;
            width: 8px;
            transform: translate(-38px) rotate(45deg);
            border-bottom: 3px solid black;
            border-right: 3px solid black;
            border-radius: 2px;
        }

        .vsb-menu li.grouped-option.closed span {
            display: inline-block;
            font-size: inherit;
            height: 8px;
            width: 8px;
            transform: translate(-38px) rotate(-45deg);
            border-bottom: 3px solid black;
            border-right: 3px solid black;
            border-radius: 2px;
        }

        .vsb-menu li.grouped-option i {
            display: inline-block;
            font-size: inherit;
            float: left;
            font-weight: bold;
            margin-left: 22px;
            margin-right: 2px;
            height: 11px;
            width: 8px;
            border: 1px solid;
            border-radius: 3px;
            padding: 1px 3px 2px 3px;
            margin-top: 0px;
            color: black;
        }

        .vsb-menu li.grouped-option.checked i::after {
            content: "";
            display: inline-block;
            font-size: inherit;
            color: #333;
            float: left;
            margin-left: 0px;
            display: inline-block;
            transform: rotate(45deg);
            height: 8px;
            width: 5px;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
        }

    .vsb-menu :not(.multi) li.active {
        margin-left: 7px;
    }

        .vsb-menu :not(.multi) li.active::before {
            content: "";
            display: inline-block;
            font-size: inherit;
            margin-left: -18px;
            transform: rotate(45deg);
            height: 10px;
            width: 5px;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
            border-radius: 2px;
        }

    .vsb-menu .multi li {
        font-size: 14px;
        background-color: #fff;
        width:600px;
    }

        .vsb-menu .multi li.grouped-option {
            font-size: 15px;
            padding-left: 5px;
        }


            .vsb-menu .multi li.grouped-option:hover {
                font-weight: bold;
                text-decoration: underline;
                color: rgb(52, 31, 112);
            }

        .vsb-menu .multi li:not(.grouped-option)::before {
            content: "";
            display: inline-block;
            font-size: inherit;
            float: left;
            font-weight: bold;
            margin-left: -22px;
            margin-right: 2px;
            border: 1px solid;
            border-radius: 3px;
            padding: 7px;
            margin-top: 0px;
            color: black;
        }

        .vsb-menu .multi li:not(.grouped-option).active::after {
            content: "";
            display: inline-block;
            font-size: inherit;
            color: #333;
            float: left;
            margin-left: -18px;
            display: inline-block;
            transform: rotate(45deg);
            margin-top: 1px;
            height: 8px;
            width: 5px;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
        }

    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }


    li[data-parent] {
        padding-left: 50px !important;
    }

    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .red {
        background-color: red !important;
    }

    #table-scroll {
        height: 600px;
        overflow: auto;
        margin-top: 20px;
    }

    .modalPdfContainer {
        width: 100%;
        height: calc(100vh);
    }
</style>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>Tipo de Entregas</h2></div>
        <div class="col-4"></div>
    </div>


    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
        <br />

        @*<table id="tblConsulta" class="table table-striped dataTable" style="width:100%">*@
        <div class="row" id="dualListInvs" style="margin-left: 1%;margin-right: 1%;overflow-x: scroll;">
            <div class="row" id="gridInvs">
                <br />
                <div class="col-12">

                    <table id="tblConsulta" class="table table-striped table-bordered table-hover" style="overflow: scroll;width: 100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tipo de entrega</th>
                                <th>Tipo de catalogo</th>
                                <th>Tipo de almacen</th>
                                <th>Categoría de producto</th>
                                <th>Peso minimo</th>
                                <th>Peso máximo</th>
                                <th>Usuario de Actualizacion</th>
                                <th>Fecha de Actualizacion</th>
                                <th>Hora de Actualizacion</th>
                                <th>Activo</th>
                                <th></th>


                            </tr>
                        </thead>
                        <tbody>


                            @{

                                if (Session["listaTE"] != null)
                                {

                                    var myDataSet = Session["listaTE"] as System.Data.DataSet;
                                    foreach (System.Data.DataRow r in myDataSet.Tables[0].Rows)
                                    {
                                                        <tr>
                                                            <td>@r["Id_TipoEntrega"]</td>
                                                            <td>@r["Descripcion"]</td>
                                                            <td>@r["TipoCatalogo"]</td>
                                                            <td>@r["Desc_TipoAlmacen"]</td>
                                                            <td>@r["Id_CategoriaArt"]</td>
                                                            <td>@r["Peso_min"]</td>
                                                            <td>@r["Peso_max"]</td>
                                                            <td>@r["Usuario"]</td>
                                                            <td>@r["Fec_Movto"]</td>
                                                            <td>@r["Time_Movto"]</td>
                                                            @*<td>@r["BitActivo"]</td>*@
                                                            @if (r["BitActivo"].ToString() == "1")
                                                            {
                                                                <td>Activo</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Inactivo</td>
                                                            }
                                                            <td>
                                                                <button type="button" title="Editar" onclick="SelectItem('@r["Id_TipoEntrega"]','@r["Id_TipoEntrega"]')" class="btn btn-white btn-circle"> <i class="fa fa-edit"></i></button>
                                                            </td>
                                                        </tr>

                                    }
                                }
                            }

                        </tbody>
                        @*



                            <tfoot>
                                <tr>
                                    <th>DescripcionServicio</th>
                                    <th>TipoEnvioRes</th>
                                    <th>AplicaCotizacion</th>
                                    <th>TarifaBase</th>
                                    <th>CCTarifaBase</th>
                                    <th>CargosExtra</th>
                                    <th>SobrePeso</th>
                                    <th>CCSobrePeso</th>
                                    <th>CostoTotal</th>
                                    <th>Peso</th>
                                    <th>AplicaServicio</th>
                                </tr>
                            </tfoot>*@
                    </table>

                </div>
            </div>
        </div>


        <div id="frmAltaTrans" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 id="idTitulo" class="modal-title"></h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="frmCreateServicios">
                            @*<div class="row">
                                    <div class="col col-xs-8 col-md-12">
                                        <div class="form-group">
                                            <label>Transportista</label>
                                            <select class="form-control" id="ProveedorLista" name="ProveedorLista">
                                                <option selected="selected" value="0">--Transportista--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Tipo Entrega</label>
                                        <input type="text" placeholder="Tipo Entrega" id="in_tipoEntrega" name="in_tipoEntrega" class="form-control" />
                                    </div>
                                </div>
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Tipo Catalogo</label>
                                        <br />

                                        <input name="tipoCatalogo" type="checkbox" value="grocery" />
                                        <label for="tipoCatalogo">Grocery</label>

                                        <input name="tipoCatalogo" type="checkbox" value="non-grocery" />
                                        <label for="tipoCatalogo">Non-Grocery</label>
                                    </div>
                                </div><div class="col col-xs-8 col-md-4">
                                    <div class="col col-xs-8 col-md-12">
                                        <div class="form-group">
                                            <label>Tipo Almacen</label>
                                            <select class="form-control" id="ddlAlmacen" name="ddlAlmacen">

                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col col-xs-8 col-md-4">
                                    <div class="col col-xs-8 col-md-12">
                                        <div class="form-group">
                                            <label for="people">Categoria</label>

                                            @*<select id="selectCategorias" multiple size="3"></select>*@
                                            <select class="form-control" id="selectCategorias" multiple size="3">
                                                @{ if (Session["listaC"] != null)
                                                    {
                                                        var myDataSet = Session["listaC"] as System.Data.DataSet;
                                                        foreach (System.Data.DataRow r in myDataSet.Tables[0].Rows)
                                                        {
                                                            <option value="@r["Cve_CategSAP"]">@r["Desc_CategSAP2"]</option>

                                                        }
                                                    }
                                                }
                        
                        
        </select>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Peso Minimo</label>
                                        <input type="text" placeholder="Peso Minimo" id="in_pesoMin" name="in_pesoMin" class="form-control" />
                                    </div>
                                </div>
                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Peso Maximo</label>
                                        <input type="text" placeholder="Peso Maximo" id="in_pesoMax" name="in_pesoMax" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col col-xs-8 col-md-4">
                                    <div class="form-group">
                                        <label>Estatus</label>
                                        <select class="form-control" id="in_estatus" name="in_estatus">
                                            <option selected="selected" value="1">Activo</option>
                                            <option value="0">Inactivo</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" onclick="AddSurtidores()" class="btn btn-primary">Guardar</button>
                    </div>

                </div>
            </div>
        </div>

        <div id="buscaOrden" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Lista de Ordenes</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <table id="Table_Inv" class="table table-striped table-bordered table-hover" style="overflow: scroll">
                            <thead>
                                <tr>
                                    <th>OrderNo</th>
                                    <th>UeNo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{

                                    if (Session["lisOrdenes"] != null)
                                    {

                                        var myDataSet = Session["lisOrdenes"] as System.Data.DataSet;
                                        foreach (System.Data.DataRow r in myDataSet.Tables[0].Rows)
                                        {
                                            <tr>
                                                <td>
                                                    @r["OrderNo"]
                                                </td>
                                                <td>
                                                    @r["UeNo"]
                                                </td>
                                                <td>
                                                    <button type="button" onclick="SelectOrder('@r["OrderNo"]','@r["UeNo"]')" class="btn btn-warning btn-circle"> <i class="fa fa-minus"></i></button>
                                                </td>
                                            </tr>

                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" onclick="AddSurtidores()" class="btn btn-primary">Guardar</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade bd-example-modal-lg" id="myProduccion" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="height:650px">
                    <div class="modal-header">
                        <h5 class="modal-title">Reporte de Consulta de Asignacion de Dueño de Pasillo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="550px" id="frameReporte" src="" frameborder="0" allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade bd-example-modal-lg" id="dlgReporteador" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleReporteador">Mostrando el reporte</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="position:inherit">
                            <div class="lockPdf"></div>
                            <embed class="modalPdfContainer" src="data:application/pdf;base64,'" type="application/pdf" id="objPDF" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <input id="filename" name="filename" value="0" style="visibility:hidden" />

        <input id="flagStatus" name="flagStatus" value="" style="visibility:hidden" />

    </div>
}
@section scripts {

    <link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/plugins/datatables/datatables.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Content/plugins/multiselect/vanillaSelectBox.js?v0.72"></script>
    <script>
        function changeSrcEmbed(element, src) {
            var id = element.id;
            element.src = src;
            var embedOld = document.getElementById(id);
            var parent = embedOld.parentElement;
            var newElement = element;
            document.getElementById(id).remove();
            //parent.append(newElement);
            parent.appendChild(newElement);

        }
   function IniciarComboTipoAlmacen() {
    $.ajax({
        async: false,
        type: "GET",
        url: '@Url.Action("IniciarComboTipoAlmacen", "Catalogo")',
        data: {

        },
        datatype: "html",
        success: function (json) {

            if (json.Success) {
                var sel = $("#ddlAlmacen");
                sel.empty();

                $('#ddlAlmacen').get(0).options[0] = new Option("--SELECCIONE--", "0");
                for (var i = 0; i < json.resp.length; i++) {
                    sel.append('<option value="' + json.resp[i].idOwner + '">' + json.resp[i].ownerName +  '</option>');
                }
            }
            else {
                alert(json.Message);
            }
        }
        , error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);

        }
    });
    }
        function checkedTipoCatalogo(item) {
            var checkboxes = document.getElementsByName('tipoCatalogo');
            //inicializa los checks
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked)
                    checkboxes[i].checked = false;
            }

            var _array = item.split(',');

            var selected = [];
            _array.forEach(x => {
                for (var i = 0; i < checkboxes.length; i++) {
                    console.log(checkboxes[i]);
                    if (checkboxes[i].value == x)
                        checkboxes[i].checked = true;
                }
            });
        }

        function SelectItem(item, itemId) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTipoEntrega", "Catalogo")',
                data: {
                    IdTipoEntrega: item
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        
                        empty();
                        if (json.ca != '') {
                            var _arrayCateg = json.ca.split(',');

                            setValues(_arrayCateg);
                        }

                        document.getElementById("idTitulo").innerHTML = 'Edición de Tipo de Entrada';
                        checkedTipoCatalogo(json.tc);
                        document.getElementById("flagStatus").value = json.Id;

                        document.getElementById("in_tipoEntrega").value = json.des;
                        document.getElementById("in_pesoMin").value = json.pm;
                        document.getElementById("in_pesoMax").value = json.pmx;
                        //document.getElementById("in_tipoArticulo").value = json.ta;
                        /*document.getElementById("in_MaxCosto").value = json.pmx;*/
                        document.getElementById("in_estatus").value = json.e;
                        document.getElementById("ddlAlmacen").value = json.ta;
                        //$("#ddlAlmacen").val(json.resp.IdOwner);
                        //document.getElementById("in_tipoCatalogo").value = json.tc;
                        //document.getElementById("in_categoria").value = json.ca;
                        //Id = out_Id_TipoEntrega
                        //    , des = out_Descripcion
                        //    , tc = out_TipoCatalogo
                        //    , ta = out_Id_TipoAlmacen
                        //    , ca = out_Id_CategoriaArt
                        //    , pm = out_Peso_min
                        //    , pmx = out_Peso_max
                        //    , e
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
             });



            $("#frmAltaTrans").modal('show');

        }

        function SelectOrder(orden,ue) {

            document.getElementById("NoOrder").value = orden;
            document.getElementById("UeNo").value = ue;

            $("#buscaOrden").modal('hide');
        }

        function btnOrdenes() {

            $("#buscaOrden").modal('show');

        }

        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        })


        $(document).ready(function () {

            IniciarComboTipoAlmacen();
            
            init("selectCategorias");
            //$('input[type=checkbox]').change(function () { alert(document.getElementById("id_TS").value) });
             $('#Table_Inv').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        { extend: 'excel', className: 'btn-primary' }

                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $('#tblConsulta').DataTable(
                {

                    language:
                        {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"

                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                            },
                            "buttons": {
                                "print": "Imprimir",
                                "pageLength": 'Mostrar %d Registros'

                            }
                        },
                    dom: 'Bfrtip',
                    lengthMenu: [
                                    [10, 25, 50, -1],
                                     ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                            { extend: 'pageLength', className: 'btn-primary' },
                            { extend: 'excel', className: 'btn-primary' },
                            {
                                text: 'Alta',
                                action: function (e, dt, node, config) {
                                    //var e = document.getElementById("ProveedorLista");
                                    //e.disabled = false;

                                    //document.getElementById("TarifaFija").value = "SI";
                                    //document.getElementById("cp_origen").value = '';
                                    //document.getElementById("cp_destino").value = '';
                                    //document.getElementById("in_ancho").value = '';
                                    //document.getElementById("in_alto").value = '';
                                    //document.getElementById("in_peso").value = '';
                                    //document.getElementById("in_largo").value = '';
                                    document.getElementById("idTitulo").innerHTML = 'Alta de Tipo de Entrada';
                                    document.getElementById("flagStatus").value = "0";
                                    empty();
                                    $("#frmAltaTrans").modal('show');

                                }
                                , className: 'btn-primary'
                            }
                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );
        });

        function GetCommonProveedor() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetCommonProveedores", "Catalogo")',
                data: {
                    IdAlmacen: null
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        console.log(json);
                        var dynamicSelect = document.getElementById("ProveedorLista");
                        dynamicSelect.innerText = null;
                        console.log(dynamicSelect);
                        for (var i = 0; i < json.json.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.json[i].NumProveedor;
                            newOption.textContent = json.json[i].NombreProveedor;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                        console.log(dynamicSelect);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function EditSurtidores(IdTransportista) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTransportistas", "Catalogo")',
                data: {
                    IdTransportista: parseInt(IdTransportista)
                },
                datatype: "html",
                success: function (json) {
                    //debugger;
                    if (json.Success) {
                        console.log(json);
                        for (var i = 0; i < json.json.length; i++) {
                            //document.getElementById("IdTransportista").value = json.json[i].IdTransportista;
                            //document.getElementById("RazonSocial").value = json.json[i].RazonSocial;
                            var e = document.getElementById("ProveedorLista");
                            e.value = json.json[i].IdTransportista;
                            e.disabled = true;

                            var valTarifaFija = (json.json[i].TarifaFija == true) ? "Y" : "N";
                            document.getElementById("CostoTarifaFija").value = json.json[i].CostoTarifaFija;
                            document.getElementById("NivelServicio").value = json.json[i].NivelServicio;
                            document.getElementById("FactorVoluntario").value = json.json[i].FactorVoluntario;
                            document.getElementById("PorcAdicPaquete").value = json.json[i].PorcAdicPaquete;
                            document.getElementById("Prioridad").value = json.json[i].Prioridad;
                            var valPaqueteria = (json.json[i].Paqueteria == true) ? "Y" : "N";
                            var valBigTicket = (json.json[i].BigTicket == true) ? "Y" : "N";
                            var valServicioEstandar = (json.json[i].ServicioEstandar == true) ? "Y" : "N";
                            var valServicioExpress = (json.json[i].ServicioExpress == true) ? "Y" : "N";
                        }

                        $('a[data-toggle="TarifaFija"][data-title="' + valTarifaFija + '"]').click();
                        $('a[data-toggle="Paqueteria"][data-title="' + valPaqueteria + '"]').click();
                        $('a[data-toggle="BigTicket"][data-title="' + valBigTicket + '"]').click();
                        $('a[data-toggle="ServicioEstandar"][data-title="' + valServicioEstandar + '"]').click();
                        $('a[data-toggle="ServicioExpress"][data-title="' + valServicioExpress + '"]').click();

                        $("#frmAltaTrans").modal('show');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function AddSurtidores() {

        /* var _TarifaFija = document.getElementById("TarifaFija").value;*/
            var checkboxes = document.querySelectorAll('input[name="tipoCatalogo"]:checked'), values = [];
            Array.prototype.forEach.call(checkboxes, function (el) {
                values.push(el.value);
            });
            var count = 1;
            var _tipoCat = '';

            values.forEach(x => {

                if (count > 1)
                    _tipoCat = _tipoCat + ',' + x;
                else
                    _tipoCat = x;

                count++;
            });


            if ($("#in_tipoEntrega").val() == '') {
                $("#in_tipoEntrega").focus();
                return;
            }

            if (_tipoCat == '') {
                $("#tipoCatalogo").focus();
                return;  
            }

            if ($("#ddlAlmacen").val() == '0') {
                $("#ddlAlmacen").focus();
                return;
            }

            count = 1;
            var valuesCateg = getValues('selectCategorias');
            var _tipoCateg = '';

            valuesCateg.forEach(x => {

                if (count > 1)
                    _tipoCateg = _tipoCateg + ',' + x;
                else
                    _tipoCateg = x;

                count++;
            });

            

            //debugger;
            $.ajax({

            //    _Pesomin = $("#in_pesoMin").val(),
            //    _Pesomax = $("#in_pesoMax").val(),

            //    if(_Pesomin == "") {
            //    $("#in_pesoMin").focus();
            //    return;
            //}
            //if (_Pesomax == "") {
            //    $("#in_pesoMax").focus();
            //    return;
            //}


                async: false,
                type: "POST",
                url: '@Url.Action("InsTipoEntregas", "Catalogo")',
                data: {
                    Id_TipoEntrega: document.getElementById("flagStatus").value,
                    Descripcion: document.getElementById("in_tipoEntrega").value,
                    TipoCatalogo: _tipoCat == '' ? null : _tipoCat,
                    Id_TipoAlmacen: document.getElementById("ddlAlmacen").value,
                    Id_CategoriaArt: _tipoCateg == '' ? null : _tipoCateg,
                    Peso_min: document.getElementById("in_pesoMin").value,
                    Peso_max: document.getElementById("in_pesoMax").value,
                    estatus: document.getElementById("in_estatus").value
                },
                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        empty();
                        //debugger;
                        //alert(json.json.cotizacion.TipoServicio[0].DescripcionServicio);

                        //var table1 = $('#tblConsulta').DataTable();
                        //table1.clear().draw();
                        //table1.destroy();


                        //var table = $('#tblConsulta').DataTable(
                        //    {

                        //        language:
                        //        {
                        //            "sProcessing": "Procesando...",
                        //            "sLengthMenu": "Mostrar _MENU_ registros",
                        //            "sZeroRecords": "No se encontraron resultados",
                        //            "sEmptyTable": "Ningún dato disponible en esta tabla",
                        //            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        //            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        //            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        //            "sInfoPostFix": "",
                        //            "sSearch": "Buscar:",
                        //            "sUrl": "",
                        //            "sInfoThousands": ",",
                        //            "sLoadingRecords": "Cargando...",
                        //            "oPaginate": {
                        //                "sFirst": "Primero",
                        //                "sLast": "Último",
                        //                "sNext": "Siguiente",
                        //                "sPrevious": "Anterior"

                        //            },
                        //            "oAria": {
                        //                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        //                "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        //            },
                        //            "buttons": {
                        //                "print": "Imprimir",
                        //                "pageLength": 'Mostrar %d Registros'

                        //            }
                        //        },
                        //        dom: 'Bfrtip',
                        //        lengthMenu: [
                        //            [10, 25, 50, -1],
                        //            ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                        //        ],
                        //        buttons: [
                        //            { extend: 'pageLength', className: 'btn-primary' },
                        //            { extend: 'excel', className: 'btn-primary' },
                        //            {
                        //                text: 'Cotizacion',
                        //                action: function (e, dt, node, config) {
                        //                    //var e = document.getElementById("ProveedorLista");
                        //                    //e.disabled = false;

                        //                    document.getElementById("TarifaFija").value = "SI";
                        //                    document.getElementById("cp_origen").value = '';
                        //                    document.getElementById("cp_destino").value = '';
                        //                    document.getElementById("in_ancho").value = '';
                        //                    document.getElementById("in_alto").value = '';
                        //                    document.getElementById("in_peso").value = '';
                        //                    document.getElementById("in_largo").value = '';

                        //                    $("#frmAltaTrans").modal('show');

                        //                }
                        //                , className: 'btn-primary'
                        //            },
                        //            {
                        //                text: 'Guardar Cotizacion',
                        //                action: function (e, dt, node, config) {
                        //                    saveCotizacion()
                        //                }
                        //                , className: 'btn-primary'
                        //            }

                        //        ]
                        //        //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        //        //    if (aData[1] == "SETC") {
                        //        //        $('td', nRow).css('background-color', '#B6BF00');
                        //        //    } else if (aData[2] == "4") {
                        //        //        $('td', nRow).css('background-color', 'Orange');
                        //        //    }
                        //        //}
                        //    }
                        //);

                        ////table.clear().draw();
                        ////table.destroy();

                        //for (var i = 0; i < json.json.cotizacion.TipoServicio.length; i++) {


                        //    table.row.add([
                        //        json.json.cotizacion.TipoServicio[i].DescripcionServicio,
                        //        json.json.cotizacion.TipoServicio[i].TipoEnvioRes,
                        //        json.json.cotizacion.TipoServicio[i].AplicaCotizacion,
                        //        json.json.cotizacion.TipoServicio[i].TarifaBase,
                        //        json.json.cotizacion.TipoServicio[i].CCTarifaBase,
                        //        json.json.cotizacion.TipoServicio[i].CargosExtra,
                        //        json.json.cotizacion.TipoServicio[i].SobrePeso,
                        //        json.json.cotizacion.TipoServicio[i].CCSobrePeso,
                        //        json.json.cotizacion.TipoServicio[i].CostoTotal,
                        //        json.json.cotizacion.TipoServicio[i].Peso,
                        //        json.json.cotizacion.TipoServicio[i].AplicaServicio
                        //        /*, "<input id=\"radio_TS\" name=\"tipoS\" type=\"radio\" onchange=\"setTS('" + json.json.cotizacion.TipoServicio[i].DescripcionServicio + "')\"  value=\"" + json.json.cotizacion.TipoServicio[i].DescripcionServicio + "\">"*/
                        //        /*, "<button type=\"button\" onclick=\"DeleteSurtidores(undefined)\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-pencil\"></i></button>"*/
                        //        , "<button type=\"button\" onclick=\"GeneraGuia(" + json.json.cotizacion.TipoServicio[i].DescripcionServicio+")\" class=\"btn btn-warning btn-circle\"> <i class=\"fa fa-pencil\"></i></button>"

                        //    ]).draw();

                        //}


                        $("#frmAltaTrans").modal('hide');
                        location.reload();


                    } else { alert(json.Message);}
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }
        function empty() {
            if (selectBox2 != null) {
                selectBox2.empty();
            }
        }
        function doDestroy(id) {

           if (id == "selectCategorias" && selectBox2 != null) {
                selectBox2.destroy();
                //let zone = document.getElementById("demo-multiple");
                //buttons = zone.querySelector(".btns-active");
                //buttons.style.display = "none";
                //buttons = zone.querySelector(".btns-inactive");
                //buttons.style.display = "block";

            }
        }
        function init(id) {
             if (id == "selectCategorias") {

                selectBox2 = new vanillaSelectBox("#selectCategorias", { "disableSelectAll": true, "maxHeight": 200, "search": true, "translations": { "all": "All", "items": "Seleccionados", "selectAll": "Check All", "clearAll": "Clear All" } });
                //let zone = document.getElementById("demo-multiple");
                //buttons = zone.querySelector(".btns-active");
                //buttons.style.display = "block";
                //buttons = zone.querySelector(".btns-inactive");
                //buttons.style.display = "none";

            }
        }
        function setValues(value) {
            if (selectBox2 != null) {
                selectBox2.setValue(value);
            }
        }
        function getValues(id) {
            let result = [];
            let collection = document.querySelectorAll("#" + id + " option");
            collection.forEach(function (x) {
                if (x.selected) {
                    result.push(x.value);
                }
            });
            return result;
        }

        function disableItems(id, value) {
            if (id == "brandsOne" && selectBox != null) {
                selectBox.disableItems(value);
            }
        }

        function enableItems(id, value) {
            if (id == "brandsOne" && selectBox != null) {
                selectBox.enableItems(value);
            }
        }

        function GeneraGuia(desc) {

             $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GeneraGuia", "TMS")',
                data: {
                    UeNo: document.getElementById("UeNo").value,
                    OrderNo: document.getElementById("NoOrder").value,
                    tipoServicio: desc, //document.getElementById("flagStatus").value,
                    paqueteria: "1"

                },
                datatype: "html",
                success: function (json) {
                    //debugger;
                    if (json.Success) {

                        alert("Cotizacion Guardada con exito");


                        @*$('#frameReporte').attr('src', '@Url.Action("DownLoad", "IntegridadAnaquel")?filename=' + data.Object.ruta);

                        $('#myProduccion').modal('show');*@


                        var element = document.getElementById('objPDF');
                        changeSrcEmbed(element, 'data:application/pdf;base64,' + json.pdf);//+ '#toolbar=0&navpanes=0&scrollbar=0');
                        $('#dlgReporteador').modal('show');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function DisplayError(xhr) {

            if (xhr.responseText == "Solicitud incorrecta") {
                var msg = JSON.parse(xhr.statusText);
                bootbox.alert("<h4>" + msg + "</h4>");
            }
            else {
                var msg = JSON.parse(xhr.responseText);
                bootbox.alert("<h4>" + msg.Message + "</h4>");
            }
        }


        function setTS(servicio) {

            //$('input:checkbox').prop('checked', false)
            debugger;
            var nameChk = "#chk_" + document.getElementById("flagStatus").value.replace(/\s+/g, '');

            $(nameChk).prop("checked", false);

            document.getElementById("flagStatus").value = servicio;

        }

        function articulo(codigo, descripcion, unidad) {
            this.Codigo = codigo;
            this.Descripcion = descripcion;
            this.Unidad = unidad;
        }

        function captura(guid, codigo, cantidad) {
            this.idCaptura = 0;
            this.guid = guid;
            this.Codigo = codigo;
            this.Cantidad = cantidad;
        }


        function cotizacion(DescripcionServicio
                            ,TipoEnvioRes
                            ,AplicaCotizacion
                            ,TarifaBase
                            ,CCTarifaBase
                            ,CargosExtra
                            ,SobrePeso
                            ,CCSobrePeso
                            ,CostoTotal
                            ,Peso
                            ,AplicaServicio) {

            this.DescripcionServicio = DescripcionServicio
            this.TipoEnvioRes = TipoEnvioRes
            this.AplicaCotizacion = AplicaCotizacion
            this.TarifaBase = TarifaBase
            this.CCTarifaBase = CCTarifaBase
            this.CargosExtra = CargosExtra
            this.SobrePeso = SobrePeso
            this.CCSobrePeso = CCSobrePeso
            this.CostoTotal = CostoTotal
            this.Peso = Peso
            this.AplicaServicio = AplicaServicio

        }

        function saveCotizacion() {

            debugger;

            alert("TS" + document.getElementById("flagStatus").value);


            var dtTable12 = $('#tblConsulta').DataTable();

            var catalogo = [];
            var capturas = [];

            dtTable12.rows().data().toArray().forEach(function (row) {
                var item = {}
                debugger;
                lastInventoryCapture = new cotizacion(row[0]
                            , row[1]
                            , row[2]
                            , row[3]
                            , row[4]
                            , row[5]
                            , row[6]
                            , row[7]
                            , row[8]
                            , row[9]
                            , row[10]);

                capturas.push(lastInventoryCapture);

                //var indexC = 0;
                //row.forEach(function (content, index) {
                //    item[fieldNames[index]] = content;


                //    indexC++;
                //})
                //json2.push(item)
            })
            debugger;
            //alert('capturas' + JSON.stringify(capturas));

            //var data = dtTable12.rows().data().toArray();
            //var json = JSON.stringify(data);

            //alert(json);

            //alert($('#tblConsulta').DataTable().rows().data().toArray());


            @*$.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("SaveCotizacion", "TMS")',
                data: {
                    jsonData: JSON.stringify(capturas)
                },
                datatype: "html",
                success: function (json) {
                    //debugger;
                    if (json.Success) {

                        alert("Cotizacion Guardada con exito");

                    }
                }
               , error: function (jqXHR, textStatus, errorThrown) {
                   bootbox.alert(errorThrown);
               }
            });*@

        }



        //<th>Id Transportista</th>
        //<th>Tarifa Fija</th>
        //<th>Prioridad</th>
        //<th>Nivel de Servicio</th>
        //<th>Factor Division<br /> Peso Voluntario </th>
        //<th>Paqueteria</th>
        //<th>Big Ticket</th>
        //<th>Servicio Estandar</th>
        //<th>Servicio Express</th>
        function GetTrans() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetTransportistas", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        $("#tblConsulta tbody tr").remove();
                        //var tr;
                        //debugger;
                        //Append each row to html table
                        console.log(json);
                        for (var i = 0; i < json.json.length; i++) {
                            tr = $('<tr/>');
                            //tr.append("<td class='row1'>" + json.json[i].Id_Num_Orden + "</td>");
                            tr.append("<td>" + json.json[i].IdTransportista + "</td>");
                            //tr.append("<td>" + json.json[i].RazonSocial + "</td>");
                            if (json.json[i].TarifaFija == true) {
                                tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            }
                            else {
                                tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            }

                            tr.append("<td>" + json.json[i].Prioridad + "</td>");
                            tr.append("<td>" + json.json[i].NivelServicio + "</td>");
                            tr.append("<td>" + json.json[i].FactorPaqueteria + "</td>");
                            if (json.json[i].Paqueteria == true) {
                                tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            }
                            else {
                                tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            }
                            if (json.json[i].BigTicket == true) {
                                tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            }
                            else {
                                tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            }
                            if (json.json[i].ServicioEstandar == true) {
                                tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            }
                            else {
                                tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            }
                            if (json.json[i].ServicioExpress == true) {
                                tr.append("<td><input type=\"checkbox\" class=\"editor - active\" onclick=\"return false;\" checked></td>");
                            }
                            else {
                                tr.append("<td><input type=\"checkbox\" onclick=\"return false;\" class=\"editor - active\"></td>");
                            }
                            //tr.append("<td><button type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button' class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >")
                            tr.append("<td><button onclick='EditSurtidores(" + json.json[i].IdTransportista + ")' type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button'  onclick='DeleteSurtidores(" + json.json[i].Id_Carrier + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >")
                            $('#tblConsulta').append(tr);

                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        /* Bootbox Dialog box with custom Value */
        $('.alert-custom').click(function () {
            bootbox.dialog({
                title: "This is a form in a modal.",
                message: '<div class="row">  ' +
                '<div class="col-md-12"> ' +
                '<form class="form-horizontal"> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="name">Name</label> ' +
                '<div class="col-md-4"> ' +
                '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
                '<span class="help-block">Here goes your name</span> </div> ' +
                '</div> ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
                '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
                'Really awesome </label> ' +
                '</div><div class="radio"> <label for="awesomeness-1"> ' +
                '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
                '</div> ' +
                '</div> </div>' +
                '</form> </div>  </div>',
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function () {
                            var name = $('#name').val();
                            var answer = $("input[name='awesomeness']:checked").val()
                            $('.Example').show().html("Hello " + name + ". You've chosen <b>" + answer + "</b").fadeOut(5000);
                        }
                    }
                }
            }
                    );
        })
        function showCheckBoxes() {

            var checkboxes = document.getElementById("checkboxesCat");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;

            } else {
                checkboxes.style.display = "none";
                expanded = false;

            }

        }
        function getcategory() {

            $.ajax({
                type: "GET",
                url: 'https://jsonplaceholder.typicode.com/posts',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    var checkboxes = document.getElementById("checkboxes");
                    for (var i = 0; i < data.length; i++) {

                        var node = document.createElement('div');
                        node.innerHTML = '<label id="' + data[i].id + '"><input type="checkbox"  id="' + data[i].id + '"/>' + data[i].id + '</label>';
                        document.getElementById('checkboxesCat').appendChild(node);

                    }

                },
                error: function (msg) {

                    alert("error" + msg);
                }

            });
        }

    </script>
}
