@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Códigos Postales";
}

<script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places&key=AIzaSyAchdXa-yAYB3weyagh41eJ8O2RXOXqaho"></script>
<link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
<script src="~/Content/plugins/datatables/datatables.min.js"></script>
<script src="~/Content/plugins/datatables/datatables.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>

<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .red {
        background-color: red !important;
    }

    div.scroll_horizontal {
        width: 100%;
        overflow: auto;
    }
</style>


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>@ViewBag.Title</h2></div>
        <div class="col-4"></div>

    </div>
    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
        @*<h1><a href="#" class="btn btn-primary alert-custom">Bootbox Dialog &nbsp;<i class="glyphicon glyphicon-hand-left"></i></a></h1>*@
        <br />
        <div class="row scroll_horizontal">
            <div class="col-12">
                <table id="tbAlmacen" class="table table-striped dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Almacen</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>CP</th>
                            <th>Usuario Creacion</th>
                            <th>Fecha Creacion</th>
                            <th>Fecha Modificación</th>
                            <th>Activo</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>

                   

                    </tbody>
                    @*<tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Almacen</th>
                                <th>Latitud</th>
                                <th>Longitud</th>
                                <th>CP</th>
                                <th>Usuario Creacion</th>
                                <th>Fecha Cracion</th>
                                <th>Hora Creacion</th>
                                <th>Activo</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>*@
                </table>
            </div>
        </div>
    </div>

    <div id="modal-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:1700px">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">Alta de Códigos Postales</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmCreateServicios">
                        <div class="row">
                            @*<div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Almacen</label>
                                        <select class="form-control" id="cmbAlmacen" name="cmbAlmacen">

                                            <option selected="selected" value="0">--Almacen--</option>

                                            @{ if (Session["listaAL"] != null)
                                                {
                                                    var myDataSet = Session["listaAL"] as System.Data.DataSet;
                                                    foreach (System.Data.DataRow r in myDataSet.Tables[0].Rows)
                                                    {
                                                    <option selected="selected" value="@r["IdAlmacen"]">@r["NombreAlmacen"]</option> }
                                                } }

                                        </select>
                                    </div>
                                </div>*@
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Tipo de Almacén</label>
                                    <select class="form-control" id="lstIdAlmacen" name="lstIdAlmacen">
                                        <option selected="selected" value="0">--Tipo de Almacen--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Proveedor</label>
                                    <select class="form-control" id="ProveedorLista" name="ProveedorLista">
                                        <option selected="selected" value="0">--Proveedor--</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Almacén</label>
                                    <select class="form-control" id="AlmacenLista" name="AlmacenLista">
                                        <option selected="selected" value="0">--Almacen--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12">
                                <div id="map" style="width: 100%; height: 40vh;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Códigos Postales</label>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="txtCP" name="txtCP"><span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary" onclick="AgregaCP()">
                                                        +
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <select class="form-control" id="CPLista" name="CPLista" multiple="">
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Radio Localizacion(km)</label>
                                    <input type="text" class="form-control" id="in_radio" name="in_radio" value="10"><span class="input-group-btn">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Alcance</label>
                                    <select class="form-control" id="in_alcance" name="in_alcance" multiple="">

                                        @*<option selected="selected" value="0">---Seleccionar---</option>*@
                                        <option selected="selected" value="1">Local</option>
                                        <option value="2">Regional</option>
                                        <option value="3">Metropolitano</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Estado</label>

                                    <select class="form-control" id="cmbEstado" name="cmbEstado" onchange="getEstado(this);">

                                        @{ if (Session["listaEstados"] != null)
                                            {
                                                var myDataSet = Session["listaEstados"] as System.Data.DataSet;
                                                foreach (System.Data.DataRow r in myDataSet.Tables[0].Rows)
                                                {
                                                    @*<option value="@r["Id_Num_Estado"]">@r["Nom_Estado"]</option>*@
                                                    <option value="@r["Nom_Estado"]">@r["Nom_Estado"]</option>

                                                }
                                            }
                                        }


                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Municipio</label>
                                    <select id="cmbMnpo" name="cmbMnpo" data-placeholder="Choose a Country..." class="chosen-select" multiple="multiple">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" onclick="BuscaCps()" class="btn btn-primary">Encontrar CPs</button>
                    <button type="button" onclick="AgregaCps()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <input id="in_longitud" name="in_longitud" value="0" style="visibility:hidden" />
    <input id="in_latitud" name="in_latitud" value="0" style="visibility:hidden" />


}

@section scripts {


    <link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/plugins/datatables/datatables.js"></script>

    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>


    <script src="~/Content/plugins/multiselect/vanillaSelectBox.js"></script>
    <link href="~/Content/plugins/multiselect/vanillaSelectBox.css" rel="stylesheet" />
    <script>
        function getEstado(e) {

            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetPoblados", "Catalogo")',
                    data: {
                        estado: e.value
                    },
                    datatype: "html",
                    async: false,
                    beforeSend: function () {
                        //$(".modal").show();
                        //document.getElementById("postalcode").value = "";
                    },
                    success: function (data) {
                        if (data.Success) {
                            //console.log(data);
                            //var dynamicSelect = document.getElementById("cmbMnpo");
                            ///dynamicSelect.empty();
                            //console.log(dynamicSelect);
                            //for (var i = 0; i < data.json.length; i++) {
                            //    var newOption = document.createElement("option");
                            //    newOption.value = data.json[i].Id_Num_Poblacion;
                            //    newOption.textContent = data.json[i].Nom_Poblacion;//item.whateverProperty

                            //    dynamicSelect.appendChild(newOption);
                            //}
                            //console.log(dynamicSelect);
                            var sel = $("#cmbMnpo");
                            sel.empty();

                            //$('#cmbMnpo').get(0).options[0] = new Option("--SELECCIONE--", "0");
                            for (var i = 0; i < data.json.length; i++) {
                                sel.append('<option value="' + data.json[i].Id_Num_Poblacion + '">' + data.json[i].Nom_Poblacion + '</option>');
                            }

                        }
                    }
                });

        }

        function AgregaCps() {

            var array = [];
            var concatValor = "";

            $("#CPLista option").each(function () {
                var thisOptionValue = $(this).val();

                array.push(thisOptionValue);
            });


            $("#CPLista option").each(function () {
                if ($(this).val() != "") {
                    //concatValor += $(this).val() + ' - ' + $(this).text() + '\n';
                    concatValor += $(this).val() + '\n';
                }
            });


            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("InsCPS", "Catalogo")',
                    data: {
                        IdAlmacen: document.getElementById("cmbAlmacen").value,
                        codigos: concatValor,
                        lat: document.getElementById("in_latitud").value,
                        lon: document.getElementById("in_longitud").value


                    },
                    datatype: "html",
                    async: false,
                    beforeSend: function () {
                        //$(".modal").show();
                        //document.getElementById("postalcode").value = "";
                    },
                    success: function (data) {
                        if (data.Success) {
                            //console.log(data);
                            //var dynamicSelect = document.getElementById("CPLista");
                            //console.log(dynamicSelect);
                            //for (var i = 0; i < data.json.length; i++) {
                            //    var newOption = document.createElement("option");
                            //    newOption.value = data.json[i];
                            //    newOption.textContent = data.json[i];//item.whateverProperty

                            //    dynamicSelect.appendChild(newOption);
                            //}
                            //console.log(dynamicSelect);

                            location.reload();

                        }
                    }
                });
        }

        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        })


        $(document).ready(function () {


            selectBox2 = new vanillaSelectBox("#cmbMnpo", { "disableSelectAll": true, "maxHeight": 200, "search": true, "translations": { "all": "All", "items": "Seleccionados", "selectAll": "Check All", "clearAll": "Clear All" } });
            //GetTmsUNs();
            GetAlmacen();



            $('#tbAlmacen thead tr').clone(true).appendTo('#tbAlmacen thead');
            $('#tbAlmacen thead tr:eq(0) th').each(function (i) {
            if ($(this).attr('name') != "accion") {
                var title = $(this).text();
                $(this).html("<input type='search' class='form-control form-control-sm' placeholder='" + title + "' id='filtro"+i+"'  />");

                $('input', this).on('keyup change', function () {
                    debugger;
                    if (table.column(i).search() !== this.value) {
                        debugger;
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });

                $('input', this).on("input", function () {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                });
            } else {
                $(this).empty();
            }
        });

            table = $('#tbAlmacen').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Content("~/Catalogo/GetCodigos")",
                "type": "POST",
                "datatype":"json"
            },
            "pageLength": 10,
            "filter": true,
            "responsivePriority": 1,
            "data": null,
            "columns": [
                { "data": "Id_CP", "name": "Id_CP", "autoWidth": true },
                { "data": "IdSupplierWH", "name": "IdSupplierWH", "autoWidth": true },
                { "data": "Latitud", "name": "Latitud", "autoWidth": true },
                { "data": "Longitud", "name": "Longitud", "autoWidth": true },
                { "data": "CP", "name": "CP", "autoWidth": true },
                { "data": "Usuario_Creation", "name": "Usuario_Creation", "autoWidth": true },
                { "data": "Fecha_Creacion", "name": "Fecha_Creacion", "autoWidth": true },
                { "data": "Fecha_Modificacion", "name": "Fecha_Modificacion", "autoWidth": true },
                {
                    //adds td row for button
                    data: null,
                    render: function (data, type, row) {
                        var a = "Inactivo";
                        if (data.BitActivo == "1") {
                            a = "Activo";
                        }
                        return a;


                    }
                },
                {
                    //adds td row for button
                    data: null,
                    render: function (data, type, row) {
                        return "<button title='Eliminar' type='button' onclick='Delete(" + data.Id_CP + ")' class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button>";


                    }
                }
               

            ]
            , language:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"

                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                },
                "buttons": {
                    "print": "Imprimir",
                    "pageLength": 'Mostrar %d Registros'

                }
            },
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
            ],
            buttons: [
                { extend: 'pageLength', className: 'btn-primary' },
                {
                    text: 'Excel General',
                    action: function (e, dt, node, config) {
                        Excel();
                    }
                    , className: 'btn-primary'
                }

            ],
            fixedHeader: {
                header: true,
                footer: true
            },
            "scrollX": true
            , "scrollY": "500px"
            , "scrollCollapse": true
        });

            //var varUnidadNegocio = $('#tbUnidadNegocio').DataTable();
            //varUnidadNegocio.draw();


            var bounds = new google.maps.LatLngBounds();
            var center = { lat: 19.181198, lng: -96.161272 };

            var options = {
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: center
            };

            var googleMap = new google.maps.Map($("#map")[0], options);
            console.log(googleMap);
            googleMap.setZoom(18);
            //var infoWindow = new google.maps.InfoWindow({ content: "Cargando..." });

            // Create the initial InfoWindow.
            let infoWindow = new google.maps.InfoWindow({
                content: "Da un click al mapa para leer Lat/Lng!",
                position: center,
            });
            infoWindow.open(googleMap);

            const marker = new google.maps.Marker({
                map: googleMap,
                draggable: true,
                position: center,
                title: 'Ubicación de Inicio'
            });

            const circle = new google.maps.Circle({
                map: googleMap,
                center: center,
                radius: 10000,
                fillColor: '#AA0000'
            });

            circle.bindTo('center', marker, 'position');
            marker.setVisible(false);
            circle.setVisible(false);



            // Configure the click listener.
            googleMap.addListener("click", (mapsMouseEvent) => {
                // Close the current InfoWindow.
                infoWindow.close();

                infoWindow.setPosition(mapsMouseEvent.latLng);
                infoWindow.setContent(`Latitud: ${mapsMouseEvent.latLng.lat().toFixed(6)} Longitud: ${mapsMouseEvent.latLng.lng().toFixed(6)}`);
                infoWindow.open(googleMap);

                //alert("aqui voy a buscar todo");

                /*circle.setMap(null);*/

                circle.setRadius(parseInt(document.getElementById("in_radio").value) * 1000);

                //remove_circle(circle);

                //const circle = new google.maps.Circle({
                //    map: googleMap,
                //    center: center,
                //    radius: parseInt(document.getElementById("in_radio").value) * 1000,
                //    fillColor: '#AA0000'
                //});

                //circle.bindTo('center', marker, 'position');

                marker.setVisible(false);
                marker.setPosition(mapsMouseEvent.latLng);
                marker.setVisible(true);
                circle.setVisible(true);


                //const parameters = '/Home/GetPostalCodeFromPosition' + `?latitude=${mapsMouseEvent.latLng.lat().toFixed(6)}&longitude=${mapsMouseEvent.latLng.lng().toFixed(6)}`;
                var _latitude = mapsMouseEvent.latLng.lat().toFixed(6);
                var _longitude = mapsMouseEvent.latLng.lng().toFixed(6);


                document.getElementById("in_longitud").value = _longitude;
                document.getElementById("in_latitud").value = _latitude;

                var e = document.getElementById("in_alcance");
                var value = e.options[e.selectedIndex].value;
                var text = e.options[e.selectedIndex].text;

                $("#CPLista").empty();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetPostalCodeFromPosition", "Catalogo")',
                    data: {
                        latitude: _latitude,
                        longitude: _longitude,
                        flagG:value
                    },
                    datatype: "html",
                    async: false,
                    beforeSend: function () {
                        //$(".modal").show();
                        //document.getElementById("postalcode").value = "";
                    },
                    success: function (data) {
                        if (data.Success) {
                            console.log(data);
                            var dynamicSelect = document.getElementById("CPLista");
                            console.log(dynamicSelect);
                            for (var i = 0; i < data.json.length; i++) {
                                var newOption = document.createElement("option");
                                newOption.value = data.json[i];
                                newOption.textContent = data.json[i];//item.whateverProperty

                                dynamicSelect.appendChild(newOption);
                            }
                            console.log(dynamicSelect);
                        }
                    }
                });
            });

            googleMap.fitBounds(bounds);

            IniciarComboTipoAlmacen();
        });

        function remove_circle(circle) {
            // remove event listers
            google.maps.event.clearListeners(circle, 'click_handler_name');
            google.maps.event.clearListeners(circle, 'drag_handler_name');
            circle.setRadius(0);
            // if polygon:
            // polygon_shape.setPath([]);
            circle.setMap(null);
        }


        /* Bootbox Dialog box with custom Value */
        $('.alert-custom').click(function () {
            bootbox.dialog({
                title: "This is a form in a modal.",
                message: '<div class="row">  ' +
                    '<div class="col-md-12"> ' +
                    '<form class="form-horizontal"> ' +
                    '<div class="form-group"> ' +
                    '<label class="col-md-4 control-label" for="name">Name</label> ' +
                    '<div class="col-md-4"> ' +
                    '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
                    '<span class="help-block">Here goes your name</span> </div> ' +
                    '</div> ' +
                    '<div class="form-group"> ' +
                    '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
                    '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
                    '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
                    'Really awesome </label> ' +
                    '</div><div class="radio"> <label for="awesomeness-1"> ' +
                    '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
                    '</div> ' +
                    '</div> </div>' +
                    '</form> </div>  </div>',
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function () {
                            var name = $('#name').val();
                            var answer = $("input[name='awesomeness']:checked").val()
                            $('.Example').show().html("Hello " + name + ". You've chosen <b>" + answer + "</b").fadeOut(5000);
                        }
                    }
                }
            }
            );
        });

        function AgregaCP() {
            var dynamicSelect = document.getElementById("CPLista");
            var newOption = document.createElement("option");
            newOption.value = document.getElementById("txtCP").value;
            newOption.textContent = document.getElementById("txtCP").value;//item.whateverProperty
            dynamicSelect.appendChild(newOption);
        }

        function GetTmsUNs() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetUnidadesNegocios", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);
                    if (json.Success) {
                        $("#tbUnidadNegocio tbody tr").remove();
                        //var tr;
                        //debugger;
                        //Append each row to html table
                        for (var i = 0; i < json.json.length; i++) {
                            tr = $('<tr/>');
                            //tr.append("<td class='row1'>" + json.json[i].Id_Num_Orden + "</td>");
                            tr.append("<td>" + json.json[i].Id_Num_UN + "</td>");
                            tr.append("<td>" + json.json[i].Centros + "</td>");
                            tr.append("<td>" + json.json[i].Latitud + "</td>");
                            tr.append("<td>" + json.json[i].Longitud + "</td>");
                            tr.append("<td>" + json.json[i].CodigosPostales + "</td>");
                            //nuevas columnas
                            tr.append("<td>" + json.json[i].CodigosPostales + "</td>");
                            tr.append("<td>" + json.json[i].CodigosPostales + "</td>");
                            tr.append("<td>" + json.json[i].CodigosPostales + "</td>");
                            tr.append("<td>" + json.json[i].CodigosPostales + "</td>");
                            //tr.append("<td>" "</td>");
                            //tr.append("<td>" "</td>");
                            //tr.append("<td>" "</td>");
                            //tr.append("<td><button type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button' class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >")
                            tr.append("<td><button onclick='EditSurtidores(" + json.json[i].Id_Carrier + ")' type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button'  onclick='DeleteSurtidores(" + json.json[i].Id_Carrier + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >");
                            $('#tbUnidadNegocio').append(tr);
                            //console.log(json.json[i]);
                        }
                        //console.log('se redibujó');
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function GetAlmacen() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetCommonAlmacenes", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        console.log(json);
                        var dynamicSelect = document.getElementById("cmbAlmacen");
                        console.log(dynamicSelect);
                        for (var i = 0; i < json.json.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.json[i].NumAlmacen;
                            newOption.textContent = json.json[i].NombreAlmacen;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                        console.log(dynamicSelect);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

         function GetAlmacen() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetCommonAlmacenes", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        console.log(json);
                        var dynamicSelect = document.getElementById("cmbAlmacen");
                        console.log(dynamicSelect);
                        for (var i = 0; i < json.json.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.json[i].NumAlmacen;
                            newOption.textContent = json.json[i].NombreAlmacen;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                        console.log(dynamicSelect);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function IniciarComboTipoAlmacen() {
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("IniciarComboTipoAlmacen", "Catalogo")',
                data: {

                },
                datatype: "html",
                success: function (json) {

                    if (json.Success) {
                        var sel = $("#lstIdAlmacen");
                        sel.empty();

                        $('#lstIdAlmacen').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].idOwner + '">' + json.resp[i].ownerName +  '</option>');
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);

                }
            });
        }

        $('#lstIdAlmacen').change(function () {
            _idOwner = $("#lstIdAlmacen").val();
            CmboProveedores(_idOwner);
        });


        $('#ProveedorLista').change(function () {
            _IdProveedor = $("#ProveedorLista").val();
            _idOwner = $("#lstIdAlmacen").val();
            CmboAlmacenes(_IdProveedor, _idOwner);
        });

        function CmboProveedores(_idOwner) {

             $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("GetProveedoresCmb", "Catalogo")',
                    data: {
                        idOwner: _idOwner
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success)
                        {
                            var sel = $("#ProveedorLista");
                            sel.empty();

                            $('#ProveedorLista').get(0).options[0] = new Option("--SELECCIONE--", "0");
                            for (var i = 0; i < json.resp.length; i++) {
                                sel.append('<option value="' + json.resp[i].IdProveedor + '">' + json.resp[i].NombreProveedor + '</option>');
                            }
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                    }
                });
        }

        function CmboAlmacenes(_IdProveedor, _idOwner) {

                                 $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("GetSuppliersWarehousest", "Catalogo")',
                    data: {
                        IdProv: _IdProveedor,
                        idOwner: _idOwner
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success)
                        {

                            var sel = $("#AlmacenLista");
                            sel.empty();

                            $('#AlmacenLista').get(0).options[0] = new Option("--SELECCIONE--", "0");
                            for (var i = 0; i < json.json.length; i++) {
                                sel.append('<option value="' + json.json[i].IdAlmacen + '">' + json.json[i].NombreAlmacen + '</option>');
                            }
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                    }
                });
        }

        $('#cmbMnpo').on('change', function () {

            var text = $('#cmbMnpo option:selected').toArray().map(item => item.text).join();
            alert(text);
            console.log($(this).val());
        });

        function Excel() {

            Id_CP = $("#filtro0").val();
            idSupplierWH = $("#filtro1").val();
            Latitud = $("#filtro2").val();
            Longitud = $("#filtro3").val();
            CP = $("#filtro4").val();
            Usuario_Creation = $("#filtro5").val();


            Fecha_Creacion = $("#filtro6").val();
            Fecha_Modificacion = $("#filtro7").val();
            BitActivo = $("#filtro8").val();
         

            var dataTable = $('#tbAlmacen').DataTable();
            var _searchValue = dataTable.search();
//string Id_CP
//, string , string , string , string 
//, string , string 
//, string , string , string searchValue

            window.location = window.location.origin + '/Catalogo/ExcelCodigos?Id_CP=' + Id_CP + "&idSupplierWH=" + idSupplierWH
                + "&Latitud=" + Latitud + "&Longitud=" + Longitud
                + "&CP=" + CP + "&Usuario_Creation=" + Usuario_Creation
                + "&Fecha_Creacion=" + Fecha_Creacion + "&Fecha_Modificacion=" + Fecha_Modificacion
                + "&BitActivo=" + BitActivo
                + "&searchValue=" + _searchValue


        }
    </script>

}